[2020-04-29 21:32] tsriharsha opened #11 "[FEATURE] AAD Token based Auth for Azure Databricks"
**Is your feature request related to a problem? Please describe.**
Currently this project only supports Auth Via SP and can create a token but this should not be the case, it should just use the AAD token with the right headers.

**Describe the solution you'd like**
Refactor the azure_ws_init file into an azure auth component for the dbclient.

**Additional context**
Azure customers would much rat

[2020-04-29 22:37] stikkireddy opened #12 "[TEST] Acceptance tests for Jobs"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for jobs.

[2020-04-29 22:38] stikkireddy opened #13 "[TEST] Acceptance tests for Instance Profiles"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for Instance Profiles.

[2020-04-29 22:39] stikkireddy opened #14 "[TEST] Acceptance tests for Instance Pool"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for instance pools.

[2020-04-29 22:40] stikkireddy opened #15 "[TEST] Acceptance tests for DBFS File Sync"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for DBFS File Sync

[2020-04-29 22:40] stikkireddy opened #16 "[TEST] Acceptance tests for Dbfs Files"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for Dbfs Files.

[2020-04-29 22:41] stikkireddy opened #17 "[TEST] Acceptance tests for Clusters"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for Clusters.

[2020-04-29 22:42] stikkireddy opened #18 "[TEST] Acceptance tests for AWS Mounts"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for AWS Mounts (both IAM User & IAM Role mounts).

[2020-04-29 22:44] stikkireddy opened #19 "[TEST] Acceptance tests for Notebooks"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for Azure Mounts (Blob (both SAS key and Access Key), ADLS gen 1, ADLS gen 2).

[2020-04-29 22:44] stikkireddy opened #20 "[TEST] Acceptance tests for Azure Mounts"
**Our goal is to make sure that there is acceptance tests for all resources.**
There should be an acceptance test for Azure Mounts (Blob (both SAS key and Access Key), ADLS gen 1, ADLS gen 2).

[2020-04-30 13:04] sdebruyn opened #21 "[ISSUE] Azure token auth fails with service principal secret with special characters"
### Terraform Version
[code]

### Affected Resource(s)
- all resources
### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
The request to create an access token should work without issues.

### Actual Behavior
The request fails because the client secret with the special characters isn't submitted correctly.

### Steps to Reproduce
1. `terraform apply`
2. set th

[2020-04-30 13:13] stikkireddy commented on #21
Will look into this thanks for identifying this!

[2020-04-30 13:39] sdebruyn opened #22 "[ISSUE] cluster_id is not set after cluster creation"
### Terraform Version
[code]

### Affected Resource(s)
- databricks_cluster

### Terraform Configuration Files
[code]

### Debug Output
[code]

You can see it in the state as well (I already deployed the cluster):
[code]

### Expected Behavior
According to the docs, `cluster_id` should be available. You can use both `id` and `cluster_id`.

### Actual Behavior
While `id` works as expected, `cluster

[2020-04-30 13:41] stikkireddy commented on #22
Hey Sam thanks for pointing this out, I think it would be best to keep cluster_id so I will add that as a computed field as per the docs.

[2020-04-30 16:35] sdebruyn opened #25 "[ISSUE] Cannot create a job while reusing an existing cluster"
### Terraform Version
[code]

### Affected Resource(s)
- databricks_job

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Job should be created without errors.

### Actual Behavior
An error message indicating that a parameter is missing.
I think you need to leave out the `new_cluster` parameter from the HTTP request when `existing_cluster_id` is not null to

[2020-04-30 16:35] sdebruyn commented on #22
@stikkireddy looks good to me :)

[2020-04-30 18:40] tsriharsha commented on #21
Hey @sdebruyn  the issue for this is located here where the client secret is not escaped https://github.com/databrickslabs/databricks-terraform/blob/5bb76d34e8e71887aee0ec10f2c56017fa292ab3/databricks/azure_ws_init.go#L52

https://github.com/databrickslabs/databricks-terraform/blob/5bb76d34e8e71887aee0ec10f2c56017fa292ab3/databricks/azure_ws_init.go#L104

I think it would be much better to refacto

[2020-05-01 13:30] stikkireddy opened #28 "[FEATURE] SCIM service principal resource"
**Is your feature request related to a problem? Please describe.**
I would like the scim service principal resource to be implemented, with acceptance tests and documented in the website docs. https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/scim/scim-sp

**Describe the solution you'd like**
This requires:
1. Client implementation to communicate with SCIM api
2. Resource obje

[2020-05-01 13:48] stikkireddy opened #29 "[FEATURE] Cluster Policies Resource"
**Is your feature request related to a problem? Please describe.**
I would like to be able to create cluster policies and cluster policy permissions. Please read more about it here in terms of the features they enable: https://docs.databricks.com/dev-tools/api/latest/policies.html#cluster-policy-permissions-api, https://docs.databricks.com/administration-guide/clusters/policies.html

**Describe th

[2020-05-01 13:48] #22 closed

[2020-05-01 15:33] stikkireddy opened #30 "[DOC] Document Data sources"
The following data sources are missing documentation.

### Affected Resource(s)

* [x] databricks_aws_crossaccount_policy
* [x] databricks_aws_assume_role_policy
* [x] databricks_aws_bucket_policy
* [x] databricks_dbfs_file
* [x] databricks_dbfs_file_paths
* [x] databricks_default_user_roles
* [x] databricks_notebook
* [x] databricks_notebook_paths
* [x] databricks_zones

### Expected Details
We e

[2020-05-04 09:04] sdebruyn opened #33 "[ISSUE] UnknownWorkerEnvironmentException when creating a cluster after creating a workspace"
### Terraform Version
[code]

### Affected Resource(s)
- databricks_cluster

### Terraform Configuration Files
Same one as in #21

### Debug Output
[code]

[code]

### Expected Behavior
After creating the workspace, we should be able to create the cluster during the same apply run.

### Actual Behavior
When you create a workspace and terraform goes on to immediately create a cluster, you get the m

[2020-05-04 12:17] sdebruyn opened #34 "[FEATURE] Migrate to new unique databricks hostnames"
**Is your feature request related to a problem? Please describe.**
Currently not a problem, but it's advised to start using the new unique URLs for each Databricks workspace as documented in https://docs.microsoft.com/en-us/azure/databricks/release-notes/product/2020/april#unique-urls-for-each-azure-databricks-workspace

**Describe the solution you'd like**
Replace the current code that uses https

[2020-05-04 12:28] sdebruyn commented on #34
Tracked in the azurerm provider in https://github.com/terraform-providers/terraform-provider-azurerm/issues/6732

[2020-05-04 15:15] nfx commented on #34
@sdebruyn we'll look into this issue and see what we can do. this is not a complicated one.

[2020-05-04 15:23] stikkireddy commented on #33
@sdebruyn this comment https://github.com/databrickslabs/databricks-terraform/pull/27/files#r419517843 should contain information about how to temporarily address this. This ties back to issue #21.

[2020-05-05 14:51] lawrencegripper opened #37 "[ISSUE] Azure Mount ADAL throws wrong error hiding error details"
Hi,

Great work on the provider. We've found a small bug we'd like to fix up and PR into the provider to make understanding a failure case easier.

@stuartleeks is looking at fixing this up by changing the behavior in the `try-except` block and adding an integration test to validate.  Probably tackles #20 too as an added bonus 🎉

### Terraform Version
[code]

### Affected Resource(s)

- databricks

[2020-05-05 15:03] lawrencegripper opened #38 "[ISSUE] Azure ADAL Mount always detects diff due to extra slash"
Hi,

A  bug we've hit that I'd like to pickup and PR a fix, looks like a super easy fix. We'd use integration tests to be added in #37 to validate it behaves correctly.

When re-running the `adls_gen2_mount` resource it will always detect a change due to an additional slash being detected.

Think this is likely a 1 or 2 char change to fix then adding the tests to validate.

### Terraform Version
[

[2020-05-05 15:11] lawrencegripper commented on #33
We're also seeing this in recent tests, I can validate that a retry like the one added in #27 should resolve the issue as I did something [similar in a hacked shell provider doing cluster creation here](https://github.com/lawrencegripper/hack-databricksterraform/blob/eaa6da4df6aac52c75f778106dab02f0de79f27d/scripts/cluster.ps1#L31).

[2020-05-05 15:12] stikkireddy commented on #37
Hey thank you very much @lawrencegripper please feel free to make a PR 😄 !

[2020-05-05 15:13] stikkireddy commented on #38
Hey thank you very much @lawrencegripper please feel free to make a PR 😄 !

[2020-05-05 15:18] stikkireddy commented on #33
@lawrencegripper so does retrying the api fix the issue? So what is the timeout value (like 20-30 minutes) or an infinite retry?

[2020-05-05 15:25] stuartleeks opened #39 "[FEATURE] Add Visual Studio Code Devcontainer support"
**Is your feature request related to a problem? Please describe.**
I work across a bunch of repos and each has their own requirements for tooling (and tooling versions). As part of working on the issues that @lawrencegripper recently raised, we will create a VS Code Devcontainer definition. This allows us to capture and share the requirements in a container definition and use that for any work on

[2020-05-05 15:32] stuartleeks commented on #39
For context, this would be the addition: https://github.com/stuartleeks/databricks-terraform/tree/sl/devcontainer/.devcontainer

[2020-05-05 16:52] stikkireddy commented on #39
Hey @stuartleeks this is a great idea, if possible can you also add a bit of documentation on how a user can use this. Unfortunately I am not too familiar with devcontainer. It can also be a link to vscode documentation if possible.

[2020-05-05 20:16] lawrencegripper commented on #33
Yeah retrying does fix the issue for me in all the testing I've done. Looks like the fix you put in on the PR should do the trick, I prefer your 30min timeout to my infinite loop as if things haven't worked after 30mins they're unlikely to work ever!

[2020-05-05 20:25] #25 closed

[2020-05-05 21:44] stikkireddy commented on #38
@lawrencegripper FYI: I was just browsing through why this was occurring only for adls gen 2 and not gen 1 or abs, noticed that this occurs because of the formatting for the source url which has a "/" which shouldn't be there:

Below is the adls gen 2 mount which has the abfss uri take a look at the source.
https://github.com/databrickslabs/databricks-terraform/blob/694b808e045fc86a71c7336bbd7c5dd

[2020-05-06 07:28] stuartleeks commented on #39
@stikkireddy sounds good. I'll add a note to the README next to the prerequisites for getting started with VS Code devcontainers. Hope to have a PR for you this morning :-D

[2020-05-06 08:36] lawrencegripper commented on #38
Nice, yup that looks like it's all that is needed to fix this one up. I'll make the change this morning then wrap in an integration test to prove it out.

[2020-05-06 10:53] lawrencegripper commented on #37
Here is an example test which checks the body of an error is something you want it to be in terraform

https://github.com/scottwinkler/terraform-provider-shell/blob/7adb31e46834369b8aaf5ecbee6e219008f475b2/shell/resource_shell_script_test.go#L34-L46

And here is an example provider test with relies on a different provider, we can use a similar approach to pull in the AzureRM provider

https://gith

[2020-05-06 14:15] damoodamoo opened #41 "[ISSUE] 429 Conflicts when deploying multiple notebooks"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_notebook

### Terraform Configuration Files
[code]
The above loops a number of files in a local dir and deploys them to databricks using the `databricks_notebook` provider. When more than about 3/4 files are present i'm seeing pretty regular `429` errors returned when running `tf a

[2020-05-06 14:25] damoodamoo opened #42 "[ISSUE] Notebooks content always seen as different even when no file has changed"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_notebook

### Terraform Configuration Files
[code]

### Debug Output
On first run, the resource is seen as an add, correctly, and deploys.
On subsequent `tf apply` it sees the content has having changed:
[code]

This also exacerbates the issue #41 when deploying multiple files as i

[2020-05-07 05:03] #39 closed

[2020-05-07 08:10] stikkireddy commented on #42
Hey @damoodamoo thanks for pointing this out, the issue seems to be that there is no normalization factor for the notebooks before the checksum is calculated. Unfortunately, across different clouds and potentially different Databricks deployment versions, what you import and what you export may not yield the same values.

Below is a potential solution that seems to work for me for non DBC notebook

[2020-05-07 08:21] damoodamoo commented on #42
Hi - thanks for looking into this - do you see something like this making it's way into the code?

Also noticed the tests for notebooks were all removed - were they problematic? I'm happy to look into integrating your code and getting a first pass as some tests ready in a PR, but wanted to check what your plans are/were for it perhaps.

Cheers!

[2020-05-07 08:29] stikkireddy commented on #42
Ahh, 😳 it was a copy and paste issue, I deleted the tests because it was copy and pasted. Did not want to confuse the reader into thinking that there was coverage. If you want you can take this, if not I can pick this up as it seems. But yes this should be something that makes it to the code and has a reasonable test coverage of different format types.

Please let me know if you will also be imple

[2020-05-07 08:35] stikkireddy commented on #41
@damoodamoo Thanks for pointing this out, hmm when I was testing I was using DBCs but your situation seems like a reasonable ask. So this is a behavior of the workspace notebook delete api being hit concurrently.

To make notebooks a bit more stable resource, it may be worth doing the following:

1. Separate folders from the notebook resource so that databricks_notebooks & databricks_folders are s

[2020-05-07 08:52] #21 closed

[2020-05-07 10:20] stikkireddy commented on #42
missed these two functions in the `normalizeMethodAbove`:

[code]

[2020-05-07 15:23] damoodamoo commented on #42
Quick update from me - given the current project time constraints I need to focus on an approach using the CLI to do notebook deployment, so won't be able to work on this or #41 imminently. I'm hoping i'll get time to circle back after the initial deadlines are met though.

[2020-05-07 15:35] stikkireddy commented on #42
Hey no problem! I will pick up #41 and this issue as it would need to be resolved for other customers! I have a working solution, just needs acceptance tests.

[2020-05-08 08:38] sdebruyn opened #47 "[ISSUE] Terraform crash log during plan"
### Terraform Version
[code]

Provider is a custom build from commit 6bce373c5963031d6475973c12f6752b71fda7ea
I later updated my version to da0a1786e652b125922e219727f2838f879d0195 but it kept crashing.

[code]

### Affected Resource(s)
- databricks_notebook
### Terraform Configuration Files, debug output and panic output
See https://gist.github.com/sdebruyn/f97beefc8670f643a2ec3e8894ebe81f
### Ex

[2020-05-08 13:33] sdebruyn commented on #33
I just now got this issue again, the timeout might not be long enough

[code]

[2020-05-12 09:44] mikemowgli opened #49 "[FEATURE] Support Azure Key Vault secret scope"
**Is your feature request related to a problem? Please describe.**
It is not supported creating a secret scope backed by Azure Key Vault at the moment

**Describe the solution you'd like**
An extra setting in a `databricks_secret_scope` resource to link with an Azure Key Vault

**Describe alternatives you've considered**
Only alternative so far is using a databricks backed secret scope.

[2020-05-12 10:13] mikemowgli opened #50 "[FEATURE] Support Git Integration"
**Is your feature request related to a problem? Please describe.**
It is not supported to configure the git integration of notebooks in terraform (at least, on Azure Databricks)

**Describe the solution you'd like**
Ability to define git integration for a notebook in the `databricks_notebook` resource.

**Describe alternatives you've considered**
In Azure Databricks (not sure about other flavors),

[2020-05-12 11:57] lawrencegripper commented on #49
Would be great to see this feature too.

Is this doable at the moment? I'd look at this myself via another route and the docs suggested it was only configurable via the UI

[2020-05-12 12:59] lawrencegripper commented on #33
Yeah I'm also seeing this error too today, going to take a look. Looks like the cluster create needs retry logic too

[2020-05-12 13:19] mikemowgli commented on #42
I confirm the problem and have the same issue on Azure Databricks for SOURCE notebooks.

[2020-05-12 13:52] lawrencegripper commented on #33
So my working theory here is that the workspace cluster api can go through two states, both related to this bug but both returning different error messages:

1. `com.databricks.backend.manager.util.UnknownWorkerEnvironmentException`
2. `Current organization 6286703153333741 does not have any associated worker environments`

At some point the workspace goes from `nonexistant -> 1 -> 2 -> working`.

[2020-05-12 16:19] lawrencegripper commented on #33
So here is my experiments results. I created [this script](https://github.com/stuartleeks/databricks-terraform/blob/lg/orgworkers/scripts/azure-workspace-monitor.sh) which creates a Workspace then polls it (well it does 5 at the same time just to compare)

Here is an example, when polling `ListNodes`. The error goes away then comes back in the middle, polling around every 3/4 secs.

![image](https

[2020-05-12 16:29] lawrencegripper commented on #33
No difference with the `clusters/list` endpoint added. Next on my list would be to attempt a `cluster/create` (maybe stop the script once a cluster has been successfully created) cc @stuartleeks

[2020-05-12 18:38] lawrencegripper commented on #33
So I've got an answer, shortly after creating a workspace the APIs will return errors for a period of time.

The period of time is not continuous. At points an error will occur, appear to resolve then reoccur again. My guess would be some form of load balancer is sending the requests to various nodes in a webfarm/cluster some of which have an updated view of the new workspace some of which don't.

[2020-05-12 18:56] sdebruyn commented on #33
Since you suggested that it might somehow be a load balancer that redirects to different instances, maybe #34 might be helpful since then it would immediately go to the right instance?

[2020-05-12 19:50] lawrencegripper commented on #33
Interesting, will adapt the test script and re-run to see if using the `workspaceURL` rather than location based one makes a difference.

Small world moment, the issue in AzureRM about adding adding an attribute to allow Azure Terraform to output the workspace URL is one I raised and was hoping to go fix, https://github.com/terraform-providers/terraform-provider-azurerm/issues/6732, it's currently

[2020-05-12 20:06] lawrencegripper commented on #33
@sdebruyn sadly using the direct workspace URL doesn't make a difference. Below you can see the highlighted lines which have succeeded in calling `clusters/list-node-types` in between the calls before and after which fail to call `clusters/list-node-types`. Changes to the script are here if you want to validate yourself https://github.com/stuartleeks/databricks-terraform/commit/def0ce3268c30bc8905

[2020-05-13 06:51] lawrencegripper commented on #33
One additional test I ran quickly was to validate what error code is being returned by each error. In both instances the error is a `400 - Bad Request` this makes the retry logic harder. Ideally with a server error you'd expect to receive a `500`. It's not a world ender as you can use the same logic as in the current `validateWorkspaceApis` method and check the body of the error.

Here is the full

[2020-05-13 09:00] sdebruyn commented on #33
I agree with you. Meanwhile I'm hoping that someone from the Azure team picks [this](https://github.com/Azure/azure-rest-api-specs/issues/9316) up and update the provisioning state accordingly. That would avoid all these workarounds.

[2020-05-13 10:48] algattik commented on #33
As a workaround in my [Python API client library](https://pypi.org/project/databricks-client/), I've implemented this:

--

Usage with a newly provisioned workspace
If using this module as part of a provisioning job, you need to call client.ensure_available().

When the first user logs it to a new Databricks workspace, workspace provisioning is triggered, and the API is not available until that jo

[2020-05-13 10:53] lawrencegripper commented on #50
I'd be happy to look at building out a PR for this feature. Is there an API endpoint that allows this to be configured?

[2020-05-13 11:16] mikemowgli opened #52 "[ISSUE] Warnings or "Error: Response from server (429)" when applying notebooks"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_notebook

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mikemowgli/42c32bd11e21d926cadc7b05788d49d7

### Expected Behavior
No error nor warning when applying

### Actual Behavior
warning or errors

### Steps to Reproduce
`TF_LOG=DEBUG

[2020-05-13 11:39] mikemowgli commented on #52
Please note that I can mitigate the Error 429 with `terraform apply -parallelism=1` (value of -parallelism=2` gives the same error).
Though the warnings persists of course.

[2020-05-13 12:44] stuartleeks commented on #33
@stikkireddy are you ok to re-open this issue?

[2020-05-13 12:49] stuartleeks commented on #33
Hi @algattik - thanks for your comment. In the discussion above, @lawrencegripper has put the results from his testing. Unfortunately, we're seeing that we can get a successful call to the API followed by a failing call :-(

[2020-05-13 16:23] stikkireddy commented on #33
@stuartleeks hey reopened this issue, @lawrencegripper might be worth using the retryablehttp client in the client provider, but this will be more complicated to retry as it throws a standard 400 bad request instead of a server side 5xx error.

[2020-05-13 16:25] stikkireddy commented on #52
The delete apis will fail with a 429 when you try to concurrently delete files, I will try to get these changes in hopefully by tomorrow. thanks for identifying this :)

[2020-05-13 16:26] stikkireddy commented on #50
@mikemowgli There is currently no api to support git integration via rest api for this at this point in time.

[2020-05-13 16:27] stikkireddy commented on #49
Currently key vault is not supported via rest apis.

[2020-05-13 16:50] stuartleeks commented on #33
I think the retryablehttp will fit in quite well. Have been looking at that this afternoon. Need to do some tidying up and then try it out 😃

[2020-05-14 09:46] mikemowgli commented on #49
Hi, i gave it a try and was actuallt able to create an Azure Key Vault backed Databricks secret scope with:
`curl -iL -X POST --data @create-secret-scope-body.json -H 'Host: adb-redacted.4.azuredatabricks.net' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'X-Databricks-Org-Id: 510<redacted>04' -H 'X-CSRF-Token: <redacted>' -H 'X-Requested-With: XMLHttpRequest' -H 'Content-Type: ap

[2020-05-14 17:11] christophecremon opened #54 "[ISSUE] Terraform plan command actually creates the Databricks workspace when an error is encountered"
Hi there,

### Terraform Version
+ terraform v0.12.24
+ provider.azurerm v2.9.0
+ provider.databricks v0.1.0

### Affected Resource(s)
- databricks_workspace

### Terraform Configuration Files
[code]

### Debug Output
[https://gist.github.com/christophecremon/f839ac7b0f342d277f0ceaba2fbab165](https://gist.github.com/christophecremon/f839ac7b0f342d277f0ceaba2fbab165)

### Expected Behavior
Terrafor

[2020-05-14 19:26] sdebruyn commented on #54
Hi @christophecremon, the resource `azurerm_databricks_workspace` is part of the [AzureRM](https://github.com/terraform-providers/terraform-provider-azurerm) provider and not this one. I don't think there's anything we can do in this provider to fix this issue. I suggest opening an issue on the terraform-provider-azurerm repo. However, I noticed similar behaviour.

[2020-05-14 22:55] christophecremon commented on #54
I think that the issue comes from the Databricks provider, not able to find the Databricks workspace, as a prerequisite to create the cluster, and then creates it. A Terraform Plan command should not create any resource, so I think the problem comes from the Databricks provider. Can you please check the resource dependencies? Thanks!

[2020-05-15 05:51] linkinchow commented on #54
@christophecremon Agree. I faced the same issue. It works only if Azure Databricks workspace is provisioned in advance.

[2020-05-15 07:22] sdebruyn commented on #54
This provider doesn't contain any code that can create workspaces. You can see in your logs that `terraform-provider-databricks` immediately fails because the expected workspace has not been created. It can't create a cluster because it can't create the token that it needs to authorise that request.

[2020-05-15 07:28] christophecremon commented on #54
From my understanding, to create a cluster, we must first create a Databricks workspace (dbw.tf for example), and then invoke the Databricks provider to create the cluster (dbcluster.tf for example)? There is no way to implement dependency between workspace and cluster (and so invoking the workspace creation if it does not exists)?

[2020-05-15 07:59] christophecremon commented on #54
From my understanding, to create a cluster, we must first create a Databricks workspace, using azurerm provider, and then invoke the Databricks provider to create the cluster, referencing the workspace that has been created with the azurerm provider?
What I don't understand is why the Databricks workspace (pricing tier premium) is **actually created, when using the terraform plan command, after th

[2020-05-15 08:16] linkinchow commented on #54
If we remove the databricks provider and databricks_cluster in the code, terraform plan will not create the workspace. So I'm guessing the databricks provider cause the issue?

[2020-05-15 12:59] stikkireddy commented on #54
Hey this is an issue caused by this provider, thank you for pointing it out. Identified the root cause being this `https://management.azure.com/subscriptions/%s/resourceGroups/%s/providers/Microsoft.Databricks/workspaces/%s?api-version=2018-04-01 api` call. It is part of the azure_auth: getWorkspaceID. So converting this to generate the id will resolve the creation of the workspace issue.

However

[2020-05-15 18:15] christophecremon commented on #54
@stikkireddy Thanks! What is your advice then on how to automate Databricks workspace creation and cluster creation in a DevOps pipeline? We should be able to add a dependency between the resources, right? Or move Terraform files in two different directories (one for the workspace, and one for the cluster)?

[2020-05-18 07:29] lawrencegripper commented on #34
Created a PR here to add into AzureRM: https://github.com/terraform-providers/terraform-provider-azurerm/pull/6973

[2020-05-18 20:11] psg2 opened #55 "Nil Pointer reference on calculateLibraryChanges"
The method tries to check if the libraries have a non-empty string for its name but for the Pypi, Maven and Cran libraries are pointer to structs, so when it tries to check the len like the following, it can lead to an exception.
[code]

[2020-05-19 10:48] stuartleeks opened #56 "[FEATURE] Enable alternative authentication options for Azure Databricks"
**Is your feature request related to a problem? Please describe.**
We are using the `databricks-terraform` provider in conjunction with the `azurerm` provider to deploy an Azure Databricks Workspace and set up Databricks using tasks in Azure DevOps Pipelines.

When using the [Terraform task](https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks) in Azure DevOps Pipe

[2020-05-19 10:49] stuartleeks commented on #56
@stikkireddy - would you be open to me submitting a PR to add this capability? Would default to the `DATABRICKS_TOKEN` as is currently used but allow opting in to the Azure auth

[2020-05-19 12:09] stuartleeks commented on #56
Having looked at the code, I think this could be as simple as added a couple of extra `else` conditions here: https://github.com/databrickslabs/databricks-terraform/blob/6bce373c5963031d6475973c12f6752b71fda7ea/databricks/provider.go#L160

e.g.

[code]

In other words, keep everything as-is, but add a fallback that if Azure is specified then also try the env vars that the `azurerm` provider would

[2020-05-20 03:29] #37 closed

[2020-05-20 10:11] lkc-adm opened #57 "[FEATURE] Make databricks mounts use Sensitive attribute for authentication secrets in resource schemas"
**Is your feature request related to a problem? Please describe.**

Currently resource_databricks_azure_* mounts don't have "Sensitive" method on their secrets in schema making it possible to print out secrets to standard output.

**Describe the solution you'd like**

Addition of "Sensitive bool" method, as per the official documentation.
https://www.terraform.io/docs/extend/schemas/schema-methods

[2020-05-20 13:01] stikkireddy commented on #57
hey @lkc-adm this is the key to the secret itself that is stored in the keyvault, or databricks secrets api. Not sure if this is considered a sensitive item as this is just the key to the secret. The secret itself is not part of the resource definition; it will not be saved in the state nor be printed out.

[2020-05-20 13:33] mikemowgli opened #58 "[FEATURE] Support for Azure AD credentials passthrough"
In the `databricks_cluster` resource, it'd be nice to be able to enable Azure AD credentials passthrough.

[2020-05-20 15:26] lkc-adm commented on #57
Hi @stikkireddy :)
Thanks for a blazing fast reply. You're absolutely right. I jumped to conclusion way too soon without proper understanding of how dbutils.secrets work. Apologies for wasting your time.

[2020-05-20 15:26] #57 closed

[2020-05-20 19:52] stikkireddy commented on #54
@christophecremon @stuartleeks so I mulled over this a bit more in terms of what the problem is and how terraform "configures" providers. So I came up with a nifty solution using pointers and mutexes. So currently we pass a value of the client to the resource which is generated by the configure function. Rather than doing this, it may be better to pass along a pointer. This way we do not need to n

[2020-05-21 11:56] stikkireddy commented on #58
Hey @mikemowgli this is already part of the `databricks_cluster` resource. When you click enable azure ad credentials passthrough all databricks is doing is creating a spark conf item. To use in the cluster resource you can do the following:
https://databrickslabs.github.io/databricks-terraform/resources/cluster/#--spark_conf

[code]

The same logic applies for table acls.
Please let me know if th

[2020-05-21 12:03] stikkireddy commented on #49
I believe this is the webform http request, unfortunately this is not supported via api and those types of requests are potentially subject to change. I am a bit averse in attempting to add stuff not supported by rest api to this provider as I wont be able to get support internally on breaking changes if they are not part of the API. But I will also let other folks weigh in. Generating the session

[2020-05-21 12:12] stikkireddy commented on #34
@lawrencegripper also noticed that in the existing code I actually can get the url with the GET request from the management API so, we may not need the workspace url fetched from the Azure RM client as the management api provides a url with the new format.

The following get request provides it:

[code]

[2020-05-21 16:11] #56 closed

[2020-05-21 19:35] stuartleeks opened #63 "[FEATURE] Support AAD Passthrough for ADLS mounts"
**Is your feature request related to a problem? Please describe.**
Currently ADLS mounts allow mounts to be created using service princpal details, but for some scenarios we want to be able to provision mounts using AAD Passthrough: https://docs.microsoft.com/en-us/azure/databricks/security/credential-passthrough/adls-passthrough#--mount-azure-data-lake-storage-to-dbfs-using-credential-passthrough

[2020-05-21 19:37] stuartleeks commented on #63
@stikkireddy - this is the suggestion I mentioned to you. Does this seem like a reasonable approach?

Am thinking that the properties on `service_principal` (e.g. `tenant_id`) would be marked as required, but the `service_principal` property itself would be optional with a validation function to check that it is specified when `mount_type` is set to `ServicePrincipal`.

[2020-05-21 21:04] stikkireddy commented on #63
@stuartleeks I like the approach, at this point in time I do not have visibility into how many people use this resource to provision mounts so I think it would be best to make these "breaking" changes asap as this is still a minor version of the provider and breaking changes are expected to happen. But the service_principal block seems to be a good approach to make the resource a bit cleaner

[2020-05-21 21:05] stuartleeks commented on #63
Cool. Thanks for your response - I'm hoping to work on this tomorrow :-)

[2020-05-22 02:25] stikkireddy commented on #38
Going to close this issue as the PR is merged!

[2020-05-22 02:25] #38 closed

[2020-05-22 02:27] stikkireddy commented on #33
Closing this as @stuartleeks was kind enough to implement the retryablehttp client as the base client implementation for the databricks go sdk. It has a set of transienterrors that it retries upon seeing and any future issues regarding this with a new error message will be added into that list of errors that we need to retry upon.

[2020-05-22 02:27] #33 closed

[2020-05-22 06:21] lawrencegripper commented on #34
Ah nice work around, in good news the change is shipping now from azurerm so can be used shortly if that saves some effort https://github.com/terraform-providers/terraform-provider-azurerm/issues/6732

[2020-05-22 07:07] stuartleeks commented on #34
Just shipped 😀

https://github.com/terraform-providers/terraform-provider-azurerm/releases/tag/v2.11.0

[2020-05-22 18:16] stuartleeks commented on #63
Hey @stikkireddy

I've coded this up and am trying to test it now. I've set this on the cluster I'm testing the AAD Passthrough mount with:

[code]

When I run the test I get an error: ` Error: com.databricks.backend.daemon.data.client.adl.AzureCredentialNotFoundException: Could not find ADLS Gen2 Token`

I noticed that if I create a cluster via the UI I also get a `single_user_name` property set

[2020-05-25 08:27] mikemowgli commented on #58
Didn't know it could be done via spark conf. Let's close it then. Thanks!

[2020-05-25 08:27] #58 closed

[2020-05-26 16:23] sebastus opened #65 "[ISSUE] Manually deleted mount throws error on next tf plan"
Hi folks,

If you create an azure blob mount with tf, delete it manually (via databricks notebook), then re-run terraform plan, a file not found error is thrown.

### Terraform Version
terraform -v == 0.12.19
+ azurerm == 2.11.0
+ random == 2.2.1
+ databricks == 0.1.0

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_azure_blob_mount

### Terraform Configurat

[2020-05-26 17:32] sdebruyn opened #66 "[ISSUE] Databricks provider uses invalid access token"
### Terraform Version
[code]
Current master branch

### Affected Resource(s)
- all resources

### Terraform Configuration Files
https://github.com/datarootsio/terraform-module-azure-datalake/blob/a3c400b5bf40c2d64159bd703428c062f0174a23/databricks.tf

### Debug Output
https://github.com/datarootsio/terraform-module-azure-datalake/runs/709963745?check_suite_focus=true

[code]

### Expected Behavior

[2020-05-27 12:51] stikkireddy commented on #63
Hey @stuartleeks was on PTO till today, had sometime to look at this.

Pass through is generally used in a shared "high concurrency" cluster and it seems that the following spark options are what creates these "high concurrency" clusters. You may need these enabled to enable passthrough or at least test passthrough with adls.
[code]

[2020-05-27 12:52] stikkireddy commented on #63
Standard clusters require "single_user_name" field populated in the cluster model in the post request for the passthrough to work appropriately

[2020-05-27 13:16] christophecremon commented on #54
@stikkireddy Thanks, can we test it? Thanks

[2020-05-27 13:17] christophecremon commented on #54
@stikkireddy Thanks, can we test it?

[2020-05-27 13:55] psg2 opened #67 "library_cran.Messages should be type list string like other libraries"
https://github.com/databrickslabs/databricks-terraform/blob/20e0acb2eacfe1c93f436002e8bc94a5698ab5d2/databricks/resource_databricks_cluster.go#L457

This can break the provider during a refresh operation if the library has messages and the provider is expecting a single string.

[2020-05-27 14:25] storey247 opened #68 "[ISSUE] Secret belonging to manually deleted secret-scope throws error on next tf plan"
### Terraform Version
[code]

### Affected Resource(s)
- databricks_secret_scope
- databricks_secret

The issue is not present with `databricks_secret_scope` alone, but is required for `databricks_secret`

### Terraform Configuration Files
[code]

### Debug Output
[debug output](https://gist.github.com/storey247/df205b76b952655b463550edaf1234cb)

### Expected Behavior
Terraform should be able to p

[2020-05-28 07:55] stuartleeks opened #71 "[FEATURE] Add cluster.single_user_name"
**Is your feature request related to a problem? Please describe.**
Currently unable to create interactive single-user clusters as the cluster resource doesn't allow seeting the `single_user_name` property

**Describe the solution you'd like**
Adding the `single_user_name` property to the cluster resource would solve this

**Describe alternatives you've considered**
None (other than falling back to

[2020-05-28 07:56] stuartleeks commented on #63
@stikkireddy - I've added #71 to track adding `single_user_name` to the cluster resource

[2020-05-29 02:43] stikkireddy commented on #54
@christophecremon apologies that this has a been a bit slow, was on vacation. I should have a PR for this later tomorrow (EST).

[2020-05-29 05:01] #68 closed

[2020-05-29 05:45] #71 closed

[2020-05-29 12:14] stuartleeks commented on #54
Hey @stikkireddy  - we've just hit this issue in the work we're doing. If you have a branch with the PR work in we can give it a spin if that helps?

[2020-05-29 16:24] #47 closed

[2020-05-29 16:37] sdebruyn commented on #66
Note that this does not happen every time... it seems another issue where the API says it's okay, but you can't use it right away

[2020-05-29 21:46] Gnarik opened #75 "[ISSUE] new_cluster field is empty when creating databricks_job"
Hi there,

When we are trying to create a Databricks job with the new_cluster field fulfilled the payload sent to the API is empty.

### v0.12.26

### Affected Resource(s)
- databricks_job

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/Gnarik/21805a0ceb7e8fd26b67318d83ff80f6

### Expected Behavior
We would expect to have the field new_cluster fulfilled with the

[2020-06-01 09:59] masoncusack opened #77 "[DOC] Explaining spark_version string in cluster resource usage example"
I had some trouble finding a valid `spark_version` string for a cluster resource.

It'd be nice if the generic format of the string, or a selection of valid options to use from which this could be inferred, were provided under [the usage example](https://databrickslabs.github.io/databricks-terraform/resources/cluster/#example-usage) in the cluster resource documentation.

I guess the choice of doc

[2020-06-01 10:14] stuartleeks commented on #54
#76 is an attempt to work around this. Gave it some testing over the weekend and have been using it this morning and it seems to be working fine

[2020-06-01 11:49] stikkireddy commented on #77
Maybe a reference to this may help the user: https://docs.databricks.com/dev-tools/api/latest/index.html#runtime-version-strings

An additional help would be to add a data source object for the following api: https://docs.databricks.com/dev-tools/api/latest/clusters.html#runtime-versions

[2020-06-01 11:53] stikkireddy commented on #75
@Gnarik hey is this with the released build or the master branch build?

[2020-06-01 13:04] Gnarik commented on #75
Hi, this is the HEAD of the master branch. Note sure it's relevant but note that I only ran the following command from the Makefile:
`@go build -mod vendor -v -o terraform-provider-databricks`

[2020-06-01 13:27] Gnarik commented on #75
Fixed by the #79

[2020-06-01 13:27] #75 closed

[2020-06-01 13:28] stikkireddy commented on #65
fixed by #69

[2020-06-01 13:28] #65 closed

[2020-06-01 13:30] Gnarik commented on #75
Thank you very much for the very fast correction.

[2020-06-01 16:17] masoncusack commented on #77
Agreed, these would be great additions.

[2020-06-02 20:10] #54 closed

[2020-06-03 13:12] rafaelpierre commented on #49
This would help a lot. Currently this is one of the only manual steps in any Databricks Workspace deployment that we have.

[2020-06-03 19:51] Gnarik opened #81 "[ISSUE] ebs_volume_count disappear in API HTTP call"
Hi there,

When creating a new job with the `new_cluster` field fulfill, the parameter `ebs_volume_count` disappears which leads to a response error from Databricks API.

### Terraform v0.12.26
Databricks provider version is master branch patched with https://github.com/databrickslabs/databricks-terraform/pull/79

### Affected Resource(s)
- databricks_job

### Terraform Configuration Files
[code]

[2020-06-05 11:19] sdebruyn commented on #49
I also agree that it would be better to have an API endpoint to set this up. However, as a temporary workaround, I was wondering how I can use your solution. Where did you get the redacted values from? Like the CSRF token, the JSESSIONID etc.

[2020-06-05 11:31] mikemowgli commented on #49
Developer mode in Chrome. I didn't do further reverse engineering...

[2020-06-08 13:44] masoncusack opened #84 "[ISSUE] Inconsistent user groups deployment/state"
### Terraform Version
0.12.26

### Affected Resource(s)
- databricks_scim_group (possibly)
- databricks_secret_scope (possibly)
- databricks_secret_acl (possibly)

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/masoncusack/3806347b0ef5ed873ac77689c63a4ab6

### Expected Behavior
It should be recognised that a user group has been destroyed.

### Actual Behavior
TF

[2020-06-09 09:53] masoncusack commented on #84
I'm noticing that secret scopes aren't deleted by `terraform destroy`, which also causes crashes and inconsistent state.

[2020-06-09 15:33] Gnarik commented on #81
Hi, do you have any comment on this issue ?

[2020-06-09 19:19] storey247 opened #86 "[ISSUE] ADLS Mount with cluster that has been deleted causes error in tf plan"
### Terraform Version
0.12.26

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster
- databricks_azure_adls_gen2_mount

### Terraform Configuration Files
[code]

### Panic Output
N/A

### Expected Behavior
When the cluster that originally created the mount has been deleted inside databricks, the `tf plan` should identify this. It should then identify that

[2020-06-09 19:22] storey247 commented on #86
Have noticed that this error is also present in the blob mount resource too

[2020-06-09 22:34] stikkireddy opened #89 "[FEATURE] Support Multiple Workspaces API for AWS"
**Is your feature request related to a problem? Please describe.**
Support multiple workspaces api to be able to provision Databricks workspaces via terraform.

**Describe the solution you'd like**
Creation of new resources:
- Credentials
- Storage Config
- Network (BYOVPC)
- Workspace creation

**Additional context**
This is a brand new public preview api for the AWS cloud service provider

[2020-06-09 22:38] #89 closed

[2020-06-10 15:41] EliiseS opened #92 "Manually deleted workspace with secret scope results in error on plan"
Creating a workspace with a secret scope, cluster or possibly other references and then manually deleting the workspace after creating, results in an error on terraform plan/apply.

### Terraform Version
0.12.24

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_workspace
- databricks_job

### Terraform Configuration Files
[code]

### Panic Output

[code]

###

[2020-06-11 12:57] stikkireddy commented on #86
closing the issue as pr #87 has been merged in

[2020-06-11 12:57] #86 closed

[2020-06-11 16:15] sdebruyn commented on #55
I got the same error with 0.2.0

[code]

[2020-06-11 19:44] psg2 opened #93 "Problem initializing provider for MWS"
During configuration, there is validation to check if the host or token is empty and if one of them is, the provider will try to read the databricks config file.

[code]

The problem here is that for MWS you need to setup host and basic_auth, but if you don't provide token it will try to read your config file leading to two possible scenarios:
- It reads the file successfully and overwrites the ho

[2020-06-11 21:19] stikkireddy commented on #93
@psg2 sorry small oversight in terms of order of preference, it should be host + (token | basic auth) -> credentials file

[2020-06-11 21:22] psg2 commented on #93
No problem at all.
The next time if I have time I will try to collaborate with a pull request as well instead of just reporting. 😄

[2020-06-12 11:42] storey247 opened #94 "[ISSUE] databricks_azure_adls_gen2_mount does not validate directory"
### Terraform Version
`Terraform v0.12.26`

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_azure_adls_gen2_mount

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
The `tf plan` should throw an error saying that the directory does not match the validation logic of starting with a `/`

### Actual B

[2020-06-12 13:13] stikkireddy commented on #55
@sdebruyn will pick this up with a acceptance test for clusters, been putting this off for a bit till I had some time as running acceptance tests for clusters is quite time consuming

[2020-06-12 14:02] #93 closed

[2020-06-12 14:07] psg2 opened #97 "Provider basic auth block default func doesn't work."
There is a default function setup for username and password, but as the attributes are required, you need to specify a valid string invalidating the environment variable.

[code]

Reference: https://github.com/databrickslabs/databricks-terraform/blob/34e68d5de27b22e01d4b78ad570ebd8b1bf418c2/databricks/provider.go#L74

[2020-06-12 14:08] #97 closed

[2020-06-12 14:09] psg2 commented on #97
I was wrong regarding this issue. It first tries to read the environment variable before warning that the field is required. I've closed my terminal and when I opened it again I forgot to put my environment variables. ):

[2020-06-12 14:14] stikkireddy commented on #94
Hey @storey247 is this sporadic or always like this? when the above scenario is there.

[2020-06-12 14:15] stikkireddy commented on #94
and could this be potentially tied to #66?

[2020-06-12 14:56] storey247 commented on #94
So the issue am fixing here is just the inconsistent validation of the schema in the ADLS gen 2 mount. Looks like the issue on #66 is the same error I was seeing and happens when the execution context times out.

In my situation though the timeout was happening as without the `/` the directory merges with the adfs uri and then ends up with a request that takes forever.

[2020-06-12 15:05] nfx opened #98 "[FEATURE] Cluster config validation before sending request"
**Is your feature request related to a problem? Please describe.**

Databricks UI provides some validation, so provider has to do it as well. E.g.

[code]

**Describe the solution you'd like**
Cluster config validation before sending request

[2020-06-12 18:23] algattik opened #99 "[DOC] Should not use resource output in provider definition"
### Affected Resource(s)
https://github.com/databrickslabs/databricks-terraform/blob/master/website/content/Provider/_index.md

### Expected Details

The doc suggest using the output of a resource in the provider definition:

[code]

The Terraform Kubernetes provider documentation warns against this. Presumably this would affect the Databricks provider too, although I have not encountered this iss

[2020-06-12 19:35] stikkireddy commented on #99
Good point @algattik, I will add this as a warning. I believe this can also happen, I have not encountered it as of now. All token creation and generation actually happens during runtime and not at provider configure but if a resource (notebook, cluster, etc.) is being created before workspace is provisioned then it will fail at runtime!

[2020-06-13 05:32] rafaelpierre commented on #49
Any news on this? This looks like something so simple to and valuable... would make a lot of sense of at least have in the roadmap

[2020-06-15 04:59] stikkireddy commented on #49
@rafaelpierre at this time no, there is no rest api support for this at this point in time

[2020-06-15 07:31] sdebruyn commented on #66
It doesn't happen on every run, but it did here: https://github.com/datarootsio/terraform-module-azure-datalake/commit/cc36e3c69acef26821ddbfb980b867a6d6241b82/checks

[2020-06-15 09:34] masoncusack commented on #84
Hi, is it not possible to smoothly apply and destroy these interdependent resources? This was the main issue I was coming across. A general destroy will cause errors on later applies because the user group no longer exists. We know that it no longer exists and this is the desired state, but why does the apply fail?

Perhaps this is a known issue that can't be fixed?
Could we mandate that `depends_

[2020-06-15 13:41] Happycoil opened #103 "[ISSUE] Panic when using `idempotency_token`"
### Terraform Version
`Terraform v0.12.26`

### Affected Resource(s)
- databricks_cluster

### Terraform Configuration Files
[code]

### Panic Output
[code]

### Steps to Reproduce
1. `terraform apply`

### Important Factoids
I don't really know go yet, but is the parameter defined as an [integer](https://github.com/databrickslabs/databricks-terraform/blob/master/databricks/resource_databricks_clu

[2020-06-15 14:23] EliiseS commented on #92
Hey! Thanks for getting back to me so quickly, sorry for the delay on my part.
I've updated the issue with an example config to reproduce the issue. I've discovered this issue with SP, which I think is the only scenario this would make sense in, since the workspace is being created in the same terraform. Correct me if I'm wrong in that assumption.

_So is the expected behavior that we propagate th

[2020-06-15 15:32] stikkireddy commented on #103
@Happycoil thanks for pointing this out, will be working on an integration test for this, it is an easy fix but want to make sure that this resource is covered.

[2020-06-15 15:36] stikkireddy commented on #55
this should be captured in this https://github.com/databrickslabs/databricks-terraform/blob/fa5daa7721770a28b75e5cf530351b04f56a785f/databricks/resource_databricks_cluster.go for pr #102 but I will be adding a new acceptance test for clusters to verify libraries

[2020-06-15 21:17] storey247 opened #105 "[ISSUE] Storage mount fails to refresh state if directory invalid/deleted"
### Terraform Version
0.12.26

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_azure_adls_gen2_mount
- databricks_azure_adls_gen1_mount
- databricks_azure_blob_mount

### Terraform Configuration Files
[code]

### Debug Output
[code]
### Panic Output
N/A

### Expected Behavior
The `terraform plan` should have correctly refreshed state and identified the mount

[2020-06-16 08:17] mikemowgli commented on #52
any news on this one?

[2020-06-16 09:04] nfx commented on #99
@stikkireddy I've actually encountered same issue with PAT created in MWS API, as it's expired and not refreshed. I'll be digging into it later. for now i'll probably end up doing manual terraform state modification.

[2020-06-16 13:12] damoodamoo commented on #42
Hi there @stikkireddy - is this still open as-is? I have some time to look into it now if that would still be helpful...

[2020-06-16 13:13] stikkireddy commented on #42
@damoodamoo hey sorry about that I am making the pr in the afternoon regarding this, I lumped a few notebook issues together. with integration testing.

[2020-06-16 13:16] damoodamoo commented on #42
awesome - does any of that cover the 429 issue too (#41) ?

[2020-06-16 13:33] stikkireddy commented on #42
yep it does

[2020-06-16 14:23] EliiseS commented on #92
I'd like to pick up this and try to work out a solution if you don't mind? I'd love to hear if you have ideas for a solution too!

[2020-06-16 14:48] mfolley commented on #66
I have seen similar behaviour, and think I have tracked down the reason we are seeing it at least. We consistently get this error when our deployments take longer than 10 minutes, which is often the case when creating a cluster.

This seems to be because the workspace bearer token that is created for the provider to interact with the Databricks REST API is hard coded to live for 10 minutes: https:

[2020-06-16 15:03] mfolley commented on #66
We consistently see this issue when our deployments take longer than 10 minutes, which is often the case when cluster creation is part of the operation.

I think I have tracked this down to the fact that the workspace access token created is hard-coded to live for 600 seconds: https://github.com/databrickslabs/terraform-provider-databricks/blob/master/databricks/azure_auth.go#L136 (not 60 mins as

[2020-06-16 15:46] sdebruyn commented on #66
That is a very good point. My deployments can take up to an hour because they involve connecting several components and some resources like Cosmos DB takes about 10 minutes for that resource alone.

Maybe it would be useful to have an expiration of 1 hour with automatic renewal before it expires?

[2020-06-16 16:39] stikkireddy commented on #105
Closing as pr was merged

[2020-06-16 16:39] #105 closed

[2020-06-16 23:44] stikkireddy commented on #66
proposed pull request is here at #110 please let me know if that seems appropriate fix for this.

[2020-06-17 08:04] nfx opened #113 "[FEATURE] Pinned Cluster Support"
SDK has support for pinning/unpinning the cluster, though it's not available through the resource.

We should add `is_pinned = true/false` to resource and make sure cluster deletion would unpin the cluster before doing so, as `Cannot delete pinned cluster 0000-111222-abcd0. Please ask an admin to unpin the cluster first.` errors are appearing in current version.

[2020-06-17 10:43] lawrencegripper commented on #92
This may help as the workspace URL would change as the workspace was recreated https://github.com/databrickslabs/terraform-provider-databricks/issues/34

[2020-06-17 10:45] EliiseS commented on #34
I'll be picking up this one in an attempt that it'll fix #92

[2020-06-17 13:00] stikkireddy commented on #92
@lawrencegripper @EliiseS if my understanding is correct both, urls, the old pattern and new pattern should work but yes i agree with Lawrence that with the new changes to the workspace in azurerm we should probably migrate to the new url scheme.

[2020-06-18 09:27] lawrencegripper opened #117 "[FEATURE] Automated release created in github when change on master"
**Is your feature request related to a problem? Please describe.**

Would be great to get an automated process setup which creates a release when a change is put onto `master`

**Describe the solution you'd like**

In the past I've used [goreleaser]() to build out a nice release process for [azbrowse](https://github.com/lawrencegripper/azbrowse/blob/master/.goreleaser.yml). I'd be happy to do a PR

[2020-06-18 10:40] EliiseS commented on #92
The issue persists after testing with the new ´workspace_url´ field from #114

tfplan result:
[code]

[2020-06-18 11:39] stikkireddy commented on #117
Hey @lawrencegripper I understand the want to create a release per merge to master but since we are not using release branches at this point in time, till we get to a stable version of this provider. It will create a release & tag per pr. It may become overwhelming in terms of deciding to use and update the provider (especially since you would need to refresh every time). I was hoping we can follo

[2020-06-18 12:21] stuartleeks commented on #117
If the small incremental releases typically just result in a change to the patch number (e.g. `0.2.1`, `0.2.2`, or `0.2.<buildnum>`) then I'm onboard with this. Users can easily pick a version (`=0.2.0`) if they want to, or just opt for latest path for a specific minor version (`~>0.2`) depending on their preferences for consuming updates. But at least by making releases available you give users a

[2020-06-18 16:07] stikkireddy commented on #92
Can you please paste your provider hcl code @EliiseS ?

[2020-06-19 06:57] algattik opened #123 "[ISSUE] Broken install script: missing databricks-terraform_0.2.2_Linux_64-bit.tar.gz"
2020-06-19T06:52:09.4868005Z ##[group]Run curl https://raw.githubusercontent.com/databrickslabs/databricks-terraform/master/godownloader-databricks-provider.sh | bash -xs -- -b $HOME/.terraform.d/plugins
2020-06-19T06:52:09.4868582Z [36;1mcurl https://raw.githubusercontent.com/databrickslabs/databricks-terraform/master/godownloader-databricks-provider.sh | bash -xs -- -b $HOME/.terraform.d/plugin

[2020-06-19 08:19] sdebruyn commented on #123
Can confirm, got the same here: https://github.com/datarootsio/terraform-module-azure-datalake/runs/787241407

[2020-06-19 09:22] lawrencegripper commented on #117
As discussed in the linked PR the proposal is to move to a 7 day automated release cycle (if changes are present) potentially using GitHub Actions.

[2020-06-19 10:19] stikkireddy commented on #123
Hey thanks for catching this, I have a fix for this. Root cause is conforming to the requirements of this: https://registry.terraform.io/providers/databrickslabs/databricks/latest caused the godownloader generated script to fail. I have a fix for this will merge this in within the next hour or so. But on the bright side we are on the registry :) Community provider for now.

[2020-06-19 10:36] stikkireddy commented on #123
please verify that the script now works, it should be fixed.

[2020-06-19 10:38] stikkireddy commented on #55
@sdebruyn can you verify that this is still an issue?

[2020-06-19 12:06] Vertig00 opened #126 "[ISSUE] Cannot create notebook using repository"
Hi there,

### Terraform Version
Terraform v0.12.26

### Affected Resource(s)
- databricks_notebook

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/Vertig00/8a682161b372f53c726339e56284b0de.js

### Expected Behavior
Expect to create notebook res

[2020-06-19 12:12] sdebruyn commented on #123
I can confirm it's working again, thanks! 🙏 https://github.com/datarootsio/terraform-module-azure-datalake/runs/788001661

[2020-06-19 12:30] sdebruyn commented on #55
I can confirm that this is fixed AFAIK :) I just removed some libraries from my cluster and it worked fine.

[2020-06-19 12:38] sdebruyn opened #127 "[ISSUE] Authentication doesn't work anymore when the workspace will be created by terraform apply"
### Terraform Version
I haven't changed my code, but the issue started appearing with the new 0.2.2 release.
Environment is the one from GitHub actions
Terraform v0.12.26
https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md

### Affected Resource(s)
all resources

### Terraform Configuration Files
From https://github.com/datarootsio/terraform-module-azure-d

[2020-06-19 12:40] stikkireddy commented on #126
This is due to mkdirs not working appropriately on windows due to Path function

[2020-06-19 13:19] algattik commented on #127
See #99

[2020-06-19 13:23] algattik opened #128 "[ISSUE] azure_auth fails in v0.2.2"
Resource provisioning fails with *The subscription 'resourceGroups' could not be found.*

Passing ARM_ settings through env variables (works with v0.2.0, fails with v0.2.2)

### Terraform Version
 0.12.24

### Affected Resource(s)
- databricks_token
- databricks_instance_pool
- databricks_secret_scope

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/algattik/27f4

[2020-06-19 13:24] algattik commented on #123
Works! The script installs the provider.

[2020-06-19 13:28] algattik commented on #123
Script is failing though when trying to install older version.

[code]

on Linux:

[code]

On Mac:

[code]

[2020-06-19 13:31] stikkireddy commented on #127
working on a fix for this to use blocks instead of maps, TypeMaps in terraform behave in a bizarre manner especially when applying default values. Running integration tests right now. Will respond when it gets resolved.

[2020-06-19 13:32] stikkireddy commented on #128
working on a fix for this to use blocks instead of maps, TypeMaps in terraform behave in a bizarre manner especially when applying default values. Running integration tests right now. Will respond when it gets resolved.

[2020-06-19 13:32] sdebruyn commented on #127
@algattik Ok, but was this changed intentionally?

[2020-06-19 15:20] stikkireddy commented on #127
@sdebruyn no this should not have been impacted, we added config file as an option for the non azure auth workflow

[2020-06-19 17:22] stikkireddy commented on #123
unfortunately to conform to provider specs the script will not work with previous releases and they would need to be installed manually. Unfortunately the specs changed in the goreleaser file and naming conventions as well as checksum files :|. Still figuring out if there is a way re release old tags with the correct artifact names.

[2020-06-20 10:01] sdebruyn commented on #127
Ok :)
Same thing happens with host+token auth btw

[code]

[2020-06-22 12:50] EliiseS commented on #55
@stikkireddy This should be closed :)

[2020-06-22 20:05] nfx commented on #117
@lawrencegripper 7-day automated release cycle using github actions is an interesting idea.

having release per PR is something we cannot yet afford maintaining.

[2020-06-22 22:26] nfx commented on #66
probably we'd need to re-issue PAT's on 403 responses, when they expire

[2020-06-22 22:33] nfx commented on #29
done in #

[2020-06-22 22:33] #29 closed

[2020-06-22 22:38] #123 closed

[2020-06-24 09:28] algattik opened #136 "[ISSUE] Can't destroy DBFS file over 4MB"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.12.24

### Affected Resource(s)
- databricks_dbfs_file

### Terraform Configuration Files
[code]

### Debug Output
terraform destroy

[2020-06-24 13:49] stikkireddy commented on #136
Sorry this should be documented, its a limitation of terraform that you are not able to send more than 4mb on a field (or resource not sure here) via grpc protocol. Unfortunately, this resource may need to be redesigned to include path, local_path and md5_checksum

[2020-06-24 14:05] nfx commented on #136
@stikkireddy we should fail the resource at plan stage and make descriptive message :)

[2020-06-24 14:07] stikkireddy commented on #136
ya the quickest patch at the moment would be to add a validate func to verify that it is 4mb or less on the content field

[2020-06-24 14:09] #34 closed

[2020-06-24 14:15] nfx commented on #42
@stikkireddy i'd suggest *not to track notebook content at all for now* and always replace the notebook at every run. this will simplify resource and behaviour would be consistent with Stack CLI

[2020-06-24 14:22] stikkireddy commented on #42
@nfx So to do that there are three options:
1. Stop support of this resource entirely and suggest to use provisioners (Not a great idea)
2. Only support source type which makes it very easy to identify difference. (I am leaning towards this as DBC is also very annoying to resolve) (this will make the resource very simple to program & read)
3. Accept that the resource will always identify a differe

[2020-06-24 14:29] stikkireddy opened #137 "[DOC] Issue Short Description"
Hi there,

We need proper documentation for the new resource that was added databricks_group (this is different from databricks_scim_group)

### Affected Resource(s)
databricks_group

### Expected Details
We need
1. Descriptions, information & any necessary warnings
2. Example usages
3. Argument reference
4. Attribute reference
5. Imports

[2020-06-25 06:12] #55 closed

[2020-06-25 09:02] nfx commented on #136
This issue per se won't be fixed due to limitations of Terraform. JARs, per se, should be put on dbfs by databricks CLI as part of CICD process. There'll be a separate PR on fixing validation for most of resources.

[2020-06-25 09:02] #136 closed

[2020-06-25 13:10] #66 closed

[2020-06-25 13:22] nfx commented on #42
Closing this as duplicate of #111

[2020-06-25 13:22] #42 closed

[2020-06-25 13:22] nfx commented on #126
#111

[2020-06-25 13:22] #126 closed

[2020-06-25 13:22] nfx commented on #41
#111

[2020-06-25 13:22] #41 closed

[2020-06-25 13:23] nfx commented on #52
Closing this as duplicate of #111

[2020-06-25 13:23] #52 closed

[2020-06-25 13:24] nfx commented on #50
This issue won't fix in the nearest future, so closing this for now.

[2020-06-25 13:24] #50 closed

[2020-06-25 13:24] #117 closed

[2020-06-25 15:42] algattik commented on #136
This is hard to understand. The terraform provider for blob storage can upload blobs of arbitrary size.  The whole point of using terraform is to automate the CICD process and resource provisioning in a more reliable manner than having to use a CLI.

At the very least this should become a documentation issue, that a prominent warning about this limitation should be posted on the resource documenta

[2020-06-25 18:51] sdebruyn commented on #136
+1 on that. Other terraform providers can upload resources > 4 MB. Maybe because they use a path as reference instead of base64 encoding the JAR?

@algattik A simple workaround for this:
Upload the resources to ADLS or blob storage and then mount your container/filesystem with this provider.

[2020-06-30 15:35] al-lac commented on #136
@sdebruyn My thoughts exactly.

I wanted to setup spark-monitoring by transferring the needed JAR files, a few of them work until the .tfstate file gets to big and it fails.

Please reopen this ticket and change the transfer method to not use base64 encoding.

[2020-07-01 18:46] jdillon opened #144 "[ISSUE] databricks_instance_pool with preloaded_spark_versions crashes"
Looks like there is a bug in converting the `preloaded_spark_versions` configuration which when present will cause terraform to crash.

Workaround is degraded configuration to not set `preloaded_spark_versions` when creating a `databricks_instance_pool`.

### Terraform Version

Terraform v0.12.28
+ provider.databricks v0.2.2

### Affected Resource(s)

- databricks_instance_pool

### Terraform Conf

[2020-07-01 19:08] jdillon opened #145 "[ISSUE] databricks_cluster.aws_attributes zone_id required, but conflicts with instance_profile_arn"
Does not look like you can create a cluster using an instance_profile_arn when an instance_pool_id is configured.

### Terraform Version

Terraform v0.12.28

provider.databricks v0.2.2

### Affected Resource(s)

- databricks_cluster

### Terraform Configuration Files
[code]

### Output

[code]

If I add `zone_id` to `aws_attributes`:

[code]

then:

[code]

### Expected Behavior

`aws_attributes.z

[2020-07-02 09:29] nfx commented on #103
will be covered in #17

[2020-07-02 09:29] #103 closed

[2020-07-02 19:48] nfx commented on #67
Messages have no use in state, but only library installation statuses. They will be removed in future versions.

[2020-07-02 19:48] #67 closed

[2020-07-02 19:50] nfx commented on #17
will be implemented in #147

[2020-07-02 19:50] #17 closed

[2020-07-06 11:22] al-lac opened #149 "[ISSUE] databricks_dbfs_file fills up terraform statefile"
Adding multiple files via the `databricks_dbfs_file` resource fills up the terraform state file. After it reaches a size of 512kb all future applies will fail with the following error:

`Failed to save state: invalid character 'R' looking for beginning of value`

It should be possible to upload files to dbfs without having the content stored in the state. Would it not be possible to check if a fil

[2020-07-06 14:04] psg2 opened #150 "Typo on JobSettings struct tag json attribute"
https://github.com/databrickslabs/terraform-provider-databricks/blob/9e3acafb6cbc42489ec6d0a3fa7751b4b6ef52d5/client/model/job.go#L54

The attribute `MinRetryIntervalMillis` is incorrectly mapped to `max_retry_interval_millis` on json.

[2020-07-07 09:54] mfolley opened #152 "[ISSUE] Updating instance pools never appears to complete"
### Terraform Version
Terraform v0.12.26

### Affected Resource(s)
- databricks_instance_pool

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Instance pool should report successful modification.

### Actual Behavior
Instance pool does appear to update successfully almost immediately when inspected within Databricks, but the output reports that the pool is

[2020-07-07 09:56] mfolley commented on #152
I believe this issue may be due to the fact that the resourceInstancePoolUpdate method is infinitely recursive, in that it calls itself on return:
https://github.com/databrickslabs/terraform-provider-databricks/blob/9e3acafb6cbc42489ec6d0a3fa7751b4b6ef52d5/databricks/resource_databricks_instance_pool.go#L348

[2020-07-07 12:13] sdebruyn commented on #144
I submitted PR #153 to fix this issue.
If you want, you can find patched versions here for now:

- v0.2.0 with the fix: https://github.com/datarootsio/databrickslabs-terraform-provider-databricks/tree/v0.2.0-instance_pool-fix
- v.0.2.2 with the fix: https://github.com/datarootsio/databrickslabs-terraform-provider-databricks/tree/instance_pool-sparkVersions

I am still on v0.2.0 as any form of auth

[2020-07-07 13:18] #144 closed

[2020-07-07 13:27] nfx commented on #150
Will be resolved in scope of bigger refactoring in #147. Otherwise pull requests are welcome :)

[2020-07-07 13:27] #150 closed

[2020-07-07 13:29] sdebruyn commented on #152
I can confirm. Changing the capacity is enough to trigger this.

[2020-07-07 13:31] nfx commented on #149
should be resolved in #111

@al-lac , what is the use-case of putting files to DBFS? there's Databricks Stack CLI, that is better for versioning smaller sub-projects with lots of notebooks.

[2020-07-07 13:42] sdebruyn commented on #149
E.g. in my case: Azure Data Factory has an activity to run jobs on Databricks. That activity requires you give the path to the JAR you want to run in DBFS.

[2020-07-07 13:47] nfx opened #156 "[ISSUE] Add global rate limit to API calls"
There needs to be a rate limit configuration present to limit number of requests to reasonable number per minute to ensure smooth operations. The most complicated part is testing.

[2020-07-07 13:50] #152 closed

[2020-07-07 13:51] nfx commented on #137
instance profile is documented in #147

[2020-07-07 13:53] al-lac commented on #149
Our use-case is to automatically setup spark-monitoring for every cluster. This requires us to transfer multiple JAR files + the setup script to the DBFS Filesystem.

Transferring those via the Databricks Provider seems logical to us. The best solution would be if monitoring would work from the get-go without having to build JAR files and setting everything up manually.

[2020-07-07 14:09] sdebruyn opened #157 "[ISSUE] Databricks clusters created from instance pools become corrupted"
### Terraform Version
0.12.28

### Affected Resource(s)
- databricks_cluster

### Terraform Configuration Files
[code]

### Debug Output
#### Plan
[code]

#### Apply
[code]

### Expected Behavior
State should not indicate that something has changed, plan should not say it has to change anything.

### Actual Behavior
Node type is different, plan wants to modify the cluster and apply fails.

### Ste

[2020-07-07 22:49] #19 closed

[2020-07-07 22:56] stikkireddy commented on #157
Hey @sdebruyn to describe this behavior:

1. Have cluster not using instance pools but have driver_node_type_id and node_type_id being set.
2. Introduce the databricks_instance_pool to modify the cluster
3. The cluster fails on updating

Is the above description what you are describing above?

[2020-07-08 06:58] sdebruyn commented on #157
Hey @stikkireddy

No, that would mean that you'd change the HCL. The repro is with the HCL above and the exact steps. After using the cluster once, the node_type is filled in automatically after a Terraform refresh. And then it clashes with the instance pool setting.

However, what you described doesn't work either, but it's another issue.

[2020-07-08 15:37] EliiseS commented on #92
Waiting on #158 to see if it fixes the issues. Otherwise, the recommended approach  by terraform for initalizating providers with output from resources can be found here: https://github.com/hashicorp/terraform/issues/25314

[2020-07-08 23:23] stikkireddy opened #160 "[ISSUE] Connection closed/reset by peer due to WAF/Proxy settings"
### Affected Resource(s)
- provider client configuration

This issue effects all resources and api calls made by the client

Anyone using a WAF or a proxy to route traffic and have firewalls that block all outbound network connections other than the proxy will not be able to use the provider and make any of the api calls. All calls made by the client will get closed due to the client transport con

[2020-07-09 11:23] jjcollinge opened #164 "[ISSUE] Using incorrect env variable in provider to get ARM_SUSBCRIPTION_ID"
The provider is checking for the existence of `ARM_SUBSCRIPTION_ID` but then reading `DATABRICKS_AZURE_SUBSCRIPTION_ID` which leads to an empty subscription ID in the token payload.

https://github.com/databrickslabs/terraform-provider-databricks/blob/d16d18baf933336e1fea4e669267b0d97780414b/databricks/provider.go#L231

cc: @masoncusack

[2020-07-09 13:42] jjcollinge opened #166 "[ISSUE] Library type assertion causing panic"
### Terraform Version
Terraform v0.12.26

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_job

### Panic Output
https://gist.github.com/jjcollinge/cd475da8e517446e02f702290b89c534

### Expected Behavior
The provider doesn't crash when trying to parse the library response from the Databricks API.

### Actual Behavior
The provider crashes doing a type assertio

[2020-07-09 14:57] stikkireddy commented on #166
Hey @jjcollinge can you post the terraform configuration that you are using? The jobs api should not be making api calls to get cluster status as it does not need to know if the cluster is running. So I am a bit confused about this.

[2020-07-09 15:21] jjcollinge commented on #166
@stikkireddy this may be an issue on the config side then - this is the config that is the module causing the issue: https://github.com/Azure/terraform-databricks-sec-resources/blob/master/main.tf

[2020-07-09 15:50] stikkireddy commented on #166
@jjcollinge there does not seem to be any jobs in that main.tf so is it still accurate to say this:

# Affected Resource(s)
Please list the resources as a list, for example:

databricks_job

[2020-07-09 15:52] jjcollinge commented on #166
This may be a mistake on my side.  I saw the stacktrace originated from `resource_databricks_job.go` so assumed it was the job resource

[2020-07-09 19:20] stikkireddy commented on #166
Sorry this was the confusion as well it was the databricks_cluster resource that was impacted by some code used in the resource_databricks_job. The change will need to be verified as that function is shared between clusters & jobs.

[2020-07-09 19:31] nfx commented on #92
@EliiseS from the looks of it, errors are in older format. now `APIError` returns a nice struct without any HTML. New `make install` should work as well.

[2020-07-09 19:39] EliiseS commented on #92
@nfx yeah, I'm waiting for #158 to be ready so I can see if that solves the problem.

[2020-07-09 20:12] mclite opened #168 "How To Assign Cluster Permissions"
How do I assign cluster permissions like the ones in the attached image?

![image](https://user-images.githubusercontent.com/16764021/87086163-28969580-c1ff-11ea-9376-eb4c40b455e4.png)

[2020-07-09 21:59] a2m1 commented on #128
Faced with the same issue

Terraform version 0.12.26

Example output
[code]
main.tf file
[code]

[2020-07-12 14:41] nfx commented on #127
will be fixed in #158

[2020-07-13 15:03] stikkireddy commented on #149
Please review: #171

[2020-07-13 15:32] al-lac commented on #149
Looks like this is just what we wanted. Thanks a lot!

Will test it once it is merged into master.

[2020-07-14 12:11] #160 closed

[2020-07-14 12:16] nfx opened #173 "[FEATURE] Expose public IP of driver if it's available"
In order to SSH into driver nodes for troubleshooting purposes, we should capture driver node public IP (if it's available) as resource computed property.

[2020-07-14 15:55] mclite commented on #168
Any updates?

[2020-07-14 18:20] stikkireddy commented on #149
closed as pr is merged

[2020-07-14 18:20] #149 closed

[2020-07-15 10:54] stikkireddy opened #176 "[DOC] Permissions Resource should be documented"
Hi there,

### Affected Resource(s)
* databricks_permissions

### Expected Details
We should have our standard website docs for now and also the terraform registry docs.
So this requires a markdown file in both website/resources and docs/resources

[2020-07-15 10:55] stikkireddy commented on #168
please track issue #176

[2020-07-15 10:55] stikkireddy commented on #168
closing due to duplicate for #176

[2020-07-15 10:55] #168 closed

[2020-07-15 11:09] stikkireddy commented on #15
will not be a supported resource

[2020-07-15 11:09] #15 closed

[2020-07-15 14:00] #157 closed

[2020-07-15 18:10] stikkireddy commented on #145
fixed as part of #174

[2020-07-15 18:10] #145 closed

[2020-07-15 21:03] jdillon opened #179 "[ISSUE] databricks_notebook format "DBC" does not work as documented"
Documentation suggests that format can be "SOURCE" or "DBC:

[code]

Looks like impl however only allows "SOURCE": https://github.com/databrickslabs/terraform-provider-databricks/blob/master/databricks/resource_databricks_notebook.go#L77 ?

### Terraform Version

Terraform v0.12.28
+ provider.databricks v0.2.3

### Affected Resource(s)

- databricks_notebook

### Terraform Configuration Files
[cod

[2020-07-15 21:30] jdillon opened #180 "[ISSUE] databricks_job new_cluster aws_attributes requires zone_id when instance_pool_id configured"
### Terraform Version

Terraform v0.12.28
+ provider.databricks v0.2.3

### Affected Resource(s)

- databricks_job

### Terraform Configuration Files
[code]

### Debug Output

[code]

### Expected Behavior

When instance_pool_id is given, zone_id is not required.  Extra aws_attributes should not be added.

### Actual Behavior

Complains about missing argument.

If zone_id is actually set however,

[2020-07-16 13:45] stikkireddy commented on #179
Hey @jdillon at this point in time, we will not be supporting DBC files and only source format. Identifying difference between DBC files is not feasible. DBC files will pull down timestamp information and other outputs from the notebooks so when identifying to see if content has changed it will always say that the notebook has been updated. Please use SOURCE files. At this point in time I will fix

[2020-07-16 14:29] stikkireddy opened #183 "[FEATURE] Notebooks Support for detecting changes (Currently only supports SOURCE)"
**Is your feature request related to a problem? Please describe.**
Notebooks should get a similar enhancement to the way, that dbfs_file works. This will prevent statefile from being flooded with content. We should also switch from CRC checksum to MD5 as that is the function available in terraform.

**Describe the solution you'd like**
The tricky part here is identifying differences and how does t

[2020-07-16 19:35] jdillon commented on #179
understood

[2020-07-16 19:35] #179 closed

[2020-07-17 07:55] nfx opened #184 "[ISSUE] Improve documentation on databricks_mws_* resources"
Whenever non-`accounts.cloud....` host is used for multi-workspace resources, place proper error message with remediation.

[2020-07-17 18:16] neil90 opened #185 "[FEATURE] Add Token Management Resource"
Token management is now in public preview it would be good to add this as a resource -> https://docs.databricks.com/administration-guide/access-control/tokens.html#access-the-token-management-api

[2020-07-20 22:02] panderso01 opened #187 "[ISSUE] databricks_cluster failed with: segmentation violation code=0x1 addr=0x28 pc=0x1a37621"
terraform apply crashed while attempting to create Databricks cluster within Azure Databricks workspace. Cluster was created.
[crash.log](https://github.com/databrickslabs/terraform-provider-databricks/files/4950221/crash.log)

[2020-07-21 03:31] fredrikcelin commented on #187
I think it is this:
https://github.com/databrickslabs/terraform-provider-databricks/commit/249cc8ffb99583684e1f00ff90239cdaef52eb45#r40770174

I get same error.
In crash.log:1347
2020-07-20T14:27:36.668-0700 [DEBUG] plugin.terraform-provider-databricks_v0.2.3: 	/home/runner/work/terraform-provider-databricks/terraform-provider-databricks/databricks/resource_databricks_cluster.go:710 +0x931

[2020-07-21 16:54] stikkireddy commented on #187
[code]
 that should be replaced with
[code]

[2020-07-21 20:03] jarobey opened #189 "[FEATURE] Support for IP ACL Lists"
**IP ACL Lists** is now in public preview:[IP ACL Lists API]( https://docs.databricks.com/dev-tools/api/latest/ip-access-list.html).

**The implementation might look like:**
[code]
**Terraform model schema:**
[code]

[2020-07-22 09:12] mikemowgli opened #191 "[ISSUE] databricks_secret crashes provider v0.2.3"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_secret

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mikemowgli/62c297347f0a35f590566f88c217257c

### Panic Output
https://gist.github.com/mikemowgli/2045cd5903adde7513024cd70749d5ae

### Behavior
The same code works with provider 0.2.1, but cr

[2020-07-22 14:18] stikkireddy opened #192 "[ISSUE] Retry on HTTP 429"
Hi,

Notebooks are a resource type on databricks that are large in volume in terms of content being created, modified and deleted. These types are resources are an easy way to trigger 429s. This should be a retryable error rather than a failure point. Similar to how delete is managed.

[code]

[2020-07-23 12:32] favoretti opened #194 "[ISSUE] Workspace created by terraform creates storage account which allows public blobs"
Hi there,

When DB Workspace is created by terraform (I know the resource isn't in your provider, but maybe you can give us some guidance) there's a storage account that's implicitly created. It has a flag allow_public_blob set to true by default and from what I can see there's no way to influence that.

Can some knob be exposed so that DB does not create accounts with that setting set to true?

T

[2020-07-23 15:39] itaiw opened #195 "[ISSUE] Instance_pool resource max_capacity is optional"
Max_capacity is currently required.
This should be optional as the user has the option to use an unlimited number of servers in the pool

[2020-07-23 18:38] rk-tbrigley commented on #194
some method to access this storage account would be very nice tbh. it is too limited and only accessable by DBFS cli, preventing access with azcopy on cli or azure storage explorer.. this is probalby by design for some reason, but it makes life difficult for users, especially on a standard azure SKU where you cannot mount blob storage.

[2020-07-23 21:23] stikkireddy commented on #194
Unfortunately that is at the azure workspace level where it is not exposed as that is created via a managed service account. This would require a fundamental change in the Azure Databricks product. Please reach out to your Azure Databricks account team to request for that to be a product feature so it can be considered for the product roadmap. I am closing this issue as this cannot be resolved as

[2020-07-23 21:23] #194 closed

[2020-07-24 07:52] alex-goncharov commented on #194
Thanks for looking at this @stikkireddy.

[2020-07-27 16:29] stikkireddy opened #200 "[ISSUE] Customize the transport properties of the HTTP request."
These are the defaults setup by the http.DefaultTransport.(*http.Transport).

If we determine that these values should be higher we should add them to our http.Transport block using the time.* notation.

[code]

Might also be a good idea to propagate these up as options/env variables set by the provider.

[2020-07-27 16:32] nfx commented on #200
I think they might be configuration properties on provider level. though it's reproduced for extremely large terraform states only...

/cc @johnkeates was able to catch it today.

[2020-07-28 19:18] mclite commented on #168
It worked thanks. This provider is awesome. I've setup 6 clusters using this

[2020-07-29 02:24] grgouveia opened #202 "[ISSUE] Terraform panics when updating cluster status from Pending to Running err: rpc error: code = Unavailable desc = transport is closing"
### Terraform Version
Terraform v0.12.29
+ provider.azuread v0.8.0
+ provider.azurerm v2.11.0
+ provider.databricks v0.2.3
+ provider.local v1.4.0
+ provider.null v2.1.2
+ provider.random v2.3.0
+ provider.time v0.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/g

[2020-07-29 03:13] grgouveia commented on #202
Seems like the same as [](https://github.com/databrickslabs/terraform-provider-databricks/issues/187)

[2020-07-29 08:33] nfx commented on #202
one of PRs in progress should fix this. I've seen these errors happening, unfortunately.

I can suggest to install v0.2.2 for the time being

[2020-07-29 08:35] nfx commented on #164
will double check in #158 , thanks for reporting

[2020-07-29 12:55] grgouveia commented on #202
Thank you for your help.

Indeed It solved my problem.

[2020-07-29 12:56] #202 closed

[2020-07-30 13:58] stikkireddy opened #205 "[FEATURE] Associate cluster policies to clusters"
When using the cluster resource, I would like to define the policy id associated with that cluster resource and let the policy define the cluster object.

A very trivial approach can be to place the policy id in the databricks_cluster resource and let the user figure out which parameters are required and not required.

[2020-07-30 14:00] nfx commented on #205
I'll see if i can add it in final stages of #158 cleanup

[2020-08-04 21:05] stikkireddy commented on #205
done as part of #158

[2020-08-04 21:05] #205 closed

[2020-08-05 20:56] sdebruyn commented on #187
I am running from a build from the latest master branch and this is still happening, so the code above was not the culprit as it has been removed since

[2020-08-05 21:03] sdebruyn commented on #187
Current stacktrace:

[code]

[2020-08-05 21:17] sdebruyn commented on #187
It seems like this is fixed with the code that is currently on master. I could reproduce it with 0.2.3 but I can't anymore with the latest master.

[2020-08-05 21:25] sdebruyn opened #212 "[ISSUE] Cluster connected to instance pool causes apply failure after refresh"
Exactly the same issue as #157, except now it's complaining about a different field:

[code]

[2020-08-05 21:40] sdebruyn opened #213 "[ISSUE] No longer possible to create ADLS2 mount"
### Terraform Version
Latest version from master
Terraform 0.12.29

Used to work in previous version

### Affected Resource(s)
- databricks_azure_adls_gen2_mount

### Terraform Configuration Files
[code]

### Debug Output
Available upon request by email, contains a lot of keys and IDs...

### Expected Behavior
Mounts should be created like before.

### Actual Behavior
1 error per mount, always the

[2020-08-06 08:15] sdebruyn commented on #213
Apparently it's because the values at https://github.com/databrickslabs/terraform-provider-databricks/blob/master/databricks/resource_databricks_azure_adls_gen2_mount.go#L29 are not filled in

<img width="259" alt="Screenshot 2020-08-06 at 10 14 05" src="https://user-images.githubusercontent.com/963413/89508103-bac59580-d7cd-11ea-8001-f9246d259f8f.png">

[2020-08-06 08:56] sdebruyn commented on #213
The variable called `tpl` which is passed along is always empty. The issue seems to be occurring for all types of mounts.

[2020-08-06 11:34] stikkireddy commented on #213
that empty value is passed along for using reflection; let me take a look into this: https://github.com/databrickslabs/terraform-provider-databricks/blob/7d23e61d78f45d2492035e95ce4af11e47a323bc/databricks/mounts.go#L122-L150

[2020-08-06 11:34] sdebruyn commented on #213
The parsing of the fields here doesn't seem to go well for mounts: https://github.com/databrickslabs/terraform-provider-databricks/blob/master/databricks/util/reflect_resource.go#L195
All the field names are empty strings.

[2020-08-06 11:57] sdebruyn commented on #213
Digging deeper and deeper and I start to understand how it's structured now. Quite elegant actually, less code duplication.
So it seems like the json tags are missing here: https://github.com/databrickslabs/terraform-provider-databricks/blob/master/databricks/resource_databricks_azure_adls_gen2_mount.go#L10

[2020-08-06 12:02] sdebruyn commented on #213
So it's only ADLS2 after all

[2020-08-06 12:08] sdebruyn commented on #213
alright, was an easy fix after all :)

[2020-08-06 12:55] sdebruyn opened #217 "[ISSUE] ClusterNotReadyException when trying to create a mount"
### Terraform Version
Terraform 0.12.29

### Affected Resource(s)
- databricks_azure_adls_gen2_mount

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Mount should be created

### Actual Behavior
Cluster not ready, so the mount is not created

### Steps to Reproduce
1. Create the cluster and the mounts in the same Terraform run
1. `terraform apply`

[2020-08-06 14:47] #213 closed

[2020-08-06 14:49] nfx commented on #213
thanks @sdebruyn !

[2020-08-06 14:50] nfx commented on #213
@sdebruyn  if you're aware of better way of Go's Class<T> equivalent - make a PR :)

[2020-08-06 14:52] nfx commented on #217
hm. that's strange. it should wait till cluster is fully started now.

[2020-08-06 15:03] sdebruyn commented on #217
It does check that and it seems like the state is actually "RUNNING"

[code]

I can "workaround" it by adding a 10 second sleep before creating the mounts

[2020-08-06 15:29] nfx commented on #217
@sdebruyn  no, PR with sleep would be rejected. it was very hard to get rid of all those sleeping places. can you add `resource.Retry` around create context and see if that helps?

[2020-08-06 15:32] nfx commented on #212
@stikkireddy reflect_resource should fix this issue

[2020-08-06 15:49] sdebruyn commented on #213
No not at all, I learned Go specifically to work with Terraform providers and mostly for this one. So I'm pretty new to it and I think your solution is quite elegant. A lot of providers have boilerplate code and this seems a good way to get rid of that.

[2020-08-06 15:55] stikkireddy commented on #212
The old instance pool issues are still there, so reflect_resource fixes enable_elastic_disk but does not resolve instance_profile_id.

[2020-08-06 16:14] sdebruyn commented on #217
Ah no, I meant in my own Terraform code :) I had to deploy my solution today so I couldn't wait. I'll see what I can do, but I'm not that good with Go yet, so not sure if I will be able to submit a PR.

[2020-08-06 16:19] stikkireddy commented on #212
@nfx so the way we set values dont work appropriately for the way the struct is laid out for clusterinfo aws attributes.

The scenario is a AWS user who creates a instance pool + cluster:

1.

[code]

2. Everything works just dandy and `aws_attrbutes` is nil so it is skipped in setting state. Unfortunately if someone goes in the UI and changes the instance profile arn to another value (this is a v

[2020-08-06 17:38] nfx commented on #217
@sdebruyn did you already try AZ CLI auth?

[2020-08-06 18:12] sdebruyn opened #218 "[ISSUE] Cluster autoscaling during mount creation makes the mount creation fail"
### Terraform Version
Terraform 0.12.29
Latest master version

### Affected Resource(s)
- databricks_azure_adls_gen2_mount

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Mounts should have been created regardless. A cluster can execute co

[2020-08-06 19:56] sdebruyn opened #220 "[ISSUE] When creating a mount on Azure without a cluster, invalid node type is used for the auto-generated cluster"
### Terraform Version
Terraform 0.12.29
Latest master version

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_azure_adls_gen2_mount
- databricks_azure_adls_gen1_mount
- databricks_azure_blob_mount

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
A node type for Azure should be used

### Actual Behavior
A node type fo

[2020-08-06 20:01] #218 closed

[2020-08-06 20:02] nfx commented on #220
easy fix... missed that one

[2020-08-06 20:04] nfx commented on #212
@stikkireddy look into ResourceData - i think you'll be able to compare the state and most likely not need `skip_set`

[2020-08-06 20:13] sdebruyn commented on #220
Looks like it's the last one :) With the code from #221
[code]

[2020-08-06 20:38] sdebruyn commented on #220
So it looks like this is happening because my authentication uses hostname & token (because of the previous Azure auth issues) and not something Azure specific. Using authentication to detect if we're on Azure doesn't seem a good way.

[2020-08-06 20:43] sdebruyn commented on #220
For this use case, we could use the `2.0/clusters/list-node-types` API to check the environment we're in and even to pick a node type directly. Looks like the `IsAzure()` function is only used in tests and in this specific case, so I think this is the way to go.

[2020-08-06 21:49] dgonzalezp opened #223 "[ISSUE] Error: rpc error: code = Unavailable desc = transport is closing (when creating cluster)"
### Terraform Version
Terraform v0.12.29

### Affected Resource(s)
- databricks_cluster

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
databricks_cluster.db_cluster: Still creating... [4m10s elapsed]

Error: rpc error: code = Unavailable desc = transport is closing

R

[2020-08-06 21:56] dgonzalezp commented on #223
Just a note, private and public subnets are created as well, the workspace is correctly created in those subnets, the issue occurs creating the cluster

[2020-08-06 21:58] nfx commented on #223
@dgonzalezp which version of the provider? current master has retries on connection refusals & timeout for 30 minutes.

[2020-08-06 22:17] dgonzalezp commented on #223
azurerm 2.21.0
databricks 0.2.3

[2020-08-07 17:13] grgouveia commented on #223
Had the same issue and the downgrade to previous version 0.2.2 solved my problem.

[2020-08-07 17:21] grgouveia opened #227 "[ISSUE] Issue Short Description"
### Terraform Version
Terraform v0.12.29
+ provider.azuread v0.11.0
+ provider.azurerm v2.21.0
+ provider.databricks v0.2.2
+ provider.random v2.3.0
+ provider.time v0.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_group_member

### Terraform Configuration Files
[code]
### Panic Output
https://gist.github.com/grgouveia/069760687a4d7369e1264e5d2f6b9740

[2020-08-10 15:17] phlope commented on #223
Had a similar issue when adding a library_jar referencing DBFS, plans fine but hitting the same error you are at apply.
Downgrading to 0.2.2 hasn't solved it unfortunately

[2020-08-10 16:42] dgonzalezp commented on #223
Yes It continues to happen in version 0.2.2 to me as well

% terraform providers
.
├── provider.azurerm ~>2.21.0
├── provider.databricks ~> 0.2.2

[code]

[2020-08-10 22:30] nfx commented on #223
@dgonzalezp current master has retries on transport errors. can you check if it's solving your issue?

[2020-08-10 22:33] nfx commented on #223
@dgonzalezp , why do you need `databricks_scim_user`, btw? isn't AAD SCIM provisioning working for you?..

[2020-08-10 22:36] nfx commented on #227
@grgouveia why AAD SCIM provisioning is not working for you? https://docs.microsoft.com/en-us/azure/databricks/administration-guide/users-groups/scim/aad i'm not really sure than `databricks_scim_user` is needed here...

[2020-08-11 21:28] nfx opened #234 "[ISSUE] Add Missing SCIM-based resource coverage"
Few resources have no test coverage at all. In order to make mandatory tests for new resource types, we have to make 6-8 tests for all resources. I've done it for 18 resources, these 3 are remaining:

- resource_scim_user
- resource_scim_group
- resource_group_member

[2020-08-11 21:33] nfx opened #235 "[ISSUE] Remove deprecated testing framework functions with 10 arguments and replace them with `ResourceFixture` or `HttpFixtureClient`"
There's `ResourceFixture` (or `HttpFixtureClient`) as convenience method for all tests.

* AssertRequestWithMockServer has 10 arguments, which makes it extremely difficult to work with those tests
* AssertMultipleRequestsWithMockServer has 10 arguments, which makes it extremely difficult to work with those tests. issue is aggravated by "columns" of values passed in, which makes adding/removing a r

[2020-08-11 21:37] #13 closed

[2020-08-11 21:37] #16 closed

[2020-08-12 02:20] dgonzalezp commented on #223
Ahh yes I can get rid of those users, I'm following the tutorials for creating the resources and wanted to see if the user creation was successful. But I'm still getting the error. When you talk about current master is it version 0.2.3 or does the transport errors retries are newer? Thanks for you answer.

[2020-08-12 02:35] markhoiland commented on #223
I'm also having this same issue with the versions below, as well as attempts with 0.2.2.

Terraform v0.13.0
+ provider registry.terraform.io/databrickslabs/databricks v0.2.3
+ provider registry.terraform.io/hashicorp/azurerm v2.22.0

[2020-08-12 11:35] grgouveia commented on #227
@nfx sorry for the late answer.

It doesn't help due to the Premium account requirements.
Is there any other way out?

[2020-08-12 11:38] grgouveia commented on #227
@nfx I opted out from that way because terraform's azuread provider doesn't contain a resource for Azure Enterprise Application, just for simple App Registrations.

[2020-08-12 13:00] markhoiland opened #236 "[FEATURE] Azure SPN Authentication with Certificate"
**Is your feature request related to a problem? Please describe.**
The "azure_auth" provider authentication method requires a client_id and client_secret.  For environments requiring certificates be used with Azure Service Principals this limitation is a blocker.

**Describe the solution you'd like**
Enhance the azure_auth method to allow for certificates in addition secrets to be used with servic

[2020-08-12 15:21] stikkireddy commented on #212
@sdebruyn there is a pr #231 that should help resolve this

[2020-08-12 15:49] phlope opened #237 "[ISSUE] Library JAR fails to apply as cluster is reloading"
Hi,
Each time we're attempting to upload and apply a JAR via DBFS to a working cluster the process runs and crashes.
It seems that the issue is being caused by the cluster in the state `restarting` when applying

The error when running the provider locally:

***
Error: INCORRECT_CONFIGURATION
Please consult API docs at https://docs.databricks.com/dev-tools/api/latest/clusters.html#start for detail

[2020-08-12 20:57] markhoiland opened #238 "[ISSUE] Instance_Pool disk_spec not expected"
### Terraform Version
Terraform v0.13.0
+ provider registry.terraform.io/databrickslabs/databricks v0.2.3
+ provider registry.terraform.io/hashicorp/azurerm v2.22.0

### Affected Resource(s)
- databricks_instance_pool

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Instance pool to be created with disk spec options, as in the examples here, providing the o

[2020-08-13 14:40] nfx commented on #238
@markhoiland can you verify it working with tf0.12?

[2020-08-14 21:53] brettahale opened #245 "[ISSUE] S3 mount issue with empty config map"
### Terraform Version
terraformer version v0.12.25_202007081753

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_aws_s3_mount

### Terraform Configuration Files
[code]

### Debug Output
Can privately send more if needed.
[code]
https://github.com/databrickslabs/terraform-provider-databricks/blob/master/storage/mounts.go#L81

[code]
config is null and is not

[2020-08-17 09:21] stikkireddy commented on #238
@markhoiland please refer to https://databrickslabs.github.io/terraform-provider-databricks/resources/instance_pool/

disk_spec is a configuration block and not a map.

# Invalid Config
[code]

# Valid Config
[code]

[2020-08-17 09:38] stikkireddy commented on #238
closing as its just an issue with the configuration

[2020-08-17 09:38] #238 closed

[2020-08-17 14:20] #237 closed

[2020-08-18 09:15] stikkireddy commented on #223
@dgonzalezp can you provide the debug/panic output? you can get that by setting TF_LOG=debug and also provide the crash.log. Error: rpc error: code = Unavailable desc = transport is closing is a terraform issue not sure what exactly is causing it.

[2020-08-18 09:27] stikkireddy commented on #212
@sdebruyn the pr 231 is merged in please reopen if the issue is not resolved

[2020-08-18 09:27] #212 closed

[2020-08-18 09:28] stikkireddy commented on #187
@panderso01 this should be resolved in master and on the next release

[2020-08-18 18:50] dgonzalezp commented on #223
[code]

[2020-08-18 18:52] dgonzalezp commented on #223
[code]

[2020-08-18 18:54] dgonzalezp commented on #223
[code]

[2020-08-18 21:00] sdebruyn commented on #236
Azure CLI authentication is already available on master, so it will be available in the next version

[2020-08-19 12:51] #245 closed

[2020-08-20 14:26] nfx commented on #227
@grgouveia AAD enterprise apps are generally configured manually.

[2020-08-20 16:01] lachhebo opened #261 "[DOC] Naming inconsistencies in azure_alds_gen1_mount and azure_adls_gen2_mount"
Hello,

### Affected Resource(s)
[azure_alds_gen1_mount page](https://databrickslabs.github.io/terraform-provider-databricks/resources/azure_adls_gen1_mount/#resource-databricks_azure_adls_gen1_mount)
[azure_alds_gen2_mount page](https://databrickslabs.github.io/terraform-provider-databricks/resources/azure_adls_gen2_mount/#resource-databricks_azure_adls_gen2_mount)

### Expected Details

For thos

[2020-08-24 11:27] sdebruyn commented on #195
Fixed with PR #260

[2020-08-24 11:28] sdebruyn commented on #164
can confirm this was fixed with #158

[2020-08-25 12:15] #195 closed

[2020-08-25 12:15] #187 closed

[2020-08-25 12:16] #164 closed

[2020-08-25 12:17] nfx commented on #180
Fixed on master branch

[2020-08-25 12:17] #180 closed

[2020-08-25 12:20] nfx commented on #92
@EliiseS can you confirm current master branch fixes the issue?

[2020-08-25 12:20] #92 closed

[2020-08-25 12:26] nfx commented on #127
@sdebruyn can you confirm it's working on master branch?

[2020-08-25 12:26] #127 closed

[2020-08-25 12:33] sdebruyn commented on #127
Yes I can confirm that it's working there :)

[2020-08-25 14:27] sdebruyn opened #266 "[ISSUE] More than one authorization method configured"
### Terraform Version
Terraform 0.12.29
Latest master (commit b95bcacb4fee531fc3f212b828da91d9f2308bc8)

### Affected Resource(s)
all resources

### Terraform Configuration Files
[code]

But read Important Factoids below...

### Debug Output
[code]

### Expected Behavior
Use the host and token for authorization.

But read Important Factoids below...

### Actual Behavior
See debug output

### Steps

[2020-08-25 15:17] nfx commented on #266
@sdebruyn , but why are you not using just Azure authentication then? Internally it exchanges AAD token for PAT in AZ SP cases, which makes no point about this very specific env variable and argument combination. Situations of only one single attribute of Azure cloud configured without others can proliferate into unexpected and hard to debug scenarios.

Auth test cases are described here - https:/

[2020-08-25 15:17] #266 closed

[2020-08-25 15:27] nfx commented on #49
trimming down the number of open issues and closing this one until backend will support it.

[2020-08-25 15:27] #49 closed

[2020-08-25 15:32] nfx commented on #84
This will go under the story of "combined resources", which will always have an "existence check". Should be part of bigger refactoring, along with migrating format of id separators.

[2020-08-25 15:37] nfx commented on #98
Fixed it with better error handling.

[2020-08-25 15:37] #98 closed

[2020-08-25 16:32] sdebruyn opened #267 "[ISSUE] Provider Lazy Authentication"
### Terraform Version
Terraform 0.12.29
latest master version

### Affected Resource(s)
all

### Terraform Configuration Files
The following environment variables are set (copy from my azure-pipelines.yml):
[code]

[code]

### Debug Output
[code]

### Expected Behavior
Succesful authentication

### Actual Behavior
Error above

### Steps to Reproduce
1. `terraform plan`

### Important Factoids
I am

[2020-08-25 18:05] sdebruyn commented on #267
I tried this locally (instead of on Azure DevOps) and I don't get the error there. I'm not sure why this is happening.

[2020-08-25 18:15] sdebruyn commented on #267
Aha, found the only difference between my machine and "the cloud". My machine had a file `~/.databrickscfg` After deleting it, I got the same error.

[2020-08-25 18:49] sdebruyn commented on #267
I debugged this a little bit and apparently Terraform passes an empty string for that ID during the plan phase.

[2020-08-25 18:51] sdebruyn commented on #267
This seems very similar to what we saw when working on PR #48 cc @stikkireddy

[2020-08-25 18:59] sdebruyn commented on #267
Maybe the actual authentication validation should be delayed until it is actually used (e.g. when refreshing an existing resource or when creating/updating/deleting). By that time, Terraform will provide the real value instead of `""`

[2020-08-27 00:24] nfx commented on #267
merged, verified to work properly with this config https://github.com/databrickslabs/terraform-provider-databricks/blob/c333abef9f15df242e5a63c89372914e36466ff3/scripts/awsmt-integration/main.tf

[2020-08-27 00:24] #267 closed

[2020-08-27 10:14] sdebruyn opened #272 "[ISSUE] HTTP 500 error INCORRECT_CONFIGURATION when refreshing mounts"
### Terraform Version
Terraform 0.12.29

### Affected Resource(s)
unknown

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]
and a bunch of secret scopes and secrets

### Debug Output
[code]

### Expected Behavior
Refresh should work without issues

### Actual Behavior
Error above

### Ste

[2020-08-27 11:45] nfx commented on #272
@sdebruyn can you take a look at what hosts are you trying to access in debug logs by setting `TF_LOG` env variable?

#262 is merged, can you verify that you don't see this error again?

https://github.com/databrickslabs/terraform-provider-databricks/blob/master/common/http.go#L120 it's coming from this place, just in case.

[2020-08-27 12:00] nfx commented on #272
@sdebruyn can you also show what environment variable names are set `env | sort | grep -E 'DATABRICKS|AWS|AZURE|ARM|TEST' | awk -F= '{print $1}'` - this should help troubleshooting

[2020-08-27 12:12] sdebruyn commented on #272
Seems like it worked fine after updating to commit d91b47542581013f145421ba85b9c5cd654402bf
In this case I had  the 4 ARM_ env vars set for authentication.

[2020-08-27 12:12] #272 closed

[2020-08-27 19:00] nfx opened #275 "[ISSUE] Azure CLI token is not refreshed after 10 minute expiration"
ADAL is treating AZCLI tokens with default ExpiresIn 3600 seconds behavior, but AZCLI tokens expire in 600 seconds instead. So integration test suite fails after 10 minutes. We should rewrite AZ CLI refresh behavior to make it work. This is a blocker for 0.2.4

[2020-08-27 19:04] nfx opened #276 "[ISSUE] Cannot install (or just refresh?..) libraries from PyPI/Maven for clusters that are stopped"
RetryableError actually fails the refresh phase. Need to either add a check for running cluster or something more...

[code]

[2020-08-28 18:50] nfx commented on #189
Code is in #257

[2020-08-30 16:23] nfx commented on #99
@algattik @stikkireddy this should be fixed with proper lazy authentication implemented in #270 and well as other changes related to deprecating `azure_auth` config block.

[2020-08-30 16:23] #99 closed

[2020-08-31 09:56] #276 closed

[2020-08-31 10:17] #192 closed

[2020-08-31 10:25] #275 closed

[2020-08-31 14:00] stikkireddy opened #287 "[ISSUE] Modifications to data source: databricks_aws_crossaccount_policy may be required."
Hi there,

### Affected Resource(s)
Please list the resources as a list, for example:
- data.databricks_aws_crossaccount_policy

Currently the datasource uses:

[code]

We will need to support the following policy options to cover all the deployment options for IAM policy requirements.:

[code]

and in addition the following:

[code]

[2020-08-31 14:51] al-lac opened #288 "[ISSUE] Allow import of existing scim_user and scim_group resources"
It should be possible to import existing scim users and groups into the terraform state file. The documentation for version 0.2.4 already includes an import section: https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/scim_user

The documentation for the scim_group resource is missing completely.

### Terraform Version
0.12.29

### Provider Version
0.2.4

### Af

[2020-08-31 18:16] nfx commented on #128
@algattik fixed in 0.2.4

[2020-09-01 11:17] nfx commented on #288
@al-lac what do you use this resource for? _We're not recommending extensive use of this resource, because it's way more manageable to create few databricks_group instances with all related permissions to them and let Identity provider use SCIM provisioning to populate users into those groups._

[2020-09-01 11:24] al-lac commented on #288
@nfx ah yes, you are right, i will use `databricks_group` instead. But i need to use `databricks_scim_user` to sync my users from Azure.

[2020-09-02 22:16] RamlaSuhra123 opened #292 "[ISSUE] Provider bug"
Hi Team,
I am facing below issue while trying to run terragrunt/terraform apply on module, "databricks_mws_workspaces" while trying to create multiworkspace. As per debug logs, workspace is going to provisioning stage and then later getting aborted.

Error: Error: Workspace is in a non runnable state will not be able to transition to running, needs to be created again. Current state: FAILED

**Bel

[2020-09-03 09:08] nfx commented on #292
Hi @RamlaSuhra123 , can you provide more information, like what are the other configs, that feed into workspace resource? also the logs do not contain any calls to databricks API

[2020-09-03 11:33] fedragon opened #294 "[ISSUE] Error when omitting cluster_id when creating a databricks_azure_adls_gen2_mount resource"
Hi Databricks team,

I'm facing an issue when trying to create a `databricks_azure_adls_gen2_mount` resource without providing a cluster myself (thus asking the provider to create one on its own, as stated [here](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/azure_adls_gen2_mount)). When I run`terraform apply` I get a valid plan but trying to apply the cha

[2020-09-03 12:20] nfx commented on #294
Hi @fedragon ,

First of all, thanks for report. This issue came as a surprise, because we have [TestAzureAccAdlsGen2Mount_correctly_mounts](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/storage/acceptance/adls_gen2_test.go#L24) to cover "not specified cluster" case as part of our release procedure.

AWS attributes are added for [client _not_ configured with azure aut

[2020-09-03 12:39] sdebruyn commented on #294
I would think it would fetch and set the resource ID at one point so that we can still use that check.

[2020-09-03 12:43] markhoiland opened #295 "[FEATURE] Support for new Global Init Scripts"
New Global Init Scripts are now in public preview.  [Global Init Scripts API](https://docs.databricks.com/dev-tools/api/latest/global-init-scripts.html)

##### This implementation may look like:
[code]

[2020-09-03 13:09] nfx commented on #295
for those, who'll be picking this up: this one should be in `compute` module and should preferably use reflect resource.

[2020-09-03 13:11] nfx commented on #294
@sdebruyn willing to pick this one up? it's `resourceID` method + few test cases in `TestProviderConfigurationOptions`.

[2020-09-03 13:58] markhoiland opened #296 "[FEATURE] Support for cluster local disk encryption"
Request the support to enable local disk encryption on clusters, which is in public preview and available in the API.  [Enable local disk encryption](https://docs.databricks.com/clusters/configure.html#enable-local-disk-encryption)
[Azure Enable Disk Encryption](https://docs.microsoft.com/en-us/azure/databricks/clusters/configure#enable-local-disk-encryption)

##### This implementation may look li

[2020-09-03 14:07] nfx commented on #296
this one is just adding a field to ClusterInfo struct and a unit test

[2020-09-03 14:36] fedragon commented on #294
Hi @nfx,

Thanks for the quick reaction! I tried to verify if `azure_workspace_resource_id` works but have been stopped by the very limited permissions I have on that Azure account (and I don't have access to any other, unfortunately)...

[2020-09-03 15:15] nfx commented on #294
@fedragon i've told few people, someone will pick it up. I'm gathering more contributors to this :)

[2020-09-03 16:45] stikkireddy commented on #292
Not related to the provider.

[2020-09-03 16:45] #292 closed

[2020-09-06 14:18] RichardFowles89 opened #300 "[FEATURE] Azure Key Vault-Backed Resource"
Hello, would it be possible to have a secret scope resource for Azure Key Vault-backed secret scopes? This would be extremely helpful as I would like to use the databricks_azure_adls_gen2_mount resource but need the secret scope to be Key Vault-backed.

### Terraform Configuration Files
EXAMPLE
[code]

[2020-09-06 15:40] nfx commented on #300
@RichardFowles89 there’s no support for it on the backend side yet. Once it’s there - it will be in databricks_secret_scope, not in databricks_azure_keyvault_secret_scope.

This issue is a duplicate of earlier one.

[2020-09-06 15:40] #300 closed

[2020-09-07 08:17] RichardFowles89 commented on #300
Great - @nfx thanks for letting me know.

[2020-09-07 10:11] Doe-Ed opened #303 "[ISSUE] Can't destroy resources with mandatory owners"
Hi there,

I created a simple job and assigned ("CAN_MANAGE") permissions to a group. When I try to destroy the job, I get "Error: The job must have exactly one owner. (400 on /api/2.0/preview/permissions/jobs/266)"

### Terraform Version
Terraform v0.12.26
+ provider.aws v2.70.0
+ provider.databricks v0.2.4

### Affected Resource(s)
- databricks_permissions (for clusters and jobs)

### simple_job

[2020-09-07 10:26] nfx commented on #303
@Doe-Ed , please update bug title and description.

Some comments on config as well:

[code]

[2020-09-07 10:37] Doe-Ed commented on #303
@nfx Thanks for the rapid reply!

1. Updated bug description
2. Changed the example per your comments to follow best practices- permission is now given at the Group level.

Note: I am able to create the job and assign the correct permission to the ("DS") group. It is when I try to destroy it that I get the error.

[2020-09-07 18:11] sdebruyn commented on #294
I've been able to repro it, on it

[2020-09-07 19:00] sdebruyn opened #304 "[FEATURE] Allow omitting subscription ID when using Azure CLI authentication"
The Azure CLI has a default subscription set. This subscription ID is used by the Azure RM Provider when you use Azure CLI authentication (unless you override it). The Databricks provider should support the CLI in the same way.

Examples: https://www.terraform.io/docs/providers/azurerm/guides/azure_cli.html

[2020-09-07 19:11] nfx commented on #304
it's implemented as making a separate call to `az cli`. though i wonder how many people would actually need it, because if we specify `azure_workspace_resource_id`, we don't need to specify the subscription. I already feel like we have too many authentication options, which makes testing all possible cases harder.

PR it in with extensive coverage or let's wait for 10 different votes for it.

[2020-09-07 19:42] nfx commented on #183
why not just re-uploading notebooks every time?..

[2020-09-07 20:21] sdebruyn commented on #294
Looks like I stumbled upon #304 and wasn't actually able to repro this issue.

@fedragon Is the Databricks workspace already created or was it going to be created in the same `terraform apply`? Could you share the output of `terraform plan`?

[2020-09-08 08:07] Paggio opened #305 "[ISSUE] Provider bug"
Hi,

I am currently running Terraform v0.13.2.
The output of env | sort | grep -E 'DATABRICKS|AWS|AZURE|ARM|TEST' | awk -F= '{print $1} is empty.

I am writing because I am facing a problem using the databricks provider.
Basically, even a file main.tf reporting only:

-----------------------------------------------

terraform {
  required_providers {
    databricks = {
      source = "databricksla

[2020-09-08 08:35] nfx commented on #305
@Paggio it looks like the bug in terraform itself. I was able to reproduce this with 0.13.1 and got it fixed with removing `~/.terraform.d/plugins` directory.

Steps to fix:
* `rm -fr .terraform` to clear downloaded plugins state in your project dir
* `rm -fr ~/.terraform.d/plugins` to clear downloaded plugins state
* `TF_LOG=TRACE terraform init` to reinit your project dir

[2020-09-08 08:35] #305 closed

[2020-09-08 08:38] nfx commented on #300
Duplicate of #49

[2020-09-08 08:41] nfx commented on #294
@sdebruyn this issue is unrelated to #304 (az cli), because this one is about client/secret service principal. this one is really about things described in https://github.com/databrickslabs/terraform-provider-databricks/issues/294#issuecomment-686450386

[2020-09-08 13:42] nfx commented on #94
@storey247 , does it work as expected in 0.2.4?

[2020-09-08 14:16] #288 closed

[2020-09-09 07:28] fedragon commented on #294
@sdebruyn the Databricks workspace already exists, it's not going to be created on the spot

[2020-09-09 15:48] Gnarik opened #309 "[ISSUE] Changing permission results in permission removals"
Hi there,

### Terraform Version
Terraform v0.12.29

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_permissions

### Terraform Configuration Files
[code]
At this point, `run-time` user has `CAN_ATTACH_TO` permission on the cluster. Then I run:
[code]

### Debug Output
https://gist.github.com/Gnarik/49fcfcc5d24c376c2d3b12b294c1c379

### Expected Behavior
I e

[2020-09-09 16:01] nfx commented on #309
@Gnarik please update to `0.2.4`, as you're using old version of provider. Please confirm if issue still persists.

According to standard Terraform behaviour, if state is set outside of terraform, it would be overridden. E.g. if you want to manage permissions for users/groups - it should be done exclusively from Terraform .

this might be related to #303

[2020-09-09 19:35] Gnarik commented on #309
Hi,

Thank you for your answer.

I got the same exact error with 0.2.4 and terraform 0.13 : https://gist.github.com/Gnarik/c544b2f56d40d625683119047240fd70

The only difference in my main.tf is
[code]

[2020-09-10 06:47] dependabot-preview[bot] opened #310 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/databrickslabs/update-logs/46885566).

[2020-09-10 09:07] nfx commented on #310
@dependabot-preview, it's a bug on dependabot's side - https://pkg.go.dev/dmitri.shuralyov.com/gpu/mtl?tab=importedby golang.org/x/exp/

[2020-09-10 09:07] #310 closed

[2020-09-10 09:11] nfx commented on #309
@Gnarik thanks for confirmation, then it's a duplicate of #303 , closing this one and let's track the progress in earlier issue.

[2020-09-10 09:11] #309 closed

[2020-09-10 13:12] nfx commented on #287
closed with #311

[2020-09-10 16:44] #294 closed

[2020-09-10 16:53] nfx commented on #173
not really required in case of web terminals

[2020-09-10 16:53] #173 closed

[2020-09-10 17:02] nfx commented on #84
@masoncusack would it be okay for you to rewrite the code with `databricks_group` instead of `databricks_scim_group`? this might help us removing this resource in v0.3 and have more stable user experience overall.

[2020-09-10 17:03] nfx commented on #84
@masoncusack https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/resources/group.md

[2020-09-10 17:05] #296 closed

[2020-09-11 18:30] fedragon commented on #294
awesome!

[2020-09-13 03:17] lucas-corsi opened #315 "[FEATURE] Add option to skip waiting of library installation"
Library resource always waits for library installation. I would like an option to skip this because it is not important to have a library installed for some use cases. Otherwise, it would be great if there is a way to set the timeouts instead of using default timeouts.

The issue/feature is related to this function https://github.com/databrickslabs/terraform-provider-databricks/blob/732b3f01224658

[2020-09-13 10:25] nfx commented on #315
It’s already possible to set timeouts on cluster resource, where default is 30 minutes. Library await timeout is currently 5, so yes, it should be adjusted to follow cluster-level one. The change should also go along with context-aware refactoring of cluster resource (next logical phase of sdk2 migration).

Regarding making library install skipping: can you describe the use-cases where it’s needed

[2020-09-13 10:28] nfx commented on #94
Closing this issue, as it is without any response. Feel free to reopen it, once it’s again relevant.

[2020-09-13 10:28] #94 closed

[2020-09-13 16:04] lucas-corsi-ifood commented on #315
Hi, @nfx thanks for the information.

An example is when I only want to have a cluster versioned on git, and when I try to run a terraform plan command, this will wait for the entire timeout if it is necessary and the plan command takes a lot of time. Also, sometimes some libraries stay at pending status for a long time in Databricks, I don't know why this happens. And because of that, at the end

[2020-09-14 11:23] sdebruyn opened #321 "[ISSUE] Unclear error message when the location to be mounted does not exist"
### Terraform Version
Terraform 0.13.2
Databricks 0.2.4

### Affected Resource(s)
- databricks_azure_adls_gen2_mount

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/sdebruyn/f20d899d63191f902d1cd3225f15edc6

### Expected Behavior
An error saying

[2020-09-14 11:31] nfx commented on #315
@lucas-corsi-ifood

is it for new or existing clusters? if cluster is existing, is it running or or terminated? Perhaps [waitForLibrariesInstalled](https://github.com/databrickslabs/terraform-provider-databricks/blob/732b3f01224658d9ee01a594f3be1e5d27a613f8/compute/resource_cluster.go#L175) should be removed from read method then.

is there anything common for all of those libraries? e.g. pending

[2020-09-14 13:18] nfx commented on #321
@sdebruyn

1. latest version is 0.2.5
2. error message could probably be fixed by moving [errorMessageRE upwards](https://github.com/databrickslabs/terraform-provider-databricks/blob/732b3f01224658d9ee01a594f3be1e5d27a613f8/compute/commands.go#L88)
3. #94 there's no way of generic validating if the path is there or not without mounting it first

[2020-09-14 14:44] jordanjennings opened #322 "[ISSUE] Secret scope ACL is set to MANAGE for all users by default and no way to override"
### Terraform Version
[code]

### Affected Resource(s)
- `databricks_secret_scope`

### Terraform Configuration Files
[code]

### Expected Behavior
A secret scope is created with only the user whose databricks authentication is being used having MANAGE access

### Actual Behavior
All users are given MANAGE access to the secret scope

### Steps to Reproduce
1. `terraform apply`

The underlying issu

[2020-09-14 16:27] al-lac commented on #288
Import is now possible, but on the next `terraform plan` the user would be replaced because the 'user_name' attribute is missing in the state file. Also the user is admin per default in the state.

[code]

Should be possible to import the user_name as well i hope.

[2020-09-15 18:01] stikkireddy commented on #322
The only supported principal for this option is the group users, which contains all users in the workspace. If initial_manage_principal is not specified, the initial ACL with MANAGE permission applied to the scope is assigned to the API request issuer’s user identity. From the api documentation from the databricks api: https://docs.databricks.com/dev-tools/api/latest/secrets.html. You have two opt

[2020-09-15 20:29] jordanjennings commented on #322
@stikkireddy The workaround does not remove the `users` ACL with MANAGE access.

So for example, with this terraform:

[code]

I end up with an ACL like:

[code]

And with what I think you're suggesting as a workaround, like this:

[code]

I end up with this ACL:

[code]

As far as I can see there is no way to remove `users` from the ACL.

Note that in a previous version of the provider I was able

[2020-09-16 11:44] nfx commented on #322
@jordanjennings which cloud are you using?

[2020-09-16 12:18] jordanjennings commented on #322
@nfx Running on Azure Databricks

[2020-09-16 14:38] jordanjennings opened #323 "[ISSUE] databricks_job resources are always updated even when no changes"
### Terraform Version
[code]

### Affected Resource(s)
- databricks_job

### Terraform Configuration Files
[code]

### Expected Behavior
After the job is created, when there are no changes to the configuration terraform should not try to change it.

### Actual Behavior
After initial creation, on each run of `terraform plan` / `terraform apply` it says there are changes for the job. Example plan be

[2020-09-16 15:06] nfx commented on #321
@sdebruyn it will eventually be fixed on the backend, so closing this issue.

[2020-09-16 15:06] #321 closed

[2020-09-16 15:53] stikkireddy commented on #323
hey @jordanjennings add
[code]

[2020-09-16 18:01] jordanjennings commented on #323
@stikkireddy Thanks for the reply, yes that's exactly what I did to work around the issue.

It's still surprising behavior and I would consider it a bug because the user _must_ specify a default value that is listed as optional or things will not work as expected. Minimally this should be documented, but ideally it should not require users to configure it (unless they genuinely want something othe

[2020-09-16 21:32] Gnarik opened #324 "[ISSUE] databricks_job email_notifications field is always reconfigured"
Hi there,

When I create a databricks job with emails in the email_notifications field the job is properly created but when I rerun the same exact strict, terraform tries to re-setup the email_notifications field. Which cause a job to be redeployed unexpectedly and can cause running job to fail.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for exampl

[2020-09-17 08:58] nfx commented on #324
@Gnarik

1. `jar_main_class_name` is deprecated and will be removed in 0.3, there was a respectable warning message during the plan. Please rewrite the code the way there are no warnings and try again. This is what might be causing the issue. I've checked internally and `POST ../jobs/reset` should not cause a running job to fail.
2. you're using 0.2.4 and the latest version of provider is 0.2.5

[2020-09-17 11:56] nfx commented on #303
volunteered by @yessawab

[2020-09-17 12:22] alexott commented on #322
@jordanjennings what would you prefer - disabling `Users` via setting the empty string explicitly, or maybe it's better to have a separate boolean variable, like, `set_initial_principal` ?

[2020-09-17 14:30] Gnarik commented on #324
Hi,

Thank you for your answer.

I'm sorry I've disrespected the respectable warning message. Here is the new code with a new gist. There is still WARN messages but I'm not sure I can do something to get rid of them.

[code]
https://gist.github.com/Gnarik/9ef8cffdf12dd9a105b838e24b7d1dae

Ok, thank you. I thought it was the cause of my issue, I'll dig elsewhere.

[2020-09-17 15:04] jordanjennings commented on #322
@alexott I would prefer not to specify the value at all, because then I would reasonably expect it to do whatever is the default behavior for the API.

That said, assuming that the underlying API isn't going to change, I would suggest a design change to this resource to be more clear and have something like:

[code]

My order of preference for how to fix this issue:
1. Design change as noted above

[2020-09-17 15:08] alexott commented on #322
@jordanjennings thank you for your preferences - I'll implement first option tomorrow

[2020-09-17 15:26] nfx commented on #322
`allow_all_users_to_manage` is semantically not possible. if `databricks_secret_acl` is created for `all users`/`users`, then we'd need to have a check for other ACLs to keep this property reflecting the reality.

i'll prefer to remove default value of `initial_manage_principal` on resource schema, which is more expected behaviour for terraform. respective documentation on `databricks_secret_acl`

[2020-09-17 15:35] jordanjennings commented on #322
@nfx Good point, since option 1 is not viable then just to be overly clear:

Option 2 (strongly preferred):
[code]

Option 3:
[code]

[2020-09-17 16:02] nfx commented on #322
option 2 is more in line with long-term vision on provider.

[2020-09-17 17:10] RobertHorrox opened #327 "[ISSUE] mws_workspace resources AWS region check out of date"
In `mws/resource_workspace.go` on [line 147](https://github.com/databrickslabs/terraform-provider-databricks/blob/785cb2d0e1c3ae495f5145465552911536685bc5/mws/resource_workspace.go#L147) a region check is performed which doesn't include `us-east-2`.  According to [https://docs.databricks.com/administration-guide/account-api/new-workspace.html] `us-east-2` is a supported region.

[2020-09-17 17:36] nfx commented on #327
@RobertHorrox fixed, should be available in next release. You can also [install it from sources](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/CONTRIBUTING.md#installing-from-source).

[2020-09-17 17:36] #327 closed

[2020-09-21 16:47] stikkireddy opened #333 "[FEATURE] Support for Customer Managed Keys"
For the multiple workspace feature there should be support for the customer managed key resource.

An example of the resource would look like the following:

[code]

[2020-09-22 14:12] Gnarik commented on #324
Hi, I manually changed it in order not to share it on github but the email address we use on our system are valid addresses.
We are also investigating regard `I've checked internally and POST ../jobs/reset should not cause a running job to fail.` as we keep having this issue and the only thing that appears in the plan logs is this email change. I'll come back with more information when we have bee

[2020-09-22 15:54] nfx commented on #324
@Gnarik  Verified that changing job while it was running did not affect the current job run (made a 15-minute sleep notebook & changed spark_config & email_notifications few times). Most likely email_notification was reconfigured because invalid values supplied. It might be an error with this specific job.

upcoming 0.2.6 might contain a fix for it - #334

[2020-09-22 15:54] #324 closed

[2020-09-22 19:21] nfx commented on #28
issue is old and it doesn't seem it needs any attention. closing it for now

[2020-09-22 20:05] nfx commented on #234
#330 deprecates `databricks_scim_*` resources and adds significant coverage of new ones.

[2020-09-22 20:05] #234 closed

[2020-09-22 20:06] nfx commented on #200
doesn't seem to be any interest from users, closing it to focus on more important issues

[2020-09-22 20:06] #200 closed

[2020-09-23 09:52] #30 closed

[2020-09-23 16:07] #315 closed

[2020-09-23 16:50] #333 closed

[2020-09-24 12:59] #323 closed

[2020-09-25 14:31] alexott commented on #113
I can grab that feature.  For deletion - should we always unpin cluster when deleting, or should we have a separate flag to unpin?

[2020-09-26 00:48] saguziel opened #339 "[ISSUE] databricks_mws_workspaces hangs and errors on failing to reach newly created workspace url"
Hi there,

### Terraform Version
0.13.3
provider version 0.2.5

### Affected Resource(s)
databricks_mws_workspaces

### Terraform Configuration Files
[code]

### Expected Behavior
Creation should succeed
### Actual Behavior
[code]

### Steps to Reproduce
terraform apply

[2020-09-26 00:55] nfx commented on #339
@saguziel please clear DNS cache before creating the workspace. This should solve this issue.

[2020-09-26 00:55] #339 closed

[2020-09-26 01:19] saguziel commented on #339
Did not work. Workspace status is listed as running per the API but DNS does not work.

[2020-09-27 11:23] nfx commented on #113
@alexott deletion already works - https://github.com/databrickslabs/terraform-provider-databricks/blob/master/compute/clusters.go#L200

[2020-09-27 11:27] nfx commented on #235
@alexott, can you look at this one as well?

[2020-09-27 11:28] nfx commented on #63
@stuartleeks is this one still relevant?

[2020-09-27 11:40] #63 closed

[2020-09-28 11:45] itaiw opened #341 "[ISSUE] add support for sql-analytics-access in databricks_group"
Hi there,

Databricks groups REST API added support for "sql-analytics-access" in databricks_group. Please add it tot he TF resource

example:
"entitlements": [
                {
                    "value": "allow-cluster-create"
                },
                {
                    "value": "allow-instance-pool-create"
                },
                {
                    "value": "sql-ana

[2020-09-28 11:50] nfx commented on #341
Should be added to

* `databricks_user`
* `databricks_group`

must not be added to deprecated resources.

[2020-09-28 14:45] #84 closed

[2020-09-28 14:52] nfx commented on #341
`sql-analytics-access` is not documented in any of the public docs, so won't be adding it for now with the risk of name changes and things related to it.

[2020-09-28 14:52] #341 closed

[2020-09-29 11:41] nfx opened #346 "Data source for cloud-dependent node types"
Make terraform configuration less cloud-dependent by allowing to specify node characteristics instead of node type names

[code]

* by default should return smallest possible instance with local disk
* min_memory_per_core conflicts with min_memory
* id is set to the first matching node type
* error is returned if no match

[2020-09-29 12:03] nfx opened #347 "Data source for spark versions"
Create data source for retrieving spark versions:

[code]

[2020-09-29 17:54] nfx commented on #304
Subscription ID can be retrieved by

[code]

[2020-09-29 17:54] #304 closed

[2020-09-29 18:10] nfx commented on #77
closing in favor of #347

[2020-09-29 18:10] #77 closed

[2020-09-30 13:30] fedragon opened #349 "[ISSUE] azure_workspace_name ignored when ~/.databrickscfg profile points to another workspace"
Hi Databricks team,

I just run into the following unexpected (to me) behavior of the provider, related to the presence of a `~/.databrickcfg` file in combination with the usage of [azure_workspace_name](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs#azure_workspace_name) provider argument.

The configuration file contains a `DEFAULT` profile pointing to a workspace

[2020-09-30 13:40] nfx commented on #349
@fedragon please check the order of authorisation method resolution in documentation:
https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs#empty-provider-block and tell at which step was it not expected?

`azure_tenant_id` is not needed when you set `ARM_TENANT_ID` environment variable.

i see you have `fs_mounter` cluster - if you omit cluster_id for `*_mount` resources -

[2020-09-30 14:12] fedragon commented on #349
Hi @nfx, thanks for your quick reaction!

The authorisation resolution works as expected, no issues there (I went through it before opening this issue): the misconfiguration was on my side. Yet, as a user of this provider, I would find it very nice to be at least warned when my credentials and `azure_workspace_name` are not aligned, because it can easily lead to the creation (or worse, replacement

[2020-09-30 16:23] alexott opened #350 "[FEATURE] Add support for Cluster Events API"
For correct support of pinned clusters (#113) we need to add support for [Cluster Events API](https://docs.databricks.com/dev-tools/api/latest/clusters.html#events) as we don't get information if cluster pinned or unpinned from the `Get` API.

it would be easier to track this work in a separate issue to keep the size of PR for #113 under the control

[2020-09-30 16:25] nfx commented on #350
i'm not sure if cluster events are of any use within terraform than cluster pinning status. All the work for it should be done in scope of #113

[2020-09-30 18:41] stikkireddy opened #351 "[ISSUE] Provider Update the mws_workspaces resource"
Hi there,

There is a field `is_no_public_ip_enabled` is set as omitempty and the default on server side is set to true. It is impossible for the api request to return a false via post request. https://github.com/databrickslabs/terraform-provider-databricks/blob/d8fcb5c8bcd748a77685a5a94a6e4458ed7d756d/mws/mws.go#L86-L100

The field should not be omitempty but should be defaulted to true by the te

[2020-09-30 20:06] #185 closed

[2020-09-30 20:09] nfx commented on #303
Fixed in #344 , new documentation is a bit more comprehensive now: https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/resources/permissions.md#Job-usage

[2020-09-30 20:09] #303 closed

[2020-09-30 20:13] nfx commented on #183
@stikkireddy is this still relevant? we should also re-visit with larger group on how to supply content to notebooks. asking users to supply MD5 calculation looks like an overkill for entry-level audience.

[2020-09-30 20:39] nfx commented on #349
@fedragon what provider version is used, btw? in 0.2.5 this issue should have been fixed.

[code]

[2020-09-30 20:41] nfx commented on #349
it's actually re-used for all of the mount points, which don't specify the cluster_id 🤷‍♂️

[2020-09-30 20:43] nfx commented on #347
within the scope of the issue, anyone working on it should replace `spark_version` with it everywhere in documentation and acceptance tests.

[2020-09-30 21:36] nfx opened #358 "Add resource name and terraform version to user agent"
Supporting provider more effectively would mean more effective telemetry. Currently provider sends `databricks-tf-provider/0.2.5`, though, ideally we should send `databricks-tf-provider/0.3.0 (+azure_blob_mount) terraform/0.13.3` adding two new dimensions: terraform version (0.12 testing end of life) and resource name. Cluster with libraries is perfect example of complex multi-api resource to indi

[2020-09-30 21:38] nfx opened #359 "Data source to iterate tables and databases in metastore"
Need to create a data source to be able to iterate through tables in metastore. Approximate resource may look like:

[code]

theoretically with this, we could do something like, though not quite sure if it would be used extensively.

[code]

This should simplify certain replication scenarios.

Adding more features based on Command/Context API would require #358 to be implemented first, as we don't

[2020-10-01 06:51] fedragon commented on #349
I'm using version `0.2.5`

To my understanding (and please correct me if I'm wrong), two different executions of Terraform would create a temporary cluster each... and since these clusters can *never* be deleted (otherwise any subsequent execution of Terraform will fail because the provider stores the cluster ID in Terraform's remote state and fails if it cannot find it in the workspace), I prefer

[2020-10-01 07:01] fedragon commented on #349
@nfx Thinking about it, is this actually intended behavior? If not, I'm happy to open an issue with more details

[2020-10-01 08:28] nfx commented on #349
no, it's not the case. on azure first execution will create a cluster named "terraform-mount" and all subsequent calls would check if it exists and use that one - https://github.com/databrickslabs/terraform-provider-databricks/blob/master/storage/mounts.go#L107 and https://github.com/databrickslabs/terraform-provider-databricks/blob/master/compute/clusters.go#L258 - cluster is never deleted, but i

[2020-10-01 10:00] stikkireddy commented on #359
hmm.... the second part of that feels like it is very easy for a user to shoot themselves in the foot maybe only for non-managed tables?

[2020-10-01 10:53] stikkireddy commented on #351
@nfx

So after going through these changes altering is_no_public_ip_enabled to true will cause issues on existing deployed MWS. we would require a state migration. From the defaulted false to true and a schema change. The reason being.

Scenario:
1. I created a workspace before this change my statefile should say false.
2. I make this change my statefile will be false but my default is true.
3. Te

[2020-10-01 11:10] fedragon commented on #349
okay, looks like I was wrong... thanks for the clarification! 🙂

[2020-10-01 11:11] nfx commented on #351
I'd prefer this option and close this issue with `wontfix`. `is_no_public_ip_enabled` is removed from documentation anyway.

[2020-10-01 19:22] tcz001 commented on #28
Hi @nfx  I hope we can reopen this issue, scim_service_principal is not implemented on this provider

[2020-10-01 23:55] stikkireddy commented on #28
@tcz001 want to pick this up?

[2020-10-02 14:23] #322 closed

[2020-10-02 14:23] #349 closed

[2020-10-02 14:36] #351 closed

[2020-10-03 22:04] nfx commented on #359
yeah... `databricks_query` might be good for initial WS setup with random queries, but it opens up unnecessary possibilities for terraform. first 2-3 resources are of great value, though

[2020-10-03 22:09] nfx commented on #347
@yessawab

[2020-10-05 12:33] nfx commented on #28
why do we need to create SP through scim api? won't it simply work if SP is granted contributor role on workspace resource in Azure through either Portal UI or terraform role assignment resource?

[2020-10-05 19:31] nfx commented on #324
@Gnarik released in 0.2.7

[2020-10-05 19:31] nfx commented on #323
@jordanjennings released in 0.2.7

[2020-10-05 19:32] nfx commented on #322
@jordanjennings released in 0.2.7

[2020-10-05 19:32] nfx commented on #315
@lucas-corsi released in 0.2.7

[2020-10-05 19:32] nfx commented on #309
@Gnarik released in 0.2.7

[2020-10-05 19:32] nfx commented on #303
@Doe-Ed released in 0.2.7

[2020-10-05 21:48] romaric-sticky commented on #309
Hi, thank you for letting me know.

[2020-10-05 21:48] romaric-sticky commented on #324
Hi, thank you for letting me know.

[2020-10-06 12:35] #235 closed

[2020-10-07 16:32] MarekLani commented on #267
@nfx  please can you share bit more on how the over mentioned bits help when trying to use Azure Service Principal authentication, because I am still seeing error mentioned by @sdebruyn

[code]

[2020-10-07 23:36] HamiltonHord opened #368 "[DOC] Request more Information on non-BYOVPC deployment"
### Affected Resource(s)
[databricks_mws_workspaces Resource ](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/mws_workspaces)

### Expected Details
While I understand that the suggested behavior of creating a Databricks Workspace is to use the BYOVPC option, but I was curious about some of the behavior/exported information when creating a workspace resource

[2020-10-08 19:08] stikkireddy opened #369 "[FEATURE] Support for back_end_azure_key_vault and backend_type"
Hi there,

Please support following fields in databricks_secret_scope:

1. back_end_azure_key_vault block for secret scopes
2. scope_backend_type field to support AKV backed secrets (optional)

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_secret_scope

HCL example:

*Databricks backed scope*
[code]

*AKV backed scope*
[code]

scope_backend_type should be

[2020-10-09 20:06] dfanesiDB commented on #28
FYI: I have a project starting in few weeks which will need Active Directory and SCIM integration features in Terraform. I wonder whether it is possible to completely automate in Terraform the workspace creation and the AD configuration with SCIM enabled.

[2020-10-09 23:30] gerryhernandez opened #370 "[ISSUE] Cannot create a databricks_permissions resource on Azure due to ACLs not being enabled"
### Terraform Version
[code]

### Affected Resource(s)
Directly:
- databricks_permissions

Indirectly:
- databricks_cluster
- databricks_cluster_policy

### Environment variable names
None are relevant.

### Terraform Configuration Files
Minimal example (removed as much as possible while still making sense):
[code]

### Debug Output
Unfortunately, I'm not able to share a full log output at this ti

[2020-10-09 23:47] gerryhernandez commented on #370
Just to be clear, manually enabling the flag in the GUI does, in fact, allow `terraform apply` to succeed.

[2020-10-10 04:27] dnraj opened #371 "[ISSUE] Provider bug - plugin.terraform-provider-databricks_v0.2.7 - crash - Out of Memory errors"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2020-10-10 08:00] nfx commented on #371
Not enough context. @dnraj can you please provide:

* if possible, full log of provider requests from command invocation start with sensitive values redacted. Provider is a single subprocess per single terra form command and if memory leak conditions exist (which I doubt), they are built up in previous invocations to this module.
* names of all Databricks resources used in this environment
* stack

[2020-10-10 09:06] nfx commented on #370
@gerryhernandez What roles was your service principal or user assigned with? This issue didn't pop up during our integration testing runs (make test-azcli or make test-azsp). Tuning those roles should be the first place to look at. Premium workspace is also needed. Let me know if you figured out the roles, so we'll update documentation.

To be clear, this is not the expected behavior. Terraform lo

[2020-10-10 13:26] nfx commented on #370
@gerryhernandez try creating permissions with the same SP that created the workspace

[2020-10-10 14:49] gerryhernandez commented on #370
Thanks for the quick response, @nfx. Bare with me, as I’m 100% new to Azure, Databricks, *and* Terraform. I’m just wearing a different hat right now to fill a need, so I’m not sure if I’m answering what you’re asking for.

The user that is running the `terraform apply` has the `owner` role at the Azure subscription level. Inside of the Databricks workspace, the user is provisioned as an administra

[2020-10-10 15:08] nfx commented on #370
@gerryhernandez , what is pricing tier of the workspace and how is it created? I've just checked on very fresh workspace created in premium pricing tier. this is how workpsace is created - https://github.com/databrickslabs/terraform-provider-databricks/blob/master/scripts/modules/az-common/main.tf#L48

I have also just successfully ran https://github.com/databrickslabs/terraform-provider-databrick

[2020-10-10 15:22] gerryhernandez commented on #370
I created the workspace using the official azurerm provider, just like the snippet I provided and almost identical to the one you provided. However, now you have me thinking about a potential edge case. The workspace was originally created with the standard tier, then it was forcefully destroyed and recreated due to switching to the premium tier. Thankfully, I’m early enough in the process that I

[2020-10-10 15:48] dnraj commented on #371
names of all Databricks resources used in this environment
databricks_cluster
databricks_group
databricks_notebook
databricks_scim_user
databricks_scim_user
databricks_user
module.my_base_workspace_deployment.data.template_file.cross_account_role_assume_policy
module.my_base_workspace_deployment.data.template_file.cross_account_role_policy
module.my_base_workspace_deployment.data.template_file.sto

[2020-10-10 16:15] nfx commented on #370
if that's the case, we should update docs

[2020-10-10 17:10] gerryhernandez commented on #370
**Steps taken:**

1. `terraform destroy`
1. Manually delete `tfstate` file in our remote backend
1. Delete local `.terraform` directory
1. `terraform init`
1. `terraform apply`

Taking a quick glance at the integration tests, this is my best effort to mirror the conditions that the tests run in.

**Result:**

It worked. I got 100% expected behavior, although a bit nebulous. All of the access contr

[2020-10-11 17:58] tcz001 commented on #28
@nfx we need Service principal in scim because it's without the Admin permission by default, while Azure RBAC contributor role will be added as by default and it has 2000 role assignments limitation, that's why we need this resource to be implemented

[2020-10-11 18:01] tcz001 commented on #28
yes, we will try to send a PR on this

[2020-10-12 11:29] nfx commented on #371
cannot reproduce. it looks like it is the issue with oversized cross-account policy and too low system limits. doesn't seem to be a provider issue. please reopen it if you think otherwise.

[2020-10-12 11:29] #371 closed

[2020-10-12 11:30] nfx commented on #370
@gerryhernandez closing the issue then

[2020-10-12 11:30] #370 closed

[2020-10-12 20:17] dnraj commented on #371
@nfx This was fixed by upgrading the memory of the host where terraform is running. Thanks for your quick response.

[2020-10-13 21:32] HamiltonHord commented on #368
The only thing I'd like to see is somehow having the Databricks created VPC Id as an attribute that can be used elsewhere. For example, I'd like databricks to make me the VPC, but I then want to hook that VPC up to a Transit gateway + get the VPC info for routing.

[2020-10-14 09:08] nfx commented on #339
@saguziel if DNS does not work, please open a ticket with Databricks Support. DNS refresh is not the responsibility out of scope of this provider.

[2020-10-14 15:37] lukerosser commented on #267
@nfx I'm also seeing this error when using service principal authentication as above.

I am trying to create the databricks workspace and use the provider for managing clusters within the same module so on the first run there is no workspace to authenticate against when running a plan.

[2020-10-14 15:50] lukerosser opened #372 "[ISSUE] Provider lazy authentication"
### Terraform Version

Terraform 0.13.4
Databricks Provider 0.2.7

### Affected Resource(s)

provider initialisation

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Authentication isn't attempted until required

### Actual Behavior
Authentication is attempted on a plan

### Steps to Reproduce

1. `terraform plan`

### Further information

I am trying to ma

[2020-10-14 19:06] tcz001 commented on #28
@nfx  one quick question, should we name the resource as databricks_service_principal to follow your recent change on databricks_user and databricks_scim_user?

[2020-10-14 19:23] stikkireddy commented on #372
Please look at a similar issue that happens in the https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs#stacking-with-managed-kubernetes-cluster-resources.

```The root issue lies with the order in which Terraform itself evaluates the provider blocks vs. actual resources. Please refer to this section of Terraform docs for further explanation.```

The suggestion is to manage wit

[2020-10-15 10:43] lukerosser commented on #372
Thanks for the quick reply! That makes sense. I've managed to work around it by using locals to pre-configure related resource names and then reference those when building the workspace resource id in the provider config:

[code]

and databricks provider resources all have a `depends_on` block with the databricks workspace

It might be helpful to add something similar to the kubernetes provider he

[2020-10-16 09:03] BertrandDechoux opened #373 "[ISSUE] Creation of workspace folder ?"
Hi,

I am wondering if workspace folders can be created with Terraform ?

I did not find much about this topic.

The documentation of databricks_permissions describes how to manage the folder permission. But even there, the folder is not created. The folder is expected to already have been created. However, for all other permission examples (cluster, policy, pool and notebook), the test resource i

[2020-10-16 09:53] nfx commented on #373
@BertrandDechoux what is the use-case?

[2020-10-16 09:59] BertrandDechoux commented on #373
The workspace is shared between multiple teams and that's not something I can change.

I would like to create a distinct workspace folder for each teams and provide the correct rights to it using databricks_permissions.

But as for notebooks, the users will be able to create them by themselves.

So I could create a notebook as a workaround but that seems a big workaround.

I am currently investiga

[2020-10-19 09:26] nfx commented on #373
@BertrandDechoux , you can do the following - will it work for your case?

[code]

If you'd need folder creation from terraform on more granular level - PR for **databricks_folder** is welcome :)

[2020-10-19 09:34] nfx commented on #372
@lukerosser overall recommendation is to also separate workspace creation (azurerm provider) and for workspace provisioning (databricks provider).

the other workaround is to have an empty `~/.databrickscfg` file, so `locals` block might be avoided. not ideal, but will work.

i was able to reproduce this issue by renaming my `~/.databrickscfg`, but haven't gotten time to find the right stack trace

[2020-10-19 09:39] nfx commented on #369
@markhoiland, @alaczynski, it will only work for Azure CLI authentication, but not for Service Principals. That means, `az login --service-principal --username $ARM_CLIENT_ID --password $ARM_CLIENT_SECRET --tenant $ARM_TENANT_ID` won't work. This is the limitation from underlying cloud resources.

[2020-10-19 09:41] nfx commented on #346
already implemented it, PR pending

[2020-10-19 09:47] nfx commented on #28
@tcz001 , `databricks_service_principal` is naming convention to go ahead with, correct. SCIM is just the name of the industry standard interface to manage identities, it shouldn't leak into resource names. Most of people would even ask first - "what is SCIM?..".

To be clear, this is what we'd expect in PR:

* resource code itself, which has 90% coverage by unit tests - see examples for `databric

[2020-10-19 09:51] BertrandDechoux commented on #373
Thanks. It is close to what I am doing now.

I would have created a PR for databricks_folder if I had the time to implement it. But sadly, that won't be for 2020.

[2020-10-19 14:20] alexott commented on #350
Implemented as part of the #348

[2020-10-19 14:20] #350 closed

[2020-10-19 18:51] itachiRedhair opened #374 "[ISSUE] databricks_permissions fails everytime with Error: Cluster {cluster_id} does not exist"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
v0.13.0

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_permissions
- databricks_cluster

If t

[2020-10-19 19:16] nfx commented on #374
@itachiRedhair does this happen every time? can you try doing it without provider aliasing?

could you share the API request sequence around permissions endpoint? `TF_LOG=DEBUG` before terraform apply.

Please create separate issue for library updates with more details. one of the reasons for that might be unpredictable sequence that arguments are passed to a module.

[2020-10-19 19:17] #373 closed

[2020-10-19 19:24] itachiRedhair commented on #374
@nfx My bad. `databricks_permissions` resource was missing provider alias. I seriously need to log off for the day.
Thanks for the hint.

I'm still facing another problem which is: libraries are always getting updated even in subsequent successful `terraform apply`. Could it be because of `dynamic` expression?

[2020-10-20 15:50] #374 closed

[2020-10-20 15:53] nfx commented on #374
@itachiRedhair don't use aliases when you don't have to :) separate your code into modules.

it might be because of dynamic expression, yes. please compare it with normal case, otherwise open a bug

[2020-10-20 15:56] nfx commented on #295
integration test will tell you if API is handling those things already

yes, whenever content is updated, init script should be updated as well.

[2020-10-20 22:50] favoretti commented on #369
@nfx How come SP auth won't work on this?

[2020-10-21 21:09] #113 closed

[2020-10-21 21:16] nfx commented on #369
it's related to support of "on-behalf-of" flow

[2020-10-21 23:59] almmechanics opened #377 "[ISSUE] databricks_dbfs_file not picking up local_file dependency and failing at terraform plan stage"
My `terraform plan` is failing when a `local_file` resource is to created dynamically within terraform and then referenced by a `databricks_dbfs_file` resource.

### Terraform Version
Terraform v0.13.4
+ provider registry.terraform.io/databrickslabs/databricks v0.2.7
+ provider registry.terraform.io/hashicorp/azurerm v2.32.0
+ provider registry.terraform.io/hashicorp/external v2.0.0
+ provider reg

[2020-10-22 00:20] almmechanics commented on #377
If however, I use `base64encode`  on the rendered payload (and not the file ) instead of `filebase64`  (see below). I think I have a way around the issue.
[code]

[2020-10-22 00:20] #377 closed

[2020-10-22 08:05] evaimitico opened #378 "[ISSUE] Provider bug: impossible to create a single node cluster (num_workers = 0 is ignored)"
### Terraform Version
Terraform v0.13.2

### Affected Resource(s)
- databricks_cluster

### Terraform Configuration Files
[code]

### Expected Behavior
terraform should be able to create a single node cluster on Azure Databricks (with 0 workers), since it's possible to do it from UI.

### Actual Behavior
When doing terraform apply, i got the following error:
Error: Missing required field: size
Ple

[2020-10-22 08:11] nfx commented on #378
There's PR #375 for this issue already

[2020-10-22 09:00] alexott opened #379 "[ISSUE] Changing Pinned status causes cluster restart"
The change in the pinned status for existing cluster causes the cluster restart because `/clusters/edit` REST API is not idempotent. We need to implement more sophisticated state comparison, and call `/clusters/edit` only if actual cluster definition has changed.  The cluster restart may also happen if we just add library, etc.

### Terraform Version

Terraform v0.13.4, Databricks provider is buil

[2020-10-22 09:24] alexott opened #380 "[ISSUE] Allow to consume only N items from the Events API"
Right now, `cluster.Events` call specifies the limit, but still collects all events from the REST API, as the `limit` parameter specifies the number of the items per page, not the total limit.  It would be useful to add a parameter to the call that will specify the maximal number of events to retrieve...

[2020-10-22 09:50] nfx commented on #380
@alexott technically we just need the last state, correct? maybe we can simplify the code just to return the first page.

[2020-10-22 09:53] evaimitico commented on #378
nfx, thanks for pointing me to that PR. I'll wait for the moment it will be merged.

[2020-10-22 09:53] #378 closed

[2020-10-22 10:20] alexott commented on #380
Yes, that's what I want to implement - current implementation is generic, planned for future use.

[2020-10-22 13:36] #189 closed

[2020-10-23 07:44] hamza-tumturk opened #382 "[ISSUE] Provider bug: terraform replaces workspace due to deployment_name prefix"
Hi,

when creating a workspace in our account, the deployment name is getting prefixed with our account prefix, which is intended behaviour. Creating the resource with terraform, we don't additionally set the prefix, as it automatically gets set by databricks. So the deployment name will eventually end up being `<prefix>-<deployment_name>`.
The issue starts when rerunning the terraform deployment,

[2020-10-23 11:49] jancschaefer opened #383 "[ISSUE] Clusters persist and not added to state after deployment fails due to provider issue"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
- 0.13.3
- 0.13.5

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster

If this issue appea

[2020-10-23 12:01] nfx commented on #383
@jancschaefer what do you think should be the expected behavior here?

[2020-10-23 12:06] jancschaefer commented on #383
I would either expect the clusters not to show up in databricks, if the deployment fails or that the clusters are nontheless added to the state and the provider tries to start up the same existing cluster the next time.

This way, if terraform fails twice and then succeeds, I end up with three clusters, although only one was defined in terraform.

[2020-10-23 12:28] nfx commented on #383
okay, then cluster should be deleted, if it cannot be started.

Change has to be added to `ClustersAPI#Create` to remove a cluster that was just created if it was not able to start and return previous error message for context.

This might qualify as behavior change and might be put on hold to 0.3.

[2020-10-23 13:46] alexott commented on #379
I has a fix for that detects when the changes are made in the `is_pinned` or in `library*`, and don't call `/clusters/edit`... But it will have code conflicts with #384, so I'll wait until it's merged

[2020-10-23 14:21] hamza-tumturk commented on #382
In the meantime, a possible workaround for this issue is just to add a lifecycle to ignore the changes on the `deployment_name` for the resource `databricks_mws_workspaces`
[code]

[2020-10-23 14:49] #380 closed

[2020-10-26 22:32] tcz001 commented on #28
@nfx @sdebruyn  PR is created

[2020-10-28 11:52] MarekLani opened #387 "[ISSUE] Submit multiple (jar/python) jobs to cluster."
Based on the documentation one can invoke Spark submit tasks only on new clusters (https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/job#spark_submit_task-configuration-block).

This would mean it is possible to create only one jar or python based job on the cluster, as one cannot reference existing cluster id.

Maybe my understanding of documentation is not c

[2020-10-28 16:21] stikkireddy commented on #387
@MarekLani can you describe how you want to configure the resource. This provider is based on the capabilities of the databricks platform and rest api: https://docs.databricks.com/dev-tools/api/latest/jobs.html#jobs-api. If you can show me how you want to configure the resource via an example and indicate whether the api can support that it would be a way forward to include that in the provider. B

[2020-10-28 16:47] MarekLani commented on #387
@stikkireddy thank you for your response. I might have done more due diligence on the API side. Now I have understanding that actually it is usual practice to have one job per cluster when job is defined thru python files or jars. Closing this issue. Sorry for creating it prematurely.

[2020-10-28 16:47] #387 closed

[2020-10-29 10:20] yuri-tieto opened #388 "[FEATURE] Support for Azure Managed Identity Authentication"
Hello,

We are currently using Terraform through Managed Identity authentication, but looks like databricks provider does not support it. Is this possible to implement? Any workarounds that can be used?

[2020-10-29 11:31] stikkireddy commented on #383
Hey adding my 2 cents here this is occurring because in the cluster create is waiting for the cluster to be in a running state before we register the ID. Unfortunately terraform will not be able to taint the resource if it is not aware of the id.

Typical behavior of terraform is:
1. Create object in the remote api
2. Set id
3. If the create fails or read fails in post set, the resource becomes ta

[2020-10-30 09:02] MarekLani opened #389 "[FEATURE] Restart running streaming job to redeploy configuration changes"
Hello,

I am trying to force re-creation of job, but apparently there is no single field in the databricks job resource, which edited value would cause re-creation of the job on databricks side. Even job name can be edited without redeploying the job. Would it be possible to add some field, which would be used only for the needs of terraform and its value would have effect on re-creation of the da

[2020-10-30 11:26] nfx commented on #389
@MarekLani what you describe here is actually expected behavior or all of terraform resources. Are you sure you're using Terraform the right way?..

What's the use case?

[2020-10-30 11:37] stikkireddy commented on #389
This can be done via tainting the resource. On your next apply the resource will be recreated with new id and new things. As the api goes all the fields are editable and updated in place so there is no field i believe afaik that forces a recreate. your best option is `terraform taint`.

[2020-10-30 11:41] nfx commented on #388
@yuri-tieto i've seen references to Managed Identity Auth in ADAL, so technically it should be possible to add another "authorizer" here - https://github.com/databrickslabs/terraform-provider-databricks/blob/master/common/client.go#L59, which would be a variation of Service Principal auth. Right now it's called `configureWithClientSecret`, but has to be expanded, if MSI is used. I also foresee dif

[2020-10-30 11:46] MarekLani commented on #389
@nfx @stikkireddy  thanks for replies. I ended up using taint from command line. Nevertheless when I want to have build specific part of setup usually resources are teared down and redeployed if I change their name. I of course understand that databricks jobs API does not work that way and it enables editing of the name. Nevertheless if I want to recreate the job from terraform file basically I ha

[2020-10-30 12:31] nfx commented on #389
@MarekLani thanks for more context.

If my understanding is correct, you're building CD process with terraform for a streaming job.

1. There's an artifact, that you store on DBFS. Is it `spark_jar_task`, `spark_python_task` or `spark_notebook_task`?
2. Is the artifact supplied through the library?
3. Does the artifact have `-latest` version modifier or each time you deploy a different version, it

[2020-10-30 17:24] SDubrulle-e61 opened #390 "[ISSUE] Azure service principal authentication errorr"
### Terraform Version
0.13.5

### Affected Resource(s)
Multiple, issue seems to be related to authentication.

### Environment variable names
ARM_ACCESS_KEY, ARM_CLIENT_ID, ARM_CLIENT_SECRET, ARM_SUBSCRIPTION_ID, ARM_TENANT_ID

### Terraform Configuration Files
`
terraform {
   backend "azurerm" {
        container_name       = "sample"
        key                           = "sample.tfstate"

[2020-10-30 17:28] #390 closed, assigned to nobody

[2020-10-30 18:04] MarekLani commented on #389
yes I can include part of build id as version. If I can provide my vote I wold use always_running. So idea is that this would enable graceful restart?

[2020-10-30 18:44] ganeshRajagopal opened #391 "[ISSUE] Unable to create Cluster on GovCloud (Azure)"
Hello,

Trying to use the Terraform provider agains the GovCloud  (Azure) and hitting issues while creating the cluster. The workspace is created successfully. The hard coding to point to Commercial cloud needs to be fixed so the provider can be used against govCloud.

Affected Resource(s)
databricks_Cluster

Steps to Reproduce
N/A

[2020-10-30 19:32] nfx commented on #389
something like that. I'll check with couple of more folks, because we might need exactly the same "virtual option" for always-on clusters (e.g. i see pattern that auto-starts clusters for business hours).

[2020-10-30 19:53] nfx commented on #391
Hi @ganeshRajagopal , would you be able to PR in the changes? it's a simple one, in `azure_auth.go`

[2020-10-30 20:07] nfx commented on #183
@stikkireddy i'd suggest to keep only `source` and deprecate `content`

[2020-11-02 08:44] hungnguyen10897 opened #397 "[ISSUE] Custom Datatbricks Config file not picked up for provider authentication, when Azure MSI is used"
### Terraform Version
Terraform 0.13.4
Databricks Provider 0.2.7

### Affected Resource(s)
Provider Authentication

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Provider authenticated

### Actual Behavior
Authentication failed due to "not configured for provider"

### Steps to Reproduce

1. `export DATABRICKS_CONFIG_FILE=<CUSTOM_CONFIG_FILE>`
2. `az logi

[2020-11-02 08:57] nfx commented on #397
@hungnguyen10897 `az login` precedes Databricks CLI config - https://github.com/databrickslabs/terraform-provider-databricks/blob/master/common/client.go#L62 and is meant to be used if no other authorizers were used.

Why do you need both `az login` and `~/.databrickscfg`? We natively support Azure CLI login.

[2020-11-02 10:16] hungnguyen10897 commented on #397
Hi @nfx, We are running terraform on a VM which is assigned a MSI. Our `az login` is actually run as `az login --identity -u <MSI_ID>`, which logs in to azure as the MSI (Service Principal). If we use the same authentication for databricks provider, it outputs
[code]
I guess it's documented [here](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token).

[2020-11-02 10:50] #369 closed

[2020-11-02 12:05] nfx commented on #397
@hungnguyen10897 please provide more information, including debug logs, as there's not enough context to properly address this issue. You can get filtered debug logs by

[code]

[2020-11-02 12:46] hungnguyen10897 commented on #397
Here's the debug log

[code]

The provider block:
[code]

And the environment variable`DATABRICKS_CONFIG_FILE=/home/hung/config_folder/.databrickscfg`.

Looks like terraform is still looking for the config file in `~/.databrickscfg`

[2020-11-03 00:39] #346 closed

[2020-11-03 09:04] nfx commented on #397
okay, closing this as duplicate of earlier #388 on proper MSI support. please subscribe to comments on that one.

As always, PRs are more than welcome :)

[2020-11-03 09:04] #397 closed

[2020-11-05 12:49] stikkireddy opened #401 "[ISSUE] Import of User Does not work as expected"
Hi there,

The user entity is:

[code]

The api returns the username field as `userName` thus the StructToData does not work properly.

My state file looks like the following:

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_user

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

St

[2020-11-05 12:54] nfx commented on #401
interesting. is it both AWS & Azure?

[2020-11-05 13:11] nfx commented on #401
`UserEntity` is the entity as seen by resource, just an abstraction layer, the actual request is in `ScimUser`, where conversion is done in `UsersAPI#ReadR` (will be renamed to simple `Read` in few days)

[code]

can you `TF_LOG=DEBUG` when you import?

[2020-11-06 09:23] #379 closed

[2020-11-06 10:26] nfx commented on #391
Stable implementation of this issue may require pulling in the same package, that is used by `azurerm` provider, otherwise i foresee more bugs down the line - https://github.com/hashicorp/go-azure-helpers (MPL 2.0)

[2020-11-06 17:09] louisdubaere opened #402 "[ISSUE] Provider installation issue when building modules"
### Terraform Version
Terraform version: 0.13.5

### Affected Resource(s)
Modules using databricks provider

### Environment variable names
Azure related variables for authentication

### Terraform Configuration Files
[code]

### Debug Output

[code]

### Expected Behavior
Working with modules should not affect the providers.

### Actual Behavior
Inserting a module creates an issue with the provid

[2020-11-06 17:12] nfx commented on #402
@louisdubaere, most likely this is an issue with Terraform itself

[2020-11-06 18:50] nfx commented on #382
Fixed in #400

[2020-11-06 19:32] nfx commented on #368
Will be fixed in #400

[2020-11-06 19:40] kydos93 opened #403 "[ISSUE] databricks_cluster use of policy_id does not set defaults"
When setting the policy_id attribute with use of the databricks_cluster resource, terraform will raise validation errors but is not setting any defaults as specified in the underlying cluster policy

### Terraform Version
0.12.29

### Affected Resource(s)
- databricks_cluster
- databricks_cluster_policy

### Expected Behavior
databricks_cluster resource should use the defaults set in the databrick

[2020-11-06 19:43] nfx commented on #403
@kydos93 please share your full relevant configuration & debug log.

[2020-11-06 20:49] #368 closed

[2020-11-06 20:49] #382 closed

[2020-11-06 20:49] #383 closed

[2020-11-06 21:08] chase-edwards-db commented on #402
@louisdubaere I have encountered this issue in the past. It's likely due to your project structure. In 0.13.x, you need to include the terraform `required_providers` block in each module. This is because Terraform searches for implicitly used providers by default within its own hashicorp namespace. Any "third party" providers, such at the Databricks provider, will require explicit specification. T

[2020-11-06 21:10] #402 closed

[2020-11-07 11:23] louisdubaere commented on #402
@chase-edwards-db Thanks for your reply and explanation, I wasn't aware of this but that solved the issue indeed :)

[2020-11-09 09:11] evaimitico opened #404 "[ISSUE] Provider bug: Error: resource databricks_notebook doesn't support import"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.13.2
+ provider registry.terraform.io/databrickslabs/databricks v0.2.8
+ provider registry.terraform.io/hashicorp/azurerm

[2020-11-09 19:03] nfx commented on #404
@evaimitico ack, will add in 0.2.9 bugfix release.

Just in case, import should be by `notebook_id`, not by `notebook_path`, as you're specifying here.

[2020-11-09 19:05] nfx commented on #403
Will update documentation, but TLDR  - don't use `policy_id` from terraform.

[2020-11-11 14:34] evaimitico commented on #404
Hi nfx,
thanks for adding to 0.2.9
At first i tried with notebook_id but since it didn't work i tried with path too.
I'll wait for 0.2.9!

[2020-11-11 21:24] nfx commented on #402
https://www.terraform.io/upgrade-guides/0-13.html I’ll add this doc here and pin the issue on top

[2020-11-12 16:48] dgray1k opened #408 "[DOC] How to Enable Workspace Access Control through Terraform Databricks Provider"
I cannot see a way of setting Enable Workspace Access Control (https://docs.databricks.com/administration-guide/access-control/workspace-acl.html#enable-workspace-object-access-control) to be "on" using the terraform provider.

 Is this possible or am i missing something?

[2020-11-12 16:53] nfx commented on #408
@dgray1k isn't it available for premium subscription workspaces by default? I'm seeing it enabled by default on all workspaces created.

[2020-11-12 21:10] saguziel opened #409 "Unable to import databricks_secret"
### Terraform Version
0.13.5, provider version 0.2.7, 0.2.8

### Affected Resource(s)
databricks_secret

### Expected Behavior
Import succeeds when running terraform import as described in the docs

### Actual Behavior
The following output `Error: resource databricks_secret doesn't support import`

### Steps to Reproduce
Try importing a databricks secret

[2020-11-12 21:29] stanbiryukov opened #410 "Advanced admin configuration at cluster or workspace creation level"
Is there a way to enable advanced databricks settings at the terraform resource level? For example, I don't see an option to enable container services, web terminal etc in any of the modules. It might make sense to add those types of options under "azurerm_databricks_workspace". Specifically, I can't deploy a databricks environment with a Docker image in one step. I need to first deploy the worksp

[2020-11-13 10:01] dgray1k commented on #408
@nfx You are absolutely correct. I was looking at a different workspace than created using my TF script doh.

Long day yesterday...

[2020-11-13 10:01] #408 closed

[2020-11-13 13:42] nfx commented on #410
@stanbiryukov it's possible through https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/workspace_conf, but the exact names of advanced feature toggles are not public at the moment. Please contact your Databricks representative and describe the use-case.

[2020-11-13 13:42] #410 closed

[2020-11-14 14:55] kamakay opened #411 "[FEATURE] Single Node cluster"
Dear all,

I would ask any help in order to add a single node cluster on azure databricks using
- terraform: v0.13.4
- azurerm: 2.32.0
- databrickslab tf provider: 0.2.7

Here my code

[code]
but everytime i run terraform apply i receive the error:

`Error: Missing required field: size`

I have tried different configurations but nothing appears to help me.

Any help willl be really appreciated.

T

[2020-11-16 20:58] stanbiryukov opened #412 "Auth type option for databricks_azure_adls_gen2_mount"
It looks like the data lake mount module, `databricks_azure_adls_gen2_mount`, requires a service principal token. Is there a way to mount it with the storage account `primary_access_key` directly? Perhaps it can accept an `auth_type` option just like the `azure_blob_mount` module.

[2020-11-17 05:49] anthonyawuley opened #413 "[DOC] Fix Typo In Doc"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general Terraform questions, please see: https://www.terraform.io/community.html.
This template is for both adding enhancement as well as pointing out issues with the provider documentation.

### Affected Resource(s)
Link to the page wi

[2020-11-18 18:40] #403 closed

[2020-11-25 06:06] thai-intelematics opened #418 "[ISSUE] Unable to create S3 mounts"
### Terraform Version
Terraform: 0.13.5
Databricks provider: 0.2.8

### Affected Resource(s)
- `databricks_aws_s3_mount`

### Environment variable names
N/A

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
The mount should be applied succesfully.

### Actual Behavior
Some misleading error was returned.

### Steps to Reproduce
Please list the steps required

[2020-11-25 09:00] nfx commented on #418
@thai-intelematics this is not the issue of provider, but rather IAM profile not being able to access the bucket. Which may not exist as well.

`dbutils.fs.ls(mount_point)` inside verifies if data on the mount point is accessible and throws error if it doesn't. And it unmounts a bucket, because it's found to be inaccessible. the root cause may be in some wrong configuration of S3 bucket.

[2020-11-25 09:00] #418 closed

[2020-11-26 02:52] markhoiland commented on #295
@alexott @nfx is there a estimated release date of v0.3.0 if that's the release this feature will be added to?

Thanks for your help.

[2020-11-27 04:36] thaiphv opened #420 "[ISSUE] DATABRICKS_CONFIG_FILE environment variable doesn't get used"
### Terraform Version
[code]

### Affected Resource(s)
This affects how the Databricks client gets authenticated.

### Environment variable names
[code]

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
Terraform should have been able to generate a plan:
[code]

This plan was generated successfully when I placed `.databrickscfg` in my h

[2020-11-27 09:32] nfx commented on #420
@thaiphv Can you use `~/.databrickscfg` file in the home directory?

I'm wondering if we should remove `DATABRICKS_CONFIG_FILE` env variable.

Pull Requests welcome, as always.

[2020-11-28 03:50] thaiphv commented on #420
Hi @nfx, as I mentioned, I was able to run `terraform plan` when I placed `.databrickscfg` in the home directory. We do have a need to specify configuration file to a custom place because we'd like to store the file as credentials in Jenkins and specify the path to the file via the `DATABRICKS_CONFIG_FILE` environment variable in our pipelines.

[2020-11-30 11:29] #420 closed

[2020-12-01 17:47] nfx commented on #183
will cover in scope of harmonising behavior between DBFS & Notebook resources - #417

[2020-12-02 00:06] nfx commented on #183
Fix is in https://github.com/databrickslabs/terraform-provider-databricks/pull/417/commits/9066bee70a2f2810f272ee36775409a74c2c446e

[2020-12-02 00:12] nfx commented on #183
this change also ignores any changes on the workspace side and only relies on synthetic `md5` field. This means that notebook/file will be updated only when terraform state changes and any changes on workspace won't get reflected on the state. Same behaviour holds true for secrets & tokens.

So 0.3.0 will have some significant changes, together with simplified maintainability.

[2020-12-02 06:14] mmraz opened #425 "[ISSUE] permissions thrash on users group"
### Terraform Version
0.12.16

### Affected Resource(s)
- databricks_permissions

### Environment variable names
AWS_SHARED_CREDENTIALS_FILE
KUBE_LATEST_VERSION

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
Existing access_control for the "users" group, which match the desired state, are not modified.

### Actual Behavior
The access

[2020-12-02 08:33] nfx commented on #425
Try removing a rule for admins group

[2020-12-02 10:26] nfx commented on #409
Will be fixed in #415 along with few other resources.

[2020-12-02 10:27] nfx commented on #404
Will be fixed in #415

[2020-12-02 10:28] nfx commented on #401
No activity for 27 days, closing issue

[2020-12-02 10:28] #401 closed

[2020-12-02 10:29] nfx commented on #412
type option is not possible for adls_gen2 resources.

[2020-12-02 10:29] #412 closed

[2020-12-02 10:30] nfx commented on #413
Fixed in #416

[2020-12-02 10:30] #413 closed

[2020-12-02 10:35] joselcaguilar opened #426 "[ISSUE] Unable to destroy IP Access Lists"
### Terraform Version
0.13.5 (tested on Windows x64 and Linux x64)

### Affected Resource(s)
- databricks_ip_access_list
- databricks_workspace_conf (destroy not tested yet because databricks_ip_access_list has a depends_on applied to databricks_workspace_conf, so it should be destroyed later)

### Environment variable names

### Terraform Configuration Files
[code]

### Debug Output
[code]

### P

[2020-12-02 16:07] mmraz commented on #425
That seems to have resolved the thrash.  I'll update usage.

[2020-12-02 16:07] #425 closed

[2020-12-03 15:09] sudeepgupta90 opened #431 "[ISSUE] Missing shell_command_task"
Hi Team,

This is an issue which spans across multiple repositories.
I have been using the Databricks Rest API for Jobs - [link](https://docs.databricks.com/dev-tools/api/latest/jobs.html#jobsettings)
This used to contain ShellCommandTask in the Job Settings API. It is no longer covered in the documentation.

ShellCommandTask is also a requirement for using MlFlow as shown in this code - [link to

[2020-12-03 15:37] sudeepgupta90 commented on #411
We would also be using `single node cluster`. Has this been solved, or is this still an issue?

[2020-12-03 18:07] nfx commented on #431
Terraform integration works with *all supported* Public APIs, which is not the case for `shell_command_task`. We don't have any plans on adding it to terraform integration.

[2020-12-03 18:07] #431 closed

[2020-12-03 21:40] kamakay commented on #411
Hi, from my point of view no one provided us a solution.

[2020-12-03 21:46] grgouveia-everis opened #433 "[ISSUE] Provider bug"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2020-12-03 21:48] nfx commented on #433
@grgouveia-everis please remove explicit assignment to admin group, because admin group has permissions to use anything anyway. this should fix it.

[2020-12-03 21:59] nfx commented on #28
Changes from #386 merged in #432 and will be part of 0.3.0 release.

[2020-12-03 21:59] #28 closed

[2020-12-03 23:57] nfx commented on #411
@sudeepgupta90 @kamakay right now busy with preparing next release. If you want to speed things up - pull requests are more than welcome :)

[2020-12-04 14:30] nfx commented on #389
Hi @MarekLani , somewhere after 0.3.0 we could do restart of jobs if underlying file changes (thanks to changed in databricks_dbfs_file from #417 ). How graceful the restart of streaming job has to be? What happens if you [press cancel](https://docs.databricks.com/dev-tools/api/latest/jobs.html#runs-cancel) on streaming job UI? does the stream gracefully end? If this is the case, then it might be

[2020-12-04 18:56] grgouveia-everis commented on #433
Hi Serge,
This reference to admin actually is a AAD group called admins I created at our infrastructure, it has no relations with the databricks admins group.

Anyway, I fixed it by downgrading the provider to 0.2.5, so I think it can be an issue with the version or maybe that the cluster was created with a version and the permission with another... don't know

[2020-12-07 03:35] summershyuan opened #434 "databricks_token resource cannot create token for Azure China"
Hello, there

I am using "datatbricks_token" resource to create a pat on Azure China by using the code block as below. I need to use this token to call Databricks APIs for '.jar' file uploading.

[code]

However, i get "Terrafom Apply" error showing as below:
`2020-12-02T07:12:43.7416770Z [1m[31mError: [0m[0m[1mazure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request

[2020-12-07 08:43] nfx commented on #434
Currently azure auth doesn’t work yet for azure china and azure govcloud. Pull requests are welcome:)

[2020-12-07 08:45] nfx commented on #434
It’s literally same issue as in #391

[2020-12-07 17:31] WightmanVH opened #436 "[FEATURE] AWS STS AssumeRole Mounts"
Hello,

I'm trying to use the databricks_aws_s3_mount syntax to reproduce the recommended AWS mount configuration here:

[Documentation > Databricks Workspace guide > Administration guide > Manage AWS Infrastructure > Secure access to S3 buckets across accounts using instance profiles with an AssumeRole policy](https://docs.databricks.com/administration-guide/cloud-configurations/aws/assume-role.h

[2020-12-07 18:20] nfx commented on #436
Hi @WightmanVH ,

Please start your cluster with `"arn:aws:iam:::role/MyRoleB"` and then mount within it to achieve mount being available for all clusters with that instance profile (role).

[code]

What you're asking for is new feature of provider for additional configuration properties. I'm not convinced enough we need `extraConfigs` way, because we're directly specifying properties in provider.

[2020-12-07 18:53] WightmanVH commented on #436
My understanding is that these extra configs support the AssumeRole capability (additional to the databricks instance profile) needed because our S3 storage is in an separate AWS account.  I will test the suggested code to see if this works.  Thank you

[2020-12-07 19:04] #433 closed

[2020-12-07 19:09] nfx commented on #295
Update, global init scripts should use the same content_base64/source critical code path, as dbfs files and notebooks.

[2020-12-08 14:20] MarekLani commented on #389
Hi @nfx thanks for response. Pardon my delay, but as I am responsible purely for CD part of the project I needed to connect with the rest of my team working on the actual job logic. We need to get understanding of the behavior of libraries we are using to connect to the queues and how much resiliency there is provided out of the box and will get back to you. However my guess would be your suggeste

[2020-12-09 13:11] #391 closed

[2020-12-09 13:11] #434 closed

[2020-12-09 15:38] alexott opened #438 "[ISSUE] Minimal setup on master fails with internal error"
When debugging the data source for spark versions I've got an error with internal validation (provider is setup via `make install`) when running against Azure & configured with databricks-cli:

[code]

### Environment variable names

[code]

### Terraform Configuration Files

minimal example from our documentation:

[code]

### Debug Output

debug log is attached: [debug.log](https://github.com/da

[2020-12-09 17:20] nfx commented on #438
This should be fixed in #417

[2020-12-09 17:40] alexott commented on #438
Ok, do you plan to merge it soon?

[2020-12-09 18:23] nfx commented on #438
i can merge it, but acceptance tests are not fully rewritten. would you agree it's a good idea to merge with broken acceptance tests and work on those in separate PRs?

[2020-12-09 18:47] alexott commented on #438
If master doesn’t work anyway (or it’s just my version), then I’m ok to work on tests in other PR...

—
Sent from mobile device, sorry for typos...

[2020-12-10 10:19] MarekLani commented on #389
So @nfx the approach with cancelling the job you described should be fine for us. We are connecting to Azure Event Hubs while libraries we use should have resilient checkpointing implemented. So position is not checkpointed until DF processing is not finished and thus it will meet our at least once delivery requirement.

[2020-12-10 14:58] #183 closed

[2020-12-10 14:58] #358 closed

[2020-12-10 14:58] #404 closed

[2020-12-10 14:58] #438 closed

[2020-12-10 17:49] #347 closed

[2020-12-11 05:17] heeroyuy925 opened #440 "[ISSUE] Failed cluster library dependencies are not cleaned up from error state"
### Terraform Version
terraform -v
Terraform v0.13.3
+ provider registry.terraform.io/databrickslabs/databricks v0.2.9
+ provider registry.terraform.io/hashicorp/azuread v1.1.1
+ provider registry.terraform.io/hashicorp/azurerm v2.39.0

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster

If this issue appears to affect multiple resources, it may be an i

[2020-12-12 08:09] databrickslearner opened #442 "[DOC] Cannot use Workspaces API on non-E2 accounts"
Hi There

we have used this code to create a data bricks workspace with AWS using the terraform code.

terraform plan is working well and no issues as such but when we are trying to run the terraform apply the below message is appearing.
The credentails are same and when i use those credentails we are able to create workspace succfully.

In the provider we are giving the URL as below and giving th

[2020-12-12 08:14] databrickslearner commented on #442
Error: The account does not exist or the user does not belong to this account
(404 on /api/2.0/accounts/99585238-26b2-45d6-aef0-af84d5dc547f/storage-configurations)
Error: The account does not exist or the user does not belong to this account
(404 on /api/2.0/accounts/99585238-26b2-45d6-aef0-af84d5dc547f/credentials)

[2020-12-12 08:31] nfx commented on #442
Remove “/login” from host

[2020-12-12 08:46] databrickslearner commented on #442
If we remove login from host then how the credentails will be provided ?

[2020-12-12 08:50] databrickslearner commented on #442
I have removed the /login and tried but still the same issue

databricks_mws_storage_configurations.this: Creating...
databricks_mws_credentials.this: Creating...

Error: The account does not exist or the user does not belong to this account
(404 on /api/2.0/accounts/99585238-26b2-45d6-aef0-af84d5dc547f/storage-configurations)

Error: The account does not exist or the user does not belong to this

[2020-12-12 08:56] databrickslearner commented on #442
Attached the code for reference

[code.zip](https://github.com/databrickslabs/terraform-provider-databricks/files/5682761/code.zip)

[2020-12-12 13:25] nfx commented on #442
Please upload the code as a gist.

Though, by the looks of error - account id might be wrong for your username/password pair. Take a look at top right corner menu of accounts console for the correct account id.

Besides, we strongly encourage using environment variables for user/password/account id, not to keep them in code.

[2020-12-12 13:38] nfx commented on #440
@heeroyuy925 ,

Interesting. State diff is there, but every time there’s a check for library status from platform. If there’s a failure in installing of one or more libraries - it’ll fail entire resource. Just because managed libraries are parts of the fully functioning specific cluster.

To follow the logic with failed cluster/workspace cleanup, we should trigger uninstall of a library in case of

[2020-12-12 13:40] nfx commented on #440
@heeroyuy925 , for now as workaround, you have to manually go and remove failing library from cluster in user interface

[2020-12-12 14:02] nfx commented on #409
Should be fixed on current master

[2020-12-12 14:02] #409 closed

[2020-12-12 15:34] databrickslearner commented on #442
Hi there
I am using databricks account as external account id  which is in alpha numeric and you mean is  there any other ac id

[2020-12-12 16:17] databrickslearner commented on #442
![1](https://user-images.githubusercontent.com/75878243/101989032-7b381a00-3c95-11eb-8189-8059d950c402.JPG)
![2](https://user-images.githubusercontent.com/75878243/101989033-7b381a00-3c95-11eb-9d13-655f2757bdbf.JPG)
![3](https://user-images.githubusercontent.com/75878243/101989034-7bd0b080-3c95-11eb-9c01-e6b25ccf4672.JPG)
Please see the 3 images and I am giving the first one as account id which is

[2020-12-12 19:21] databrickslearner commented on #442
Hi,

Please find the code here

[code]

I am trying to create a data bricks workspace, got below error

![image](https://user-images.githubusercontent.com/75878243/101992716-3df67b00-3cdb-11eb-9e96-5f758e8c54b1.png)

Could you please answer my few questions?

1. Why i am unable to authenticate data bricks account , What is went worong here?

2. In `provider` section what is `host` refer to?

[2020-12-13 11:56] databrickslearner commented on #442
any thoughts on the above error ?

[2020-12-13 22:56] databrickslearner commented on #442
Any pointers pls ??

[2020-12-14 03:15] heeroyuy925 commented on #440
Thanks you so much, I will use workaround first.

[2020-12-14 03:15] #440 closed

[2020-12-15 09:11] nfx commented on #442
@databrickslearner by the screenshots you've provided, it's not a [multi-workspace E2 account](https://docs.databricks.com/getting-started/overview.html#e2-architecture).

Please reach out to your Databricks representative (or CSE) in order to proceed with creating a valid E2 multi-workspace account.

[2020-12-15 09:46] databrickslearner commented on #442
Hi There

You are correct, yesterday night I have fixed this issue. The account which I am using is the standard plan free tier account and I had to take a new account which is E2 multi workspace account and thereafter it started working.

Thanks

[2020-12-15 09:46] #442 closed

[2020-12-15 16:08] nfx opened #444 "[FEATURE] Support for AWS IAM Passthrough"
In order to enable IAM passthrough, we should enable creation of meta instance profiles. Include relevant documentation as well.

[2020-12-17 11:16] ketan commented on #156
According to the [databricks API documentation](https://docs.databricks.com/dev-tools/api/latest/index.html), the rate limit can be increased by asking a rep.

If there's a possibility of implementing this (for the most common cases), can I request that this be made configurable somehow?

Thanks.