[2020-12-17 21:08] nfx opened #445 "[ISSUE] Add mutex for creating storage mounting cluster"
![image](https://user-images.githubusercontent.com/259697/102543887-40c6e680-40b4-11eb-966b-6abd6bef75b2.png)

Mounting array of resources creates dedicated automated cluster, though it should not:

[code]

[2020-12-18 19:31] slyons opened #447 "[ISSUE] Using 'az' from a Python virtualenv seems to not work"
When trying to use `az` from within a conda virtualenv and powershell. The command is available within my shell no problem and for other terraform modules. This only occurs on Windows, worked fine on WSL.

[code]

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_secret_scope
- databricks_cluster

### Environment variable names
Se

[2020-12-18 19:34] nfx commented on #447
Please use service principal authentication.

[2020-12-18 19:34] #447 closed

[2020-12-18 19:40] slyons commented on #447
No further comment other than that? The documentation states that using `az` is supported, and I'm trying to create secret scopes, so according to the docs using a service principal is not supported.

[2020-12-19 01:23] stanbiryukov opened #448 "[ISSUE] azure_adls_gen2_mount crash"
Hi there,

I get this crash log below after attempting to mount a data lake storage account using `azure_adls_gen2_mount`. Databricks provider version is `0.2.9`. Terraform version is `13.5`.

Service principal has storage blob contributor RBAC on the storage account.

[code]

[2020-12-19 01:27] nfx commented on #448
@stanbiryukov too little information about the crash. please reproduce it and provide more debug logs.

[2020-12-19 02:57] stanbiryukov commented on #448
@nfx I reran this using the `databricks_azure_blob_mount ` approach and got a more informative error around permissions. I went back and included the `Microsoft.Storage` endpoint in the databricks 'public' subnet (not just the private), and granted that subnet network access to the storage account. The mount worked thereafter when both subnets were allowed traffic to the storage account.

[2020-12-19 02:57] #448 closed

[2020-12-19 03:50] niraj8241 opened #449 "[ISSUE] Group datasource should sort members, instance profiles and groups property for consistent state between runs"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_group_member

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform should not re-create the groups on every run and should produce any changes.

### Actual Behavior
After running for the first time. Everything works fine but re-running the plan, states that the

[2020-12-19 11:23] nfx commented on #448
Some of those errors might have been way more descriptive, I know. Root cause is usually hidden in stack traces. Feel free to open pull requests/issues with suggestions on concrete error to resolution, we can easily add regex matching for those

[2020-12-19 11:28] nfx commented on #449
Remove assignment for display name, as it generally should hold “First Last” type of name pair. Then rerun and it should work.

please also rename the issue accordingly

[2020-12-19 21:35] nfx commented on #449
to those making a PR: this should be a stateDiffFunc

[2020-12-29 09:44] lyogev commented on #411
I see this was committed but it's still not working:
https://github.com/databrickslabs/terraform-provider-databricks/commit/c28b20928c7620ffa5294a2d29f4d4b60da84af6

Any idea why?

[2020-12-29 14:51] kamakay commented on #411
What kind of problem have you found?

[2020-12-29 16:58] lyogev commented on #411
When I set the num_workers to 0 I get ```Error: Missing required field: size``` with 0.2.9 .

[2020-12-31 16:30] nfx commented on #411
@lyogev @kamakay c28b209 was breaking `databricks_job` resource, as the change was not well tested. Starting from 0.2.7, both cluster and job resources rely on the same internal struct to have consistent configuration behavior.

It was breaking the release, so i've reverted that commit. it would be fixed somewhere in 0.3.x

@lyogev @kamakay @sudeepgupta90 @kung-foo @tkasu what use-cases do you for

[2020-12-31 18:02] kamakay commented on #411
Hi thanks for the feedback, I thing the first thing to understand is if the underlying databricks api are supporting num_workers = 0 for single node cluster.
Single node cluster is a supported databricks type of cluster, used for small workloads or ingestions activities that don't need a full distributed processing cluster but the good data management features provided by Spark.

[2021-01-06 16:15] nfx commented on #156
@ketan if you want to have it done quicker, pull requests are always welcome. currently, absence of rate limiting may result in blocking your IP for 5-10 minutes on workspaces with thousands of managed Databricks resources. Though, improved HTTP retries would kick in and terraform execution won't see any disturbance. Though, it's generally better to be more gentle to APIs and not lock yourself out

[2021-01-08 10:44] alexott opened #457 "[FEATURE] Add support for SQL Endpoints"
SQL Analytics introduces the concept of the SQL Endpoint, and exposes [corresponding  REST API](https://docs.microsoft.com/en-us/azure/databricks/sql/api/sql-endpoints) for their management.

It would be useful to add corresponding resource when the feature will go out of the private preview, and API stabilizes.

[2021-01-08 11:28] davidferdinand commented on #295
@alexott @nfx do you have any updates on when v0.3.0 will be ready with this feature? it will be great as its currently one of the only manual steps we have in set up

[2021-01-10 03:17] niraj8241 commented on #449
@nfx  It seems like this doesn't resolve the issue. I tried removing the "Display Name" but it always re-creates the group membership.

[2021-01-10 03:32] niraj8241 opened #458 "Cluster Policy Validation Error when creating new job."
Hi,

Trying to create a job with a new cluster and a cluster policy. The cluster policy resource is created successfully but when I try to reference the cluster-ID in my job config. The plan fails, expecting me to provide some values even though there are default values for all of the configs.

### Terraform Version
Terraform v0.12.21
+ provider.databricks v0.2.9

### Affected Resource(s)
- databr

[2021-01-11 07:33] alexott commented on #458
imho that's how the cluster policy works, not how terraform perform the checks.  it would be useful to check that by submitting job definition as JSON. If it will fail, then it should be escalated to Databricks development team.

[2021-01-12 19:20] nfx commented on #458
@niraj8241 , as stated in the provider documentation, https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#policy_id

so, marking this as `won't fix`.

[2021-01-12 19:32] nfx commented on #449
@niraj8241 , could you post exact configuration you're using to reproduce this issue, as logs and provided configuration refer to different things.

From logs, it's evident, that you're using `data "databricks_group"`. The bug is related to `members` not being sorted.

[2021-01-14 09:55] GwonsooLee opened #459 "Instance pool keeps being recreated according to the zone_id"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-01-19 09:49] mivano opened #460 "How to specify a managed resource group for databricks"
Creating a databricks workspace works fine, however I m unable to find the correct way to specify the managed resource group. At the moment it will automatically create the `databricks-rg-` prefixed resource group, which is not in line with the naming convention used at my customer.
In ARM I can specify the `managed-resource-group-id` and I m looking for a similar option in Terraform.
I see some G

[2021-01-19 09:59] nfx commented on #460
Hi @mivano managed resource group id takes no part in authentication process (e.g. it’s not part of azure resource id), therefore it doesn’t really belong to this provider. It may belong to AzureRM provider, so I’d suggest to file a ticket there.

Please reply if you think it’s not the case :)

[2021-01-19 10:13] mivano commented on #460
I m not sure where it belongs, but indeed it makes not a lot of sense in the authentication ticket. I tried following the steps as listed here: https://github.com/databrickslabs/terraform-provider-databricks/issues/223

Specifying it in the `resource "azurerm_databricks_workspace" ` or in the provider; both options wont work. So I m looking for some guidance how to specify the managed resource gro

[2021-01-19 20:40] ccapellan opened #461 "[ISSUE] Provider bug"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-01-19 20:45] nfx commented on #461
@ccapellan are you sure this is provider bug and not an issue with your subscription id?

[2021-01-19 20:47] nfx commented on #460
@mivano , #223 is no longer valid. Legacy `managed_resource_group` is removed. closing this issue

[2021-01-19 20:47] #460 closed

[2021-01-19 21:05] ccapellan commented on #461
@nfx This is just a snippet of my codebase.  I'm successfully deploying other resources already using the Azure provider.  I have removed the real subscription id in this post.

[2021-01-19 21:10] nfx opened #462 "[FEATURE] Custom docker images for clusters"
Support launching clusters with custom docker images. Even though API supports it, there were no customers using it and fields were removed in [0.2.4](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/CHANGELOG.md#024) refactoring. This fix should add struct field and unit test

[2021-01-19 21:21] nfx commented on #461
but you're getting `SubscriptionNotFound` error in the logs... could you please cleanup the issue and add more logs to explain the behavior?

if it's govcloud, it'll be supported in upcoming 0.3.0 release - https://github.com/databrickslabs/terraform-provider-databricks/commit/1172ad60521eead56c40156a5bafd10c7ec3801e

[2021-01-19 21:24] ccapellan commented on #461
@nfx it actually is govcloud.  Thanks for the update! I'll wait to test it with 0.3.0 version.

[2021-01-19 21:24] #461 closed

[2021-01-20 11:30] alexott opened #463 "[FEATURE] Add support for SAS Token Auth for ADLSv2 mounts"
Newer [DBR versions](https://docs.databricks.com/release-notes/runtime/7.5.html#adls-gen-2-storage-connector-based-on-hadoop-33-for-abfs) include new implementation of the connector for ADLSv2 that supports [SAS tokens authentication](https://issues.apache.org/jira/browse/HADOOP-16730). It would be useful to support that in the terraform provider.

[2021-01-21 06:20] niraj8241 commented on #458
@nfx  I am really confused with the statements here. When I am creating a cluster policy. My cluster policy is basically defining defaults for all the values as you can see above. And the error is not while creating the cluster policy but attaching it to a job.

I tried creating a job manually by going through the UI and attaching it to the same cluster policy I created through TF, it works fine.

[2021-01-21 15:46] sdebruyn commented on #462
I'd be the first customer using this :)

[2021-01-21 22:54] nfx commented on #462
@sdebruyn do you want to add it? :) it's as simple as ClusterInfo struct mod + new struct + unit test for job and cluster.

[2021-01-22 14:06] sdebruyn commented on #462
@nfx Are you sure that it's not already in there? Maybe it's just not documented?

https://github.com/databrickslabs/terraform-provider-databricks/blob/7a0170342fca97a8455e3343754e1c108f8d80fb/compute/model.go#L250
and
https://github.com/databrickslabs/terraform-provider-databricks/blob/7a0170342fca97a8455e3343754e1c108f8d80fb/compute/model.go#L289

[2021-01-22 14:44] sdebruyn commented on #462
Regardless of the answer to the question above: apparently this functionality is disabled by default in the workspace and has to be enabled by an admin. Since I'm managing 20+ workspaces, I'd like to do this automatically through Terraform. Is there an API for that as well?

[2021-01-22 16:21] #411 closed

[2021-01-22 16:37] nfx commented on #459
This is a known issue. added the following in docs for next release:

-> **Note** *(AWS only)* Please specify empty configuration block (`aws_attributes {}`), even if you're not setting any custom values. This will prevent any resource update issues.

[2021-01-22 16:37] #459 closed

[2021-01-22 16:48] sdebruyn commented on #462
I don't have a Databricks Partner Team. It would be for internal use only. Should I contact Azure support for this?

[2021-01-24 14:05] nfx commented on #359
Parking this one for now. There's no significant need for it. Would be addressed if somebody opens up the issue again.

[2021-01-24 14:05] #359 closed

[2021-01-24 21:03] #156 closed

[2021-01-25 09:37] #445 closed

[2021-01-25 09:42] #449 closed

[2021-01-25 15:28] itachiRedhair opened #468 "[ISSUE] Separate resource for libraries of a cluster?"
Currently, libraries are being managed as a part of cluster resources. Because of this whenever there is a change in the cluster, if libraries are not defined in the terraform configuration for the cluster, existing libraries (the ones which are added without terraform) get uninstalled.
If we can have a library as a separate resource it will be possible to have an option to manage libraries outsid

[2021-01-25 15:45] nfx commented on #468
Hi @itachiRedhair `databricks_cluster` resource works as designed at the moment and feature is already used this way by all customers.

If you would like to take on creating `databricks_cluster_library` resource with 95% code coverage, integration tests, documentation, and making sure it doesn't conflict with `databricks_cluster` installed library - please indicate :) happy to accept PR.

[2021-01-25 16:50] itachiRedhair commented on #468
@nfx I will check how I can contribute towards `databricks_cluster_library` resource.

I have one question, is it possible to somehow skip library install/uninstall for the `databricks_cluster` resource?

If I understood this function correctly https://github.com/databrickslabs/terraform-provider-databricks/blob/732b3f01224658d9ee01a594f3be1e5d27a613f8/compute/resource_cluster.go#L229

it will fin

[2021-01-25 22:23] nfx commented on #468
Hm. Libraries getting uninstalled can be fixed. Please describe how you reproduce it

[2021-01-25 22:26] nfx commented on #468
My goal is to keep already bloated cluster resource simple as much as possible, because it’s the most important part of the codebase. Getting if-conditions in library checking code might be too risky in the long term perspective.

Getting uninstalling libraries not to affect the plan is simpler. Please create a new issue for it and ill close this one.

[2021-01-26 21:54] stikkireddy opened #469 "[BUG/Question] Azure environment bug"
Hi there,

In the azure_auth.go file, the `ensureWorkspaceURL` function does not use the new getAzureEnvironment function. It is always overwritten to use `endpoint := "https://management.azure.com"` which works well for public cloud but not for non azure public clouds.

The code block:

[code]

may need to look like this:

[code]

The struct `AzureAuth` also should not be using `azureManagementEn

[2021-01-27 06:52] with-joy opened #471 "[ISSUE] User name skipped when importing a user"
Seems like while importing users, it skips over fields like user name. I think it's a similar issue mentioned in #401

Kind of important since the user name is skipped, terraform tries to recreate the resource even after importing.

### Terraform Version
`Terraform v0.13.6`

### Affected Resource(s)
- databricks_user

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected

[2021-01-27 16:14] stikkireddy commented on #469
merged closing

[2021-01-27 16:14] #469 closed

[2021-01-27 16:50] alexott commented on #471
I was able to reproduce this issue, trying to find the reason for it...

[2021-01-27 16:54] stikkireddy commented on #471
For anyone looking into this @alexott the reason is in `StructToData` method in internal/reflect_resource.go

https://github.com/databrickslabs/terraform-provider-databricks/blob/ac1d3d132bbf58259514b70932f9616b5506c7ff/internal/reflect_resource.go#L321-L325

The lines there cause the user_name during import to be disgarded. Quick way to reproduce via building binary is to add this log statement o

[2021-01-27 17:34] stikkireddy commented on #471
hmm one way we can try to approach this is to change common_resource.go rather than touching changing logic in reflect_resource.

we can change:
[code]

to

[code]

This will allow the ctx.WithValue("importing") to yield a true. This can be used in the logic statement that during an import do not reject server value.

The con of this is that we would need to touch reflect_resource (allow for ctx t

[2021-01-27 18:35] stikkireddy commented on #471
This issue is not just for user_name but for a lot of the fields that are not computed are imported. We should add these to the acceptance test cases to the resources that support imports:

[code]

Resolving the issue should pass the import test cases.
https://www.terraform.io/docs/extend/resources/import.html#resource-acceptance-testing-implementation

Examples:
https://github.com/hashicorp/terra

[2021-01-27 22:10] stikkireddy commented on #389
@MarekLani if you are still trying to restart a job after the configuration changes. What you are trying to actually do is:

1. Stop an existing run of a job
2. Wait for its life cycle to be in a terminated state
3. Start a new run of that job

Something that you may be able to do is use a null resource:  https://registry.terraform.io/providers/hashicorp/null/latest/docs/resources/resource

With a

[2021-01-28 14:53] MarekLani commented on #389
@stikkireddy thank you, this sounds as a fine approach to really restart the job only when needed instead of doing it on each run of the terraform. Thank you.

[2021-01-28 18:24] CrowderKroger opened #473 "[ENHANCEMENT] Add option to force a set of credentials"
When the azurerm provider is configured for one use and the databricks provider for another, there should be an option to force a set of credentials instead of erroring.

```More than one authorization method configured: azure and token```

I understand that you cannot decide which to use for the user, so the error is valid. I would like an option to force_credentials = "token" (or something) so b

[2021-01-28 18:29] nfx commented on #473
@CrowderKroger can you show how you configure both of the providers? maybe it's a quickfix (or change of config). not errorring may result in bigger confusion for users 🤷‍♂️

[2021-01-28 18:33] CrowderKroger commented on #473
Yes, sorry for the lack of information and wrong label applied. I could not edit the labels after creation.

[2021-01-28 18:46] nfx commented on #473
@CrowderKroger what exact ARM_* variables are set?

and do you use Azure Databricks or AWS Databricks in your case? E.g. why don't you use AAD JWT tokens?...

you can explicitly disable any azure auth by setting all `azure_*` provider config properties to `""`.

[2021-01-28 19:02] nfx commented on #471
@stikkireddy the approach here is the correct one, but we just need to verify it working.

[2021-01-28 19:24] CrowderKroger commented on #473
These ARM variables are set:

[code]

Setting the azure_* properties may be a good workaround

[2021-01-28 19:34] CrowderKroger commented on #473
Updating our provider to the following allows a successful plan with both azurerm and databricks configured:

[code]

[2021-01-29 00:41] #473 closed

[2021-01-29 01:05] #471 closed

[2021-01-29 11:23] nfx commented on #426
Fixed in 0.3.0

[2021-01-29 11:23] #426 closed

[2021-01-29 16:28] ebarault opened #474 "[ISSUE] add extra_configs / param to databricks_aws_s3_mount"
Hi there,

### Terraform Version
0.14

### Affected Resource(s)
databricks_aws_s3_mount

Hi,
as per the doc of the resource
https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/aws_s3_mount

the databricks_aws_s3_mount resource does not support the extra_configs param of the related dbutils.fs.mount() command

In particular I use the extra_configs param to config

[2021-01-29 22:35] nfx commented on #391
@ganeshRajagopal  feature is released.

[2021-01-29 22:36] nfx commented on #434
@summershyuan feature is released

[2021-01-31 11:47] nfx commented on #458
@niraj8241 Cluster Policy defaults/validation is purely a UI feature and we don’t implement it in terraform plugin, because terraform already controls the cluster parameters 🤷🏻‍♂️

If you want to create hundreds of always running clusters with a policy - we can rethink this decision for terraform plugin, please reach out to your Databricks representative with detailed use case description.

[2021-01-31 11:50] nfx commented on #461
@ccapellan 0.3.0 released, please test it :)

[2021-01-31 11:51] nfx commented on #449
@niraj8241 released :)

[2021-02-02 01:32] niraj8241 commented on #458
@nfx I was able to get this resolved. Sorry for the confusion. Passing the custom tags as part of the job configuration was the issue. Thanks for the information. Much appreciated.

[2021-02-02 01:47] niraj8241 opened #481 "[ISSUE] Skip Validation Not recognized anymore"
Trying to configure ```"databricks_instance_profile"``` and this seems to have stopped working in the new version of the provider. I am now presented with

```An argument named "skip_validation" is not expected here.```

I see that there is a note that this option will be made as "Optional" but the resource doesn't seem to recognize the key.

Module:

[code]

Error:

[code]

[2021-02-02 07:07] alexott commented on #481
It was mentioned as breaking change in the [changelog for the new release](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/CHANGELOG.md#030):

so just remove it from your template.

[2021-02-02 07:07] #481 closed

[2021-02-02 18:54] CrowderKroger commented on #473
So, that got us to be able to use the provider, but when calling a resource; I get the same error.  I don't see where it checks the credentials twice, so I am confused.

[code]

[2021-02-02 19:07] CrowderKroger commented on #473
I think I found the issue ... if anything azure_* is set it throws the error. So we have to move azure_workspace_resource_id to an environment variable. Surely there is an easier way?

[2021-02-04 10:36] abij opened #483 "[DOC] databricks_notebook data source requires format"
Hi there,

The resource databricks_notebook requires the field **format**, but is not reflected in the docs.

Docs:
https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/data-sources/notebook

Source:
https://github.com/databrickslabs/terraform-provider-databricks/blob/94bd7c4810e6952413f4738d40bc95a33b374e12/workspace/data_notebook.go#L22

[2021-02-04 11:05] nfx commented on #483
@abij thanks for mentioning this! just in case - which format do you export it with in terraform workflow?

[2021-02-04 11:07] abij commented on #483
Not sure, we use plain `terraform apply`.

[2021-02-04 17:45] bramrodenburg opened #484 "[ISSUE] config file /Users/<user>/.databrickscfg is corrupt: cannot find host in DEFAULT profile"
The Databricks Terraform Provider crashes when `.databrickscfg` doesn't contain the DEFAULT profile.

[code]

[code]

Error message:
Error: config file /Users/<user>/.databrickscfg is corrupt: cannot find host in DEFAULT profile

[2021-02-04 20:25] bramrodenburg opened #485 "[ISSUE] Uses `.databrickscfg` instead of env variables"
When environment variables are used for authentication, and basic authentication is set in `provider "databricks"`, and credentials are specified for the DEFAULT profile in `.databrickscfg`, then the provider will use the configuration from `.databrickscfg` instead of config specified in the environment variables.

`$ env | sort | grep -E 'DATABRICKS|AWS|AZURE|ARM|TEST' | awk -F= '{print $1}'`
[co

[2021-02-04 20:33] nfx commented on #483
i mean - how do you use the result of this data source output? i can get GoDataDriven guys a 30-60-minute deep-dive on usage of it all, btw.

[2021-02-04 20:37] nfx commented on #463
most likely we'd need to refactor mounting data source semantics a bit. to start with, we should create single `databricks_mount` resource and coordinate how would it look like with @adriana-tufa and @bogdanghita-db. probably it should happen in few months. I don't really want to add more mounting options with hacks and aim for a generic solution.

[2021-02-04 20:38] nfx commented on #474
most likely we'd need to refactor mounting data source semantics a bit. to start with, we should create single `databricks_mount` resource and coordinate how would it look like with @adriana-tufa and @bogdanghita-db. probably it should happen in few months. I don't really want to add more mounting options with hacks and aim for a generic solution.

[2021-02-04 20:39] nfx commented on #436
most likely we'd need to refactor mounting data source semantics a bit. to start with, we should create single `databricks_mount` resource and coordinate how would it look like with @adriana-tufa and @bogdanghita-db. probably it should happen in few months. I don't really want to add more mounting options with hacks and aim for a generic solution.

[2021-02-04 20:46] alexott commented on #463
Agree on generic solution. I’ve filed it just not to forget about new option

[2021-02-04 21:18] nirav24 opened #486 "[ISSUE] databricks_permissions fails with Provider produced inconsistent result when provided upgraded to 0.3.0"
I was running below code with Databricks provider `0.2.4` and it was working fine. I am currently looking to upgrade provider to latest version `0.3.0` and terraform apply is failing with below error.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affe

[2021-02-04 21:27] nfx commented on #486
@nirav24 https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/permissions

i'll add validation to prevent `admins` as a value.

[2021-02-04 21:29] nirav24 commented on #486
Thanks @nfx  for quick reply. I am trying to apply policies which will restrict VM types can be used even for admins. Do you think, that policy will be surpassed as well?

[2021-02-04 21:30] nfx commented on #486
@nirav24 it's not possible to restrict anything for admins :) just remove people from admins group.

[2021-02-04 21:31] nirav24 commented on #486
I can raise a PR if you wish

[2021-02-04 23:16] nfx commented on #486
@nirav24 i would appreciate, review and merge it! :)

[2021-02-05 07:46] abij commented on #483
He Serge,

At the moment I have a simple setup and databricks in the ‘end result’
Output from the Workspace (azurerm) into Databricks provider.
We use some mounts blob + gen2 and following the Guide/workspace-management. It’s great.

It would be awesome if you can do a deep-dive about this provider!
I see/remembered you speaking at GoDataFest. We have XKE (XebiaKnowledgeSharing) at Tuesday 9th.

M

[2021-02-06 21:45] nfx commented on #463
@alexott shall you take on designing this resource and we discuss in a small group? :)

[2021-02-09 15:00] #486 closed

[2021-02-09 17:38] evergata opened #489 "[ISSUE] Provider bug - databricks_ip_access_list and API different behavior cause bug"
Hi there,

databricks_ip_access_list behavior doesn't match the one with the API v2

When I create a list with the provider it is not listed with the API.

Label is required even if should be optional.

I can create two list with same label if the former is created with the provider and the latter with API (and viceversa).

It seems the API and the provider write down the lists in two different ba

[2021-02-09 18:38] nfx commented on #489
Hi @evergata , please run `TF_LOG=DEBUG terraform apply` and provide the exact sequence of API calls made outside of terraform. please also mention the use-case, when you have to call IP ACL API from both terraform and any other client.

@jarobey was there any change of APIs we're not aware of?

[2021-02-09 19:57] nfx commented on #485
@bramrodenburg can you build from source the referenced PR and try reproducing?

[2021-02-09 20:07] #485 closed

[2021-02-10 08:58] evergata commented on #489
Hi @nfx ,

here the trace, I use exactly the same methods with the API

POST /ip-access-lists for pushing payload with ip list
GET /ip-access-lists for retrieving the current list(s)

I can POST the same list twice if I use terraform and API call separately, I cannot POST twice the same list if I use twice the same tool either terraform or API

When I POST a list with terraform apparently it is ap

[2021-02-10 09:42] abij opened #493 "[ISSUE] Provider bug: preloaded_spark_versions (type list) allows only 1 version"
### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_instance_pool

### Expected Behavior
Since it's a list I want to have at least 2 versions of spark.
In my case: Latest-LTS _(no autocomplete, sigh...)_ and latest stable

### Actual Behavior
Validation error: `must be less than or equal to 1 images. Preloading too many images slows down cluster start time.`

##

[2021-02-10 10:11] alexott commented on #493
please execute `TF_LOG=debug terraform apply 2>&1 |tee debug.log` and attach the log.  It could be a change in the API behavior, because [API spec](https://docs.databricks.com/dev-tools/api/latest/instance-pools.html#request-structure) shows that as an array of strings.

[2021-02-10 10:44] nfx commented on #493
@abij you can have "latest LTS" autocomplete, but the terraform way: https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/data-sources/spark_version#long_term_support, thanks to @alexott .

[2021-02-10 10:53] nfx commented on #489
@evergata i see that you're probably using API the wrong way, as you're getting ` Your current IP X.Y.Z.T will not be allowed to access the workspace under current configuration`. Please manage IP access lists either by Terraform or another tool, but not both at the same time, because you'll get conflicts like this.

[2021-02-10 10:53] #489 closed

[2021-02-10 10:56] evergata commented on #489
@nfx no I dont use wrongly, I stick to the doc.

Clearly the error you see it is because I run the same tf twice it is not the point of the issue indeed.
please before reply try to replicate, you have all the informations.

Can you give me a method with terraform to retrieve existing ip access lists created with terraform preaviously?

[2021-02-10 11:15] abij commented on #493
My point is, the Databricks UI notebooks do not have autocomplete for the 7.3 runtime version, which is the LongTimeSupport version....

![image](https://user-images.githubusercontent.com/1022013/107502637-33504900-6b99-11eb-941c-5e2afb160168.png)

I'm using the data element to select Runtimes, works great!

[code]

From the debug logs:
[code]

[2021-02-10 11:20] abij commented on #493
I see that it is described in the API, so it's not a bug from TF provider.

- **preloaded_spark_versions**: A list with _at **most** one runtime version_ the pool installs on each instance. Pool clusters that use a preloaded runtime version start faster as they do have to wait for the image to download. You can retrieve a list of available runtime versions by using the Runtime versions API call.
-

[2021-02-10 11:29] #493 closed

[2021-02-10 11:43] sdebruyn opened #494 "[ISSUE] Error: requirement failed: Invalid timeout: 0 on token creation"
### Terraform Version
Terraform 0.14.6
Databricks provider 0.3.0

### Affected Resource(s)
- databricks_token

### Terraform Configuration Files
[code]

### Debug Output
Cannot be disclosed publicly, mail me at _sam.debruyn at lynxcare.eu_

### Expected Behavior
Token created like it did in previous versions

### Actual Behavior
[code]

[2021-02-10 11:51] nfx commented on #493
@abij i see that yesterday's session did have a positive effect :) i'm curious about the feedback.

[2021-02-10 11:53] nfx commented on #494
@sdebruyn i think you need to specify the timeout parameter. can you try it? and can you make a PR to have it default to 1 hour? with a mention in docs?

[2021-02-10 12:03] sdebruyn commented on #494
Relevant parts for the API request:

[code]

[code]

API docs:

Field Name | Type | Description
-- | -- | --
lifetime_seconds | LONG | The lifetime of the token, in seconds. If no lifetime is specified, the token remains valid indefinitely.
comment | STRING | Optional description to attach to the token.

So I think it should be left out the API request if it's 0, but you should still be able to re

[2021-02-10 12:54] #484 closed

[2021-02-10 13:01] #295 closed

[2021-02-10 13:23] #483 closed

[2021-02-10 13:47] hfurubotten opened #496 "[ISSUE] Notebook path changes to \ on apply with windows systems"
### Terraform Version

terraform v0.13.5 and v0.14.5
databricks provider v0.3.0

### Affected Resource(s)

- databricks_notebook

### Terraform Configuration Files

[code]

which produces the following plan:

[code]

### Debug Output

[code]

### Expected Behavior

When issuing a mkdir request to databricks it should keep the path separators that has been written as parameter and create folders ba

[2021-02-10 13:53] nfx commented on #496
@hfurubotten definitely there was a change to unify a path. we don't have windows machines to test that on and don't include windows in testing process. can you check if adding `filepath.ToSlash(path)` helps?

https://github.com/databrickslabs/terraform-provider-databricks/blob/22f7429d19d14a3a0915a3e6eed7dfc142fd21fc/workspace/file_resource.go#L162

[2021-02-10 14:17] #494 closed

[2021-02-10 14:27] nfx opened #497 "[FEATURE] databricks_mount to unify mounts across clouds"
All of the mounting should go through unified resource. In scope of this, we'll come up with design, approximate resource config layout and way to support all of existing mounts until 0.4.x.

* this will solve #474, #436
* this will add support for SAS for ADLSv2 mounts #463
* this will check if secrets are rotated to fix #513
* this will support `extra_configs` parameter
* this will have proper m

[2021-02-10 14:28] nfx commented on #474
Closing in favor of #497

[2021-02-10 14:28] #474 closed

[2021-02-10 14:28] nfx commented on #463
Closing in favor of #497

[2021-02-10 14:28] #463 closed

[2021-02-10 14:30] nfx commented on #436
Closing in favor of #497

[2021-02-10 14:30] #436 closed

[2021-02-10 15:12] hfurubotten commented on #496
Looks like that solves it! Rewrote it to the following and it gave no problems on apply now.

[code]

If that's a satisfying fix for the problem, I can open up a pull request for this in a little while.

[2021-02-10 15:38] nfx commented on #496
@hfurubotten please do :) that would help

[2021-02-10 16:12] #496 closed

[2021-02-10 22:26] nirav24 opened #501 "[ISSUE] DocumentationURL fn prints wrong URL for token resource"
Sorry If this is very trivial issue.

I see the code https://github.com/databrickslabs/terraform-provider-databricks/blob/b7216353017eecb2de615bbf17e6a89283be640f/common/http.go#L82 which populate URL to Databricks official documentation on API errors.

This code is broken for **Token** resource. The reason is the difference between API endpoint and official docs link.

API Endpoint is `/token/ACT

[2021-02-10 22:34] nfx commented on #501
Unfortunately, this won’t fix. Most likely we’ll just remove doc links later.

[2021-02-10 22:34] #501 closed

[2021-02-11 15:25] #457 closed

[2021-02-12 02:30] travisemichael commented on #389
Hopefully I can piggyback on this thread and ask a related question.

I have the same use case as above (a streaming job with max concurrent runs = 1) but I would also like to be able to trigger a run of the job on a fresh deployment. Would this also be included in the v0.4.0 milestone? Should I file another feature request?

[2021-02-12 10:54] cegladanych opened #503 "[DOC] Issue Short Description"
Hi
I have an issue with terraform documentation relating to [databricks_cluster_resource](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster)

I am trying to get jar from Azure Artifacts but there is on details on documentation what the format of the coordinates should be. There is only an example of external packages. What coordinates format should be

[2021-02-12 11:02] nfx commented on #503
@cegladanych try `repo` field:

https://github.com/databrickslabs/terraform-provider-databricks/blob/master/compute/model.go#L587

no custom auth is supported, so make sure you have open network access through endpoints.

[2021-02-12 12:21] nfx commented on #503
@cegladanych https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#library-configuration-block it was specified in docs.

[2021-02-12 12:21] #503 closed

[2021-02-12 14:25] #462 closed

[2021-02-12 15:27] alexandruanghel opened #506 "[ISSUE] databricks_group Data Source fails when using filter keyworks in group name"
### Terraform Version
all

### Affected Resource(s)
databricks_group Data Source

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Retrieves the group called `User1 and User2` or doesn't find the group

### Actual Behavior
Error even if the group exists:
`Error: Given filter operator is not supported.`

### Steps to Reproduce
`terraform apply`

[2021-02-12 17:29] #506 closed

[2021-02-12 19:26] nfx commented on #372
@lukerosser

In Terraform 0.13 and later, data resources have the same dependency resolution behavior as defined for managed resources. Most data resources make an API call to a workspace. If a workspace doesn't exist yet, Authentication is not configured for provider error is raised. To work around this issue and guarantee a proper lazy authentication with data resources, you should add depends_o

[2021-02-12 20:13] #372 closed

[2021-02-14 12:38] nfx commented on #388
In order to drive maintainer community efforts in a more focused way, closing this issue for now as there's not enough demand for it at the moment.

[2021-02-14 12:38] #388 closed

[2021-02-14 15:30] nfx commented on #389
@travisemichael just to confirm - fresh deployment would mean fresh JAR/Python file/Notebook with different name/eventually notebook project with newer version, correct?..

tagging @lennartcl to see if we can get more graceful streaming stops than those provided by `cancel run` api call.

[2021-02-16 10:44] sdebruyn opened #513 "[ISSUE] Mounts don't work anymore after changing the secret value used for the mount"
### Terraform Version
Terraform 0.14.6
Databricks provider: any version (v0.3.0 or older)

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_secret
- databricks_azure_adls_gen2_mount
- possibly all mount types

### Terraform Configuration Files
[code]

### Description

When you change the value of the secret somewhere in Terraform (e.g. a new value for `random

[2021-02-16 10:53] nfx commented on #513
@sdebruyn for now, please re-create the mounts once you rotate the secrets, as the workaround.

It should be fixed in scope of a more holistic approach of #497 . Closing this issue to keep contributor team focused.

[2021-02-16 16:20] stikkireddy opened #523 "[Feature Request] Notebook cant identify differences"
Hi there,

There is an issue with notebooks. Accidental deletes from the remote environment are not identified as differences in terraform plan.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for exampl

[2021-02-16 16:25] nfx commented on #523
https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/notebook#argument-reference

[2021-02-16 16:25] #523 closed

[2021-02-16 17:38] travisemichael commented on #389
@nfx What I mean by a fresh deployment would be a brand new Job. It would be nice to have it set up so that on the first deploy the job will start a single run, and on subsequent deploys the previous run will be restarted as described above.

[2021-02-16 18:00] nfx commented on #389
@travisemichael makes sense for `always_running` jobs

[2021-02-17 19:46] m1nkeh opened #525 "[ISSUE] Cannot Provision 'Single Node' Cluster"
Hi,

When I run the following code, a cluster is provisioned (no errors), but it is a `Standard` type.. even though the docs suggest this is the correct method to achieve a Single Node cluster

Terraform version: 0.14.6
Provider version: 0.3.0
Affected Resource: databricks_cluster

I upgraded to 0.3.0 at the suggestion of #411 , and https://github.com/databrickslabs/terraform-provider-databricks/p

[2021-02-17 19:53] nfx commented on #525
Uncomment num_workers = 0 and it should be working

[2021-02-17 19:53] #525 closed

[2021-02-17 20:57] m1nkeh commented on #525
Hey @nfx, couple of things.. firstly thanks for the reply, very fast and much appreciated.

Secondly though, this is what it says on the terraform site (https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#fixed-size-or-autoscaling-cluster) where it very clearly states that the `num_workers` value will default to 0 if not supplied

<img width="668" alt="i

[2021-02-17 21:06] m1nkeh commented on #525
In an added twist, I was looking at the Json from the Databricks UI, and noticed a "custom tag" applied to the single node cluster I was creating in the portal..

This code actually did work as expected - should I raise a PR an update the doco?

[code]

![image](https://user-images.githubusercontent.com/13475141/108268132-692e9800-716c-11eb-98a2-74a0290460a6.png)

[2021-02-17 22:00] nfx commented on #525
@m1nkeh from the looks of your cluster config, you may find cluster policy interesting

[2021-02-17 22:07] m1nkeh commented on #525
oh?

[2021-02-18 22:43] travisemichael opened #530 "[ISSUE] Plan shows change for email_notifications block in databricks_job when not set"
### Terraform Version
Terraform v0.14.6
+ provider registry.terraform.io/databrickslabs/databricks v0.3.0

### Affected Resource(s)
- databricks_job

### Environment variable names
None

### Expected Behavior
Plan shows no change between applies when email_notification block is not provided

### Actual Behavior
Plan shows a change for email_notifications between applies when email_notifications bl

[2021-02-18 23:35] nfx commented on #530
@travisemichael please include empty notification block, for now

[2021-02-19 19:02] travisemichael commented on #530
@nfx yes I am using that workaround, I just didn't see this issue filed so I wanted to file it.

[2021-02-23 07:36] alexott opened #531 "[FEATURE] Add support for Databricks on GCP"
With the official preview of Databricks on GCP, it's necessary that terraform provider works with GCP as well - this should be done before official release. The task includes:
* making sure that all places with cloud-specific functionality are supporting GCP
* adding GCP-specific resources, for example, mount points

[2021-02-23 15:44] frosforever opened #532 "[ISSUE] databricks_mws_storage_configurations fails with Provider produced inconsistent result"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_mws_storage_configurations
- databricks_mws_credentials
- databricks_mws_log_delivery

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
Create the storage and credential configs for usage log delivery

### Actual Behavio

[2021-02-23 17:21] Radaeld opened #533 "[ISSUE] Global Init Script bug"
**Terraform version:** 12.25
**Resource:** databricks_global_init_script

**Problem:** Regex does not allow spaces
For example:
name = "my init script"

This results in the following error:
**Error**: invalid value for name (Name should match regex!)

Tried with the regex used in the code: ^[-a-zA-Z0-9_.]{1,100}$
and it seems it fails when spaces are passed

**Possible Regex Solution:** ^[-a-zA-Z0

[2021-02-23 17:26] nfx commented on #533
@Radaeld you may open a PR with `^[a-zA-Z0-9_\-\. ]*$` regex :)

[2021-02-23 17:43] #533 closed

[2021-02-23 22:18] nfx commented on #532
@frosforever it looks like you're not using `username`+`password` authentication for the provider along with http://accounts.cloud.databricks.com/ as host:

look at the extended guide here - https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/guides/aws-workspace

[2021-02-24 00:46] Hidoshi1 opened #535 "[ISSUE] Provider bug with databricks_permissions resource for sql endpoints"
### Terraform Version
Terraform v0.14.5

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_permissions for sql endpoints (object type /sql/endpoints)

### Environment variable names
DATABRICKS_HOST
DATABRICKS_TOKEN

### Terraform Configuration Files
[code]

### Console Output (Terraform apply)
[code]

### Console Output (Terraform import)
[code]

### Debug Out

[2021-02-24 09:18] #532 closed

[2021-02-24 20:21] #530 closed

[2021-02-25 16:32] frosforever commented on #532
Thanks for the response @nfx that indeed fixed the issue!
Generally, how can one tell which resources require the username + password and which can use token instead?

[2021-02-25 17:00] frosforever commented on #532
I see it now.

[2021-03-02 15:39] subaduba opened #546 "[DOC] SPOT_WITH_FALLBACK missing from aws_attributes documentation"
Hello,

On the documentation for **databricks_cluster** aws_attributes found at https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#aws_attributes, the availability type of **SPOT_WITH_FALLBACK** is missing as an option. I found that it is in the code and works, but just missing from the documentation.

Thanks!
Subhash

[2021-03-03 06:35] andrew-oneill commented on #266
My team has run into a potential issue that this may address. It relates to [`databricks_secret_scope`](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/resources/secret_scope.md)'s inability to be created using service principal authorization - [https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/resources/secret_scope.md#keyvault_metad

[2021-03-03 17:52] samuelwcm opened #547 "[ISSUE] Provider bug - Error when adding Python Wheel libraries from DBFS"
### Terraform Version

- Terraform version 0.14.0
- Provider version 0.3.0
I am unable to upgrade as I am within a corporate environment with no access to download software, but looking at the changelog between 0.3.1 and 0.3.0 I can't see any references to bugs like this

### Affected Resource(s)

- databricks_cluster
- databricks_dbfs_file

### Environment variable names

Only `AWS_PROFILE` is pr

[2021-03-03 18:28] #547 closed

[2021-03-03 18:29] samuelwcm commented on #547
Of course, I only find the typo in "dfbs" after asking the internet about it 😅

[2021-03-04 15:07] frosforever opened #548 "[ISSUE] Group entitlement allowing allow_sql_analytics_access is not applying"
Thanks very much in advance for your time helping debug this!

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_group

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
Entitlement for sql analytics applied to the group and reflected in user permissions and in the admin

[2021-03-04 21:42] stikkireddy commented on #548
@frosforever made a PR for this. When the maintainers review it and decide to go forward with it. It should be resolved in the next release of the provider.

[2021-03-04 22:05] frosforever commented on #548
thanks @stikkireddy!

[2021-03-05 18:29] HamiltonHord opened #551 "[ISSUE] Cluster not being created in specified Availibility Zone"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.14.2
+ provider registry.terraform.io/databrickslabs/databricks v0.3.0
+ provider registry.terraform.io/hashicorp/aws v3.2

[2021-03-08 11:21] jonathansp commented on #372
@stikkireddy  @lukerosser @nfx thanks for the detailed explanation.

in my use case, I have a shared `azurerm_databricks_workspace`. How this shared resource should be referenced to avoid the _Authentication is not configured for provider_ error?

[code]

[code]

Output:

[code]

if this line is removed or I add _depends_on=[module.databricks]_, I will get the `Authentication is not configured for

[2021-03-09 11:21] KSLiquid opened #552 "[ISSUE] Cannot remove Dataricks Workspace and Cluster at the same time"
### Terraform Version
0.14.7

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/KSLiquid/d9bac54f312b3d47021fde305b54b0c9

### Expected Behavior
When I set the resource count to 0, the resources should get deleted.

### Actual Behavior
I get the following error:
[code]

[2021-03-09 11:48] nfx commented on #552
hi @KSLiquid , please follow this guide https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/guides/azure-workspace#data-resources-and-authentication-is-not-configured-errors and put databricks resources in a separate module.

[2021-03-09 11:48] #552 closed

[2021-03-09 15:34] KSLiquid commented on #552
@nfx Thanks for the fast reply! However, this does not solve the problem. I think the provider is not capable of handing the situation where the databricks workspace is provisioned via count.

I've put the resources in a seperate module like you said and attached the code to the issue.
Would be greaf if you can reopen it, thanks!

[2021-03-10 01:16] mikedias opened #555 "[FEATURE] Support creating tokens on behalf of Service Principals"
Hello,

It would be really useful to be able to use Databricks terraform to create a Service Principal, generate a token on behalf of it, and save it as a secret. The missing piece on this workflow is the on behalf token creation that can be done via `/api/2.0/token-management/on-behalf-of/tokens` API.

The design could be something like this:

[code]

Please let me know if this makes sense or if

[2021-03-10 02:14] mikedias opened #556 "[ISSUE] Applying databricks_service_principal resource fails with "Request is unparsable, syntactically incorrect, or violates schema""
Hello,

When trying to apply a databricks_service_principal resource, I'm getting a **Request is unparsable, syntactically incorrect, or violates schema** error. From the debug logs, it looks like the underlining issue is **Attribute applicationID cannot be specified for the SCIM Object**

### Terraform Version
[code]

### Affected Resource(s)
- databricks_service_principal

### Terraform Configur

[2021-03-10 14:43] jonathan-dorsey opened #557 "[ISSUE] Folders remain after all notebooks are moved/removed"
### Terraform Version
Terraform v0.13.5
- provider registry.terraform.io/databrickslabs/databricks v0.3.0

### Affected Resource(s)
- databricks_notebook

### Expected Behavior
When notebooks are added via terraform the corresponding folders are automatically created. When the same notebooks are all removed or moved to a different folder location the original folder path should be removed.

### Ac

[2021-03-10 14:45] jonathan-dorsey commented on #557
I am willing to submit a PR if someone can provide some guidance on the preferred behavior here. I saw earlier PRs that would add a folder resource - that would be great and help us to work around this issue. I noticed that was refactored in support of a different approach, though.

[2021-03-11 11:16] dkataria1990 opened #560 "[ISSUE] Provider bug"
Hi,

I am not able to find documentation to authenticate the databricks provider with SPN and client certificate. On the docs page, these are the only schema options available:
provider "databricks" {
  azure_workspace_resource_id = azurerm_databricks_workspace.this.id
  azure_client_id             = var.client_id
  azure_client_secret         = var.client_secret
  azure_tenant_id             = va

[2021-03-11 11:33] nfx commented on #560
Current provider doesn’t support SP certificate auth. Feel free to open up pull request with implementation, tests and documentation updates.

[2021-03-11 11:33] #560 closed

[2021-03-11 11:39] nfx commented on #557
Hi @jonathan-dorsey , it’s the expected behavior from our API.

I’d be happy if you can add a PR for it, though you need to recursively check for folders and if those folders have any objects in them - remove those. This behavior should be hidden behind a resource attribute that is turned off by default. Don’t forget about 99% unit test coverage and documentation.

[2021-03-11 14:13] nfx commented on #552
@KSLiquid what is the use-case of provisioning workspaces via count? i don't think it's a good idea to do that. Terraform doesn't know the URL of a workspace before it's actually provisioned and therefore it cannot fill in the proper configuration for the provider. it's not the plugin issue, it's the way how terraform works.

[2021-03-11 14:17] nfx commented on #372
@jonathansp please open an issue on https://github.com/hashicorp/terraform/issues/new/choose, it's not an issue of this provider, it's rather the way how terraform works.

In your case, `depends_on = [module.databricks]` should fix the data source auth error.

[2021-03-11 14:20] nfx commented on #532
@frosforever auth is on provider instance level, not on resource level. you can see it by launching terraform with TF_LOG=DEBUG

[2021-03-11 14:22] nfx commented on #525
@m1nkeh https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster_policy create a policy, assign it to users and they'll be able to create restricted exploratory clusters without bothering you :) don't forget to put strict autotermination and max_dbu restrictions.

[2021-03-11 14:25] KSLiquid commented on #552
@nfx We need a switch to enable/disable databricks depending on a variable. As far as I know terraform does not offer another solution to do that. With the azurerm provider it is completely possible.

[2021-03-12 10:24] m1nkeh commented on #525
oo, that does sound like a nice option, i like - ty!

[2021-03-13 14:18] alexott commented on #546
I have a fix that will be submitted as part of another PR (will be submitted next week)

[2021-03-15 08:38] happyfeet23 opened #563 "databricks_user creates admin always"
Hi Devs,

we tried using databricks_users resource to create users in the databricks workspace on Azure.
We have the requirement to create admin users and non admin users with terraform.

We explicitly specified the user permissions as false but the users still appear as admins in databricks after creation from terraform.

### Terraform Version
Terraform v0.13.2
DataBricks v0.3.1

### Affected Res

[2021-03-15 08:44] happyfeet23 opened #564 "databricks_workspace_conf ends up as a bug in terraform apply"
Hi there,

We used databricks_workspace_conf in the terraform code to be able to whitelist some IP addresses on the databricks workspace. The plan stage seems to be fine, but apply stage fails saying this is a bug in terraform.

### Terraform Version
Terraform v0.13.2
DataBricks v0.3.1

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_workspace_conf
- databri

[2021-03-15 08:50] nfx commented on #564
Can you try surrounding "true" with quotes?

[2021-03-15 09:11] happyfeet23 commented on #564
Hi Serge,

I tried adding quotes to “true”. It still gave the same result.

Thanks & Regards,
Chaitanya KV
[A picture containing drawing  Description automatically generated]

From: Serge Smertin ***@***.***>
Sent: Monday, March 15, 2021 2:21 PM
To: databrickslabs/terraform-provider-databricks ***@***.***>
Cc: Koppisetti, Venkata ***@***.***>; Author ***@***.***>
Subject: Re: [databrickslabs/terra

[2021-03-16 18:40] tristenwentling opened #565 "[ISSUE] Provider can't handle notebooks with names containing special characters"
Provider receives an error response from Databricks CLI when there is an `&` in the path.
Wrapping path in `urlencode` prevents path from being found as well

### Terraform Version
14.5

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_notebook (at minimum)

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so pleas

[2021-03-16 20:36] #565 closed

[2021-03-16 21:38] nfx commented on #563
@happyfeet23 can you check the workspace SKU - is it premium or basic one?

[2021-03-17 08:17] JCZuurmond opened #567 "[DOC] `databricks_azure_adls_gen2_mount` `application_id` and `client_id`"
Hi,

First of all: a big thanks and shout out for making this provider 🚀 !

### Affected Resource(s)
The `databricks_azure_adls_gen2_mount` resource will be affected.

### Expected Details
Explain in the documentation that an `application_id` of a service principal is expected for the `client_id` parameter.

### List of things to potentially add/remove:
- [x] : Add to docs that the `client_id` sho

[2021-03-17 08:27] JCZuurmond commented on #567
@nfx, I can help with providing an example for how to mount with a service principal. Adding a new `application_id` parameter is a bit more tricky - tell me if you would like to add such a field.

[2021-03-17 09:07] #567 closed

[2021-03-18 14:52] #535 closed

[2021-03-18 14:56] pietern commented on #535
@Hidoshi1 Can you give this another try?

[2021-03-18 15:35] abij commented on #373
Workaround still works fine, need some adjustments with latest version. _(no overwrite, mkdirs, format)_

[code]

[2021-03-19 10:29] nfx opened #569 "Adjust azsp testing environment to use standard SKU to prevent bugs related to non-premium functionality"
Some issues (#563, #564) are related to improper error handling for standard SKU's. We need to mark azsp environment to create standard workspace and keep azcli one to use premium.

[2021-03-23 13:29] dsfrederic commented on #266
@nfx I'm having same error output.

The reason why I'm not using the Azure Authentication via Service principal method is because ATM you cannot configure a secret scope using this method.  So what I'm trying to do is retrieve token with Azure Service Principal Authentication and then using the token in a dedicated databricks provider.

[code]

content of main.tf in `databricks_token` module

[cod

[2021-03-23 14:05] dsfrederic opened #572 "[ISSUE] Multiple authentication methods"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks provider

### Expected Behavior
What should have happened?

[code]

I expected it to use multiple providers side by side s

[2021-03-23 14:08] nfx commented on #572
@dsfrederic i think some of the environment variables are set, so you're getting this error.

[2021-03-23 14:10] dsfrederic commented on #572
@nfx that's right! But I use these to authenticate another part of my terraform file.

[2021-03-23 14:32] dsfrederic commented on #572
@nfx anyway the workaround I tried won't be working anyhow.

I changed the auth method to NOT use environment variables. This way I was able to continue.

BUT: to create an Azure Keyvault Backed Secret Scope I need this:
[code]

[2021-03-23 16:51] sdebruyn commented on #266
I also read this in the docs. I don't know why, but it just works for me. We use SP auth and have several secret scopes in our TF files without any issues. Did you try using it regardless?

[2021-03-23 17:43] dsfrederic commented on #266
@sdebruyn I've tried using it without any luck...

Can you show me a snippet of your databricks provider configuration block? Are you sure there are no environment variables configured?

[2021-03-24 06:38] heeroyuy925 opened #573 "[ISSUE] Data resource "databricks_group" caused the api token deactivated"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.14.2

### Affected Resource(s)
data resource:
- databricks_group

### Expected Behavior
What should have happened?
If the id of group

[2021-03-24 08:11] nfx commented on #573
Once there's dependencies on data resources, child resources are recreated. That's how terraform works.

[2021-03-24 08:11] #573 closed

[2021-03-24 08:17] nfx commented on #572
You can explicitly set those variables to empty strings in provider block.

AKV SPN auth is known limitation of the backend.

[2021-03-24 08:17] #572 closed

[2021-03-24 13:03] nfx commented on #557
closing this issue as there seems to be no activity. please add a pull request if you'd like to add this functionality.

[2021-03-24 13:03] #557 closed

[2021-03-24 18:01] stikkireddy opened #574 "[ISSUE] Json Marshaling issue with symbols"
Hi there,

There is am issue with the json marshall implementation in the provider using the default encoding with `json.MarshalIndent ` of package "encoding/json". By default when marshaling a struct to json bytes/string all the following unicode symbols "<", ">", "&", U+2028, and U+2029 are escaped to "\u003c","\u003e", "\u0026", "\u2028", and "\u2029". This replacement can be disabled when usin

[2021-03-24 18:11] alexott commented on #574
check 0.3.2 - it should be already fixed by #566

[2021-03-24 18:26] #574 closed

[2021-03-25 09:33] nfx opened #576 "When SQL Analytics is not enabled on the workspace, the error message from the backend is not propagated"
`Provider produced inconsistent result after apply` appears instead of `FEATURE_DISABLED: SQL Analytics is not supported ...`, which is 404 response to POST request.

[2021-03-27 18:36] #548 closed

[2021-04-01 09:46] nfx commented on #576
this one is actually a duplicate of #564

[2021-04-01 09:46] #576 closed

[2021-04-01 12:09] nfx commented on #556
Service Principals have to be enabled for your AWS workspace. v0.3.2 will give a proper error message.

[2021-04-01 12:09] #556 closed

[2021-04-01 12:24] nfx commented on #569
not needed, as errors are reported properly now

[2021-04-01 12:24] #569 closed

[2021-04-01 12:26] #564 closed

[2021-04-01 15:11] theesen opened #585 "[ISSUE] AWS S3 Mount does not use cluster_id during plan"
### Terraform Version
Terraform v0.12.30
+ provider.aws v3.32.0
+ provider.databricks v0.3.2

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_aws_s3_mount

### Terraform Configuration Files
[code]

### Debug Output
[code]
Cluster ID: `999` is the ID of the actual cluster I would like the mount to use, while `123` is the ID of a temporary cluster that is auto

[2021-04-01 15:14] nfx commented on #585
will be fixed in #497

[2021-04-01 15:14] #585 closed

[2021-04-01 19:25] nfx commented on #563
@happyfeet23  `standard` SKU's don't have any permission control in them, so this is the expected behavior.

[2021-04-01 19:25] #563 closed

[2021-04-03 09:11] nfx commented on #266
@dsfrederic https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/secret_scope#keyvault_metadata should hold the details

[2021-04-06 09:37] nfx commented on #546
@alexott we can close this one, right?

[2021-04-06 10:02] alexott commented on #546
fixed by #571

[2021-04-06 10:02] #546 closed

[2021-04-07 07:01] JCZuurmond opened #586 "[ISSUE] Single node cluster not working in version `0.3.2`"
Hi there,

With version `0.3.2` a single node cluster fails to be created:

[code]

When fixing the version to `0.3.1` the `apply` does not fail.

### Affected Resource(s)
- databricks_cluster

### Terraform Configuration Files

[code]

My hunch is that it has something to do with PR #571. Maybe @alexott could help us here.

[2021-04-07 07:22] nfx commented on #586
I think you're missing custom_tags. Please check documentation

[2021-04-07 08:00] JCZuurmond commented on #586
Awesome! Thanks for your quick reply, it did the trick

[2021-04-07 08:00] #586 closed

[2021-04-10 20:39] renardeinside opened #590 "[ISSUE] Add arguments for PAS object"
Hi there,

There is no `public_access_enabled` argument for `databricks_mws_private_access_settings` resource. This is a pretty important component for the PrivateLink setup (one of the most important ones).

Following setup won't work:
[code]

Error log with `TF_LOG=DEBUG terraform apply -auto-approve -var-file=.tfvars`:
[code]

[2021-04-10 21:10] nfx commented on #590
@renardeinside this is a simple change - just add new boolean field to the struct and unit test it well. Waiting for your PR :)

[2021-04-12 08:16] bofaalsarah opened #591 "[ISSUE] Provider bug | missing required field validation"
### Terraform Version

Terraform v0.12.30

    provider.aws v3.34.0
    provider.databricks v0.3.1

### Affected Resource(s)

    databricks_cluster_policy

### Terraform Configuration Files

[code]

### Expected Behavior

It should throws an error for the missing type parameter in `spark_conf.spark.sql.extensions` block

### Actual Behavior

Terraform plan is being applied but the cluster can't b

[2021-04-12 15:01] nfx opened #592 "[ISSUE] Exporter didn't capture node_type_id"
Generated configs don't capture the node type id

[2021-04-12 15:21] nfx opened #593 "Add dbfs_path exporter attribute to databricks_dbfs_file resource"
Add dbfs_path exporter attribute to databricks_dbfs_file resource

[2021-04-12 15:56] nfx opened #594 "Exporter does not export AKV scopes properly"
We should not fill in secret values with variables for AKV scopes. And we should make proper generation of AKV scope resource

[2021-04-12 16:22] nfx commented on #591
it's rather an issue with REST API, than provider. closing this one.

[2021-04-12 16:22] #591 closed

[2021-04-12 17:10] alexott commented on #594
Hmmm, I thought that I did that - maybe it was lost during the rebase/merge.  I should have corresponding patch somewhere

[2021-04-12 17:22] alexott commented on #594
the first part should be covered by this: https://github.com/databrickslabs/terraform-provider-databricks/blob/master/exporter/importables.go#L555 - until dev team didn't change the name...
will fix tomorrow

[2021-04-13 08:11] nfx commented on #594
did the AZURE_KEYVAULT constant change? this means that other AKV scopes are broken.

[2021-04-14 19:28] edboykin-insight commented on #372
This appears broken again? I built a very simple module to build the workspace and cluster and I am getting the authentication error. It appears related to being in a module. If I run the config as regular tf and not in a module it works.

azurerm 2.52.0
databricks 0.3.2
[code]

[2021-04-15 10:26] shan0809 commented on #50
bumping this up, if there are any plans to include API  to integrate Azure databricks with Azure DevOps git automatically via API rather than manually

[2021-04-15 12:47] SebastianBalle opened #595 "[ISSUE] Provider bug: Creation of Azure Key Vault secret scope using Terraform Cloud"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.14.10

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_secret_scope

If this issue

[2021-04-15 13:00] nfx commented on #595
Azure KeyVault **cannot yet be configured** for Service Principal authorization. Currently you cannot create AKV scope because **_OBO flow is not supported yet for SPNs on AAD side_**. Please reach out to your Azure and Databricks representatives.

[2021-04-15 13:00] #595 closed

[2021-04-16 05:58] alexott commented on #50
@ shan0809 there is no **official** API yet, that's why it's not implemented

[2021-04-16 07:53] felixsafegraph opened #596 "[DOC] New Workspace setup - Auth warning"
### Affected Resource(s)
Auth

### Expected Details
[code]

### List of things to potentially add/remove:

Doc should call out that if you have a .databrickscfg

you should rename/move the file - otherwise terraform will pick up the "wrong credentials"

[2021-04-16 08:01] felixsafegraph opened #597 "[DOC] Create workspace step doesn't run though"
### Terraform Version
[code]

### Affected Resource(s)
https://docs.databricks.com/dev-tools/terraform/e2-workspace.html#step-4-create-a-databricks-e2-workspace

### Environment variable names
NONE

### Terraform Configuration Files
Had it exactly as this section
https://docs.databricks.com/dev-tools/terraform/e2-workspace.html#step-4-create-a-databricks-e2-workspace

### Output
[code]

### Expect

[2021-04-16 14:55] nfx opened #598 "Make "Unhandled Permission level" more clear"
Make "Unhandled Permission level" more clear

[2021-04-19 14:52] nfx opened #599 "Remove managed library that failed to install on refresh"
Remove managed library that failed to install on refresh

[2021-04-20 12:29] pietern opened #600 "databricks_sql_endpoint acceptance test fails"
The acceptance test tries to clobber properties that were defaulted by API.

I think this can be solved by defaulting these properties to the same values in the resource's schema.

I run the acceptance test with:

[code]

It fails with:

[code]

[2021-04-20 13:40] nfx commented on #600
this test is not currently running on every release... need to fix that.

[2021-04-21 09:43] nfx opened #602 "Use staticcheck github.com/databrickslabs/terraform-provider-databricks/... instead of abandoned golangci-lint"
go-staticheck is integrated with VSCode and seems to be actively supported.

https://staticcheck.io/docs#running-the-tools

[2021-04-21 10:54] capitancambio opened #603 "[DOC] spark_conf configuration example errors in terraform"
Hey there's a typo/error in the examples involving `spark_conf` when terraform

### Affected Resource(s)

https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#spark_conf

[code]
That piece of config fails with terraform 0.13 with a `Argument names must not be quoted.`
### Expected Details

### List of things to potentially add/remove:
The examples should

[2021-04-22 09:00] nfx commented on #603
thanks @capitancambio , next release will have the fix

[2021-04-22 09:00] #603 closed

[2021-04-22 09:31] nfx commented on #596
@felixsafegraph, it is documented https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs#empty-provider-block

[2021-04-22 09:31] #596 closed

[2021-04-22 09:40] alexott commented on #594
I couldn't reproduce this behaviour - I just re-run everything, and see that for AKV-based secret scopes we export only scope definition and scope ACL, but not the secrets...

[2021-04-22 09:41] nfx commented on #598
created internal ticket to track this

[2021-04-22 09:41] #598 closed

[2021-04-22 09:49] #590 closed

[2021-04-22 09:49] #593 closed

[2021-04-22 09:51] nfx commented on #597
@felixsafegraph you should use a separate module or provider aliasing. We're working on a separate provider just for databricks_mws_* resources to remove this confusion.

[2021-04-22 11:56] nfx opened #606 "make test-preview should be passing with every release"
Currently preview acceptance tests (`make test-preview`) are not running with every release, though it's high time they should. Create all-enabled workspace internally and include it in the release procedure.

[2021-04-22 11:57] nfx commented on #600
Closing in favor of more global #606

[2021-04-22 11:57] #600 closed

[2021-04-22 16:51] felixsafegraph commented on #596
Is the doc describing a precedence? because in my setup I had user + pass (point 4) but the tool was using the databrickscfg anyway (and failed) (point 7)

this is not how I would expect it

[2021-04-22 16:52] felixsafegraph commented on #597
ok

[2021-04-23 15:57] nfx commented on #596
@felixsafegraph precedence is as documented.

I think you were missing the host?..

what i can advise is `TF_LOG=DEBUG terraform apply`(a bit verbose, so do grep on terraform-provider-databricks). I should give couple of hints.

[2021-04-23 16:18] felixsafegraph commented on #596
not sure I understand. the exact same thing, it worked when I delete my .databickscfg file.

[2021-04-23 19:03] cprice404-aws opened #609 "[ISSUE] Provider bug(?) - attempting to instantiate UserInstanceProfile resource results in `Endpoint not supported` error"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

I am attempting to use the provider via Pulumi version 2.24.1.  I recognize that this is unsupported, I would just like to know if the

[2021-04-23 19:12] nfx commented on #609
@cprice404-aws this is not quite terraform debug log i'm seeing. can you check debug output of `terraform-provider-databricks` binary? that one should contain the API call sequence.

Why do you need to assign an instance profile to a user and not a group? our telemetry doesn't show enough usage for this resource ...

[2021-04-23 19:13] nfx commented on #609
and can you call normal terraform instead?...

[2021-04-23 19:19] cprice404-aws commented on #609
Thanks for your response.  I understand that my use case is unusual so it's no problem if you're not able to help, I just wanted to see if there were known circumstances that would result in that `Endpoint not supported` message.

Running via pulumi it uses a bridge that wraps the terraform provider so I don't have the normal binary around, nor the logs you're interested in.  I may try to set up a

[2021-04-23 19:31] cprice404-aws commented on #609
I tried with a `GroupInstanceProfile` and in that case, it says "Group with id foo not found", though there is definitely a group by that name.  It's interesting that it does not trigger the same `Endpoint not supported` error, though.

[2021-04-23 20:21] cprice404-aws commented on #609
FYI, I started trying to play around with this via `curl` to make sure I knew what I was trying to call, and realized that the public API docs only mention an `instance-profiles` endpoint.  They don't mention a REST API for "user" or "group" instance profiles.  Then I realized that the terraform provider also exposes an `databricks_instance_profile` resource - the mapping between that and the REST

[2021-04-23 21:12] stbnjenkins opened #610 "[ISSUE] Provider not recognizing pricing tier"
Hello,

The Databricks provider, since one week ago, is having issue deploying workspaces due to not being able to get the correct pricing tier of my account.

### Terraform Version
v0.14.6

### Affected Resource(s)
- databricks_mws_workspaces

### Environment variable names
Only environment variable set are the AWS region, key and token.

### Terraform Configuration Files
[code]

### Expected Beh

[2021-04-23 21:14] nfx commented on #610
@stbnjenkins it's not provider, but it's the backend issue. please file a support ticket.

[2021-04-23 21:14] #610 closed

[2021-04-23 21:22] nfx commented on #609
@cprice404-aws it's backed by SCIM endpoint, it needs a numeric user id, which is the id of databricks_user resource

[2021-04-23 21:25] nfx commented on #610
@stbnjenkins i've just escalated to internal teams

[2021-04-23 21:49] nfx commented on #610
@stbnjenkins please try adding `pricing_tier = "ENTERPRISE"`to the resource

[2021-04-23 22:08] stbnjenkins commented on #610
So after adding `pricing_tier = "ENTERPRISE"` to the resource it worked, but only when using the `private_access_settings_id`. In case I do not want to use private access setting, and I comment out the `private_access_settings_id` (or assign it empty string) in the resource then I get `Workspaces using AWS Private Link must specify the private_access_settings_id field`

[2021-04-25 21:08] nfx commented on #610
@stbnjenkins as far as i know, this problem is supposed to be patched in the next deployment. I think @gregwood-db will follow up on ticket with you.

[2021-04-25 21:12] nfx commented on #596
@felixsafegraph hm.. what env variables do you have and what does TF_LOG=DEBUG say?

[2021-04-26 14:38] nfx commented on #609
@cprice404-aws here's documented example: https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/user_instance_profile#example-usage

[2021-04-26 14:38] #609 closed

[2021-04-27 20:53] jonathan-dorsey opened #614 "[ISSUE] databricks_notebook does not recognize changes made in workspace"
### Terraform Version
0.13.5

### Provider Version
0.3.0

### Affected Resource(s)
- databricks_notebook

### Terraform Configuration Files
[code]

### Expected Behavior
When a notebook is deployed via the provider with content, it should recognize changes made to the file in the workspace to prevent configuration drift. When the terraform is applied after a change, it should revert the file conte

[2021-04-27 22:46] nfx commented on #614
@jonathan-dorsey Currently, workspace status backend APIs don't give any information If notebook was manually changed or not. Fetching remote notebook source creates certain issues, once many notebooks are being checked, so this route was deliberately moved away from.

And this is mentioned on documentation as known issue, for now. This may change in the future. Please stay tuned with upcoming rel

[2021-04-27 22:47] #614 closed

[2021-04-28 20:53] steve148 opened #616 "[DOC] Issue Short Description"
### Affected Resource(s)

https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/resources/instance_pool.md#aws_attributes-configuration-block

### Expected Details

Docs mention `zone_id` as being optional, but when trying to create an instance pool with the provider I ran into the following error.

[code]

Looking at the [resource file](https://github.com/databrickslabs

[2021-04-28 20:55] nfx commented on #616
@steve148 could you please do another small PR to close this issue? :)

[2021-04-28 20:55] steve148 commented on #616
@nfx of course, was just about to say I don't mind.

[2021-04-28 21:09] #616 closed

[2021-04-28 21:27] tomarv2 opened #618 "[DOC] Token value is not available in output"
Hi Team,

I was looking at this doc: https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/guides/aws-workspace#provider-configuration

### Expected Details
I was expecting `token_value` in output:

[code]

I don't see `token_value` in output:

<img width="542" alt="Screen Shot 2021-04-28 at 2 24 29 PM" src="https://user-images.githubusercontent.com/11890959/116474640-9ca53

[2021-04-29 13:28] vynaloze opened #619 "[ISSUE] databricks_sql_permissions causes perpetual plan changes"
### Terraform Version
[code]

### Affected Resource(s)
- databricks_sql_permissions

### Environment variable names
[code]

### Terraform Configuration Files
#### Case 1: "swapping groups"
[code]
#### Case 2: "catalog becomes database/default"
see #620

#### Case 3: "ALL PRIVILEGES becomes all privileges listed"
[code]

### Expected Behavior
No changes should be detected when running subsequent `p

[2021-04-29 14:14] nfx commented on #619
thank you for submitting the issue.

Case 3 won't fix. There's no way to validate lists in terraform in the moment.

Could you pull Case 2 into separate issue?

[2021-04-29 14:21] vynaloze opened #620 "[ISSUE] databricks_sql_permissions causes perpetual plan changes: catalog becomes database/default"
[split from #619]

### Terraform Version
[code]

### Affected Resource(s)
- databricks_sql_permissions

### Environment variable names
[code]

### Terraform Configuration Files
There is only a single database in this scenario. The use case is that I want to enable access to any new databases (possibly created in the future) to `data_admin`, while denying `data_read_only` access to them.
[code]

##

[2021-04-29 14:25] vynaloze commented on #619
That's a shame. Can you maybe update the documentation to indicate that "ALL PRIVILEGES" permission is pretty much useless (unless anyone is fine with constant plan changes)?

Sure: #620.

[2021-04-29 14:51] nfx commented on #619
yep, i'll just add a note in documentation.

[2021-04-30 09:35] premjayaraj opened #622 "Unable to create E2 workspace using terraform - MALFORMED_REQUEST"
Customer is deploying databricks workspace via terraform. Its throwing the below error saying,

"MALFORMED_REQUEST: Failed parameter validation checks: Deployment name cannot be used until a deployment name prefix is defined. Please contact your Databricks representative"

<img width="710" alt="Screen Shot 2021-04-29 at 6 18 25 PM" src="https://user-images.githubusercontent.com/66770956/116677075-

[2021-04-30 09:39] nfx commented on #622
@premjayaraj well, Databricks sales team has to be contacted to enable the deployment prefix :) this is not an issue of the provider, _Please contact your Databricks representative_ (as mentioned in the error message).

[2021-04-30 09:39] #622 closed

[2021-04-30 16:32] sdebruyn opened #623 "[ISSUE] Pool is not replaced on Spark version update"
I updated the preloaded_spark_versions of my instance_pool from 7.3 to 8.1 in 2 Terraform projects. In one of them it correctly indicated that it needed to replace the pool because this version had changed.

On the other one, it proposes an in-place update:

[code]

If you apply this, you get
[code]

Provider version 0.3.2 and same with 0.3.3.
Terraform 0.14.6 on the broken one and Terraform 0.15.

[2021-04-30 16:51] nfx commented on #623
@sdebruyn we'll just say, that you should use Terraform 0.15 :)

[2021-04-30 16:52] #623 closed

[2021-05-01 09:57] sdebruyn commented on #623
@nfx same issue after update to 0.15.1

[2021-05-03 14:25] alafanechere opened #630 "[ISSUE] databricks_service_principal: application_id field is required by the provider but the API endpoint does not accept it"
Hello,
I activated SCIM for service principal preview on the databricks AWS workspace I manage, but I fail at creating a service principal using your provider.

It looks like their is an inconsistency between the provider implementation and your rest API :
* The `application_id` field is required by the provider but is not expected by the REST API.
* It causes an HTTP `400` response and a final `E

[2021-05-03 14:38] nfx commented on #630
This resource only works for azure databricks at the moment

[2021-05-03 14:38] #630 closed

[2021-05-03 17:17] gaddaak opened #632 "AUTO CLUSTER CREATION FOR ADLS GEN2 MOUNT DOES NOT DELETING AUTOMATICALLY"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-05-03 18:02] alexott commented on #632
it's intended behavior, because you may create multiple mount points at time and won't wait until new cluster is created for each mount point.

[2021-05-03 19:24] nfx commented on #632
Clusters will be autoterminated after 10 minutes. This is the only way to do mounting, as of now.

[2021-05-03 19:24] #632 closed

[2021-05-05 18:04] steve148 opened #634 "[ISSUE] databricks_mws_log_delivery create partially fails with Invalid JSON error"
### Terraform Version

0.14.0

### Affected Resource(s)

- databricks_mws_log_delivery

### Environment variable names

Not sure what env variables you're looking for. Didn't put any in to start, let me know what specifically you'd be looking for and I'll share them.

### Terraform Configuration Files
[code]

### Debug Output
Note the logs below aren't debug logs. I'll try and get those, but will

[2021-05-05 18:59] andywinslow opened #635 "[ISSUE] Create/Import databricks_mws_log_delivery JSON error"
### Terraform Version
v0.13.5

### Affected Resource(s)
databricks_mws_log_delivery

### Expected Behavior
databricks_mws_log_delivery resource should have been created or imported

### Actual Behavior
terraform apply or import fail with something like the following
`Error: Invalid JSON received (518 bytes): {"log_delivery_configuration":{"config_id":"11aa11a1-aaaa-11aa-1a1a-111a111aa111","config_

[2021-05-06 19:03] nfx opened #637 "[ISSUE] Refreshing mount for cluster, that does not exist anymore fails the plan"
Reproduce:

1. Create mount without any cluster specified
2. Manually remove `terraform-mount` cluster
3. terraform apply

Can be worked around by removing the cluster_id field from mount resource state, but this is rather a dark magic and horrible workaround.

[2021-05-07 17:07] #619 closed

[2021-05-07 17:07] #620 closed

[2021-05-07 17:07] #634 closed

[2021-05-07 17:07] #635 closed

[2021-05-10 12:29] nfx commented on #618
this is the issue of intellij plugin

[2021-05-10 12:29] #618 closed

[2021-05-11 21:36] tonybaron opened #641 "[ISSUE] `databricks_mws_customer_managed_keys` resource not setting `use_cases` array for the REST API"
Hello! It looks like the REST API might have changed for configuring a customer managed key.  Previously this appeared to be working, but it looks like the REST API now requires a `use_cases` array (https://docs.databricks.com/dev-tools/api/latest/account.html#operation/create-key-config) that you cannot specify with the Databricks provider.

### Terraform Version
0.13.6

### Provider Version
0.3.

[2021-05-12 07:12] alexott commented on #641
I'm looking into it.  There are more changes in API as well

[2021-05-12 08:13] #641 closed

[2021-05-12 09:08] alexott commented on #551
@HamiltonHord I can't reproduce your issue with 0.3.3.  Can you destroy the cluster, and first create it with `TF_LOG=DEBUG terraform apply 2>&1 | tee create.log`, and after creation try to update it, running: `TF_LOG=DEBUG terraform apply 2>&1 | tee update.log`, and attach both logs here.

I suspect that Databricks when creating selected another zone for cluster, but Terraform still has another v

[2021-05-12 09:49] choukimasri opened #643 "[ISSUE] Token refresh error terraform plan and apply"
Hi there, I'm having trouble re-applying my terraform plan following a sucessful deploiement

### Terraform Version
14.0.3

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_token

### Environment variable names
Azure Managed

### Terraform Configuration Files
[code]

### Debug Output
Error: Post https://adb-xx.azuredatabricks.netapi/2.0/token/create: dial tcp

[2021-05-12 10:05] #597 closed

[2021-05-12 10:08] nfx commented on #643
does `azurerm_databricks_workspace.case_databricks.workspace_url` have slash in the end?

[2021-05-12 10:11] nfx commented on #643
Please use

[code]

(also - you don't have to specify `alias`, if you use only one provider instance in the module

https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/guides/azure-workspace#provider-configuration

[2021-05-12 11:08] choukimasri commented on #643
according to azurerm provider docs

https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/databricks_workspace
[code]
So I guess not,

Thank you I will reflect these changes.

[2021-05-12 11:23] #643 closed

[2021-05-12 11:54] nfx commented on #599
how to reproduce:

1. install the library that failed to install on a cluster
2. see TF apply end with the error
3. run apply again
4. see same installation error :(

[2021-05-12 11:56] choukimasri commented on #643
it's fixed ?

[2021-05-13 15:25] psg2 opened #647 "[FEATURE] Support databricks_user data source"
Hi there,

I would like to ask for support for a data source for databricks_user, similar to the data source databricks_current_user, but allowing to get any user information based on user_name.

The use case is the following:
After we enabled SSO in our workspaces, users are managed from an external Identity Provider, but we still manage groups through Terraform and we need to manage the membersh

[2021-05-13 15:37] nfx commented on #647
Hi @psg2 , would you be able to PR that one in?

[2021-05-13 16:50] psg2 commented on #647
Sure! Will do.

[2021-05-13 17:36] psg2 commented on #647
Hi, @nfx. Just started the pull request here for review: https://github.com/databrickslabs/terraform-provider-databricks/pull/648

[2021-05-13 18:23] nfx commented on #647
@psg2 make fmt requested :)

And we'll be so happy for you to finally use the latest versions :-)

[2021-05-13 18:25] nfx commented on #647
Btw, @psg2 databricks_scim_group is removed in favor of simplified databricks_group. Make sure to read 0.3.x migration guide

[2021-05-13 18:29] psg2 commented on #647
I'm aware, it's just that internally we're using multiple versions it's a bit of a mess TBH.

With this PR I hope that we can start using the latest and open source provider for good this time.

[2021-05-13 18:41] nfx commented on #647
@psg2 is has grown a long way since you've started using it :)

[2021-05-13 18:45] psg2 commented on #647
It truly did, I loved how you all evolved the solution.

[2021-05-13 18:45] nfx commented on #647
What I generally tell is to manage groups with TF and get users SCIM provisioned into those groups by IDP

Sometimes people don't have access to SCIM provisioners, though

[2021-05-13 18:46] psg2 commented on #647
I understand and I would love to have it managed by IDP, but we're a long way from this stage still with our current Okta management.

[2021-05-13 18:52] nfx commented on #647
Pr merged. Release in a few weeks, though you can mail me, if you want to get it sooner. It's approximately half of day overhead to roll out the release.

[2021-05-13 18:55] psg2 commented on #647
The sooner would be better for us, but I guess you just did a release yesterday. So take your time, so you don't need to spend your time doing follow-up releases like this.

I'm also looking forward to this https://github.com/databrickslabs/terraform-provider-databricks/issues/555 on the 0.4 milestone. Let me know if I can help with this feature as well.

[2021-05-13 19:21] tonybaron opened #649 "[ISSUE] The `account_id` attribute is sometimes not populated when updating `databricks_mws_workspaces`"
Hi there,

It appears that the `account_id` attribute is sometimes not being populated when PATCHing `databricks_mws_workspaces`.  The API returns ```MALFORMED_REQUEST: Invalid AccountId:``` because the `account_id` is an empty string on the patch request.

In my case this was related to adding customer managed key configurations.

Performing the below request manually with the REST API, but popul

[2021-05-13 19:21] nfx commented on #647
@psg2 if you'll PR in #555, that would be great. Milestones are indicative of priorities for core maintaining team (@nfx & @alexott). Though, community is always welcome to submit a PR if they want to see certain functionality sooner.

If you'd like to pick #555, please make sure to

1. Read [contributing guide](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/CONTRIBUTI

[2021-05-13 19:21] #647 closed

[2021-05-13 19:25] nfx commented on #649
@tonybaron please provide more context, including cmk & workspace resource configs. and cmk request traffic. it might be the case that some resources didn't return proper content and this happened.

[2021-05-13 19:41] nfx commented on #555
From design perspective, the backing API for SP OBO token is different from user PAT token. Therefore a new resource should be implemented.

[2021-05-13 21:45] stikkireddy opened #650 "[ISSUE] Issue with setting users state to active"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-05-14 06:56] #594 closed

[2021-05-14 06:59] nfx commented on #531
To keep number of open issues smaller, closing this one. Please open PRs for specific parts of it

[2021-05-14 06:59] #531 closed

[2021-05-14 11:32] alangmdb opened #651 "[ISSUE] databricks_aws_s3_mount do not work with instance profile which have a path"
Provider version: 0.3.4

I am using paths for my roles/instance profiles ([see here](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html)).

I was expecting the following to work (given the profile exists):
[code]

Yet I get:
`should have gotten two parts: [instance-profile my path role]`

There is no issue using the API directly to add these instance profiles (nor in the d

[2021-05-14 11:43] nfx commented on #651
@alangmdb would you be able to make a PR for this?

[2021-05-14 11:44] alangmdb commented on #651
This is the offending code, do not know the reasoning behind it, but if there should be a reasonably unique cluster name, then it would be probably better to build the cluster name based on all the parts: `strings.Join(instanceProfileParts[1:], "_")`. @nfx Not very good at go, I can try to create a pull request, but will take me a bit to set up my environment.

[code]

[2021-05-14 12:57] alangmdb commented on #651
@nfx Created a pull request, but see my note regarding testing in it.

[2021-05-14 18:07] #651 closed

[2021-05-17 16:38] tonybaron commented on #649
Hi @nfx.  Sorry for the delay.

CMK resource config:
[code]

Workspace resource config:
[code]

And some more logs:
[code]

[2021-05-17 16:54] tonybaron commented on #649
@nfx As an aside, related to my previous comment, I see that the accounts REST API is returning a 200 when I try to add a managed services CMK.  According to the documentation, that is only available when a workspace is created.  This isn't reflected in the Terraform documentation at all, and led to a lot of confusion until I dug into the documentation further.

Could you route that issue to the c

[2021-05-17 17:02] psg2 opened #654 "[ISSUE] skip_validation false on databricks_instance_profile"
Hi there,

According to the changelog on version 0.3, we have the following note, but on [the code it's always set to false](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/identity/resource_instance_profile.go#L48)

[code]

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your i

[2021-05-17 17:04] nfx commented on #654
@psg2 we always validate the instance profile in TF, before adding it. Please decode the failure of the message https://aws.amazon.com/premiumsupport/knowledge-center/aws-backup-encoded-authorization-failure/

[2021-05-17 17:05] psg2 commented on #654
I know the failure of the message, and there is no workaround that AFAIK. If I'm correct Databricks tries to validate the instance profile by creating a new EC2 instance with it on AWS, but our infrastructure team has some global policies that block the creation of EC2 instances without default tags that Databricks doesn't use on the validation.

[2021-05-17 19:08] nfx commented on #654
@psg2 unfortunately it's not possible to add/change tags for that verification part.. technically, you can try adding some exclusions on policies just for these "verification ec2" instances

[2021-05-17 19:11] psg2 commented on #654
I know but was so much simpler with the skip_validation. ):
For now, what I did was create almost everything with Terraform and created the instance profiles on Databricks UI with the skip_validation checkbox.

Also, I don't know how to identify those verification instances since this isn't like publicly available for us to add the exclusion and might leave like an edge case or backdoor on top of

[2021-05-17 19:24] nfx commented on #654
@psg2 the problem with `skip_validation` was that we were receiving plenty of bug reports on instance profiles, that didn't work 🤷 also, it's in terraform ideology to make a resource, that is guaranteed to work after creation, hence the skip omission 🤷 e.g. smaller surface to support in the long term.

do you have CloudTrail logs collected? you can take a look at ec2 tags used in the verification

[2021-05-17 20:29] psg2 commented on #654
Why does the provider need to remove a Databricks API feature? 🤔
The attribute could be kept with the `false` default and the user is responsible for dealing with errors if wants to skip_validation.

Maintaining an exclusion list based on CloudTrails on something that is internal to Databricks and hard to track if it changes over time might be error-prone and hard to maintain, we might even end up

[2021-05-17 20:34] nfx commented on #654
Because Terraform should not create resources, that might be invalid :)

[2021-05-17 20:50] psg2 commented on #654
But this is also providing false positives validations that are breaking our current implementation, and unlike the case when we had this attribute that we could add warnings to the users about the validation and they would be aware of possible failures and they most likely would notice those failures when creating clusters, we don't have this luxury.

We need to troubleshoot CloudTrail logs witho

[2021-05-18 13:40] nfx commented on #654
@psg2 indeed we'll fix the changelog

[2021-05-19 19:00] ahsan-qaisar opened #655 "[ISSUE] Invalid endpoint exception"
Hi there,

### Terraform Version
0.14.5

### Affected Resource(s)
- databricks network creation

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Create databricks network

### Actual Behavior
error `invalid endpoint`

### Steps to Reproduce
1. `terraform apply`

[2021-05-19 21:40] roleaw opened #656 "[ISSUE] Service Principal Application_id parameter"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.14.7

### Affected Resource(s)
- databricks_service_principal

### Environment variable names
To get relevant environment variable _n

[2021-05-19 21:45] roleaw commented on #656
Debug logs:
[teams-deploy-debug.txt](https://github.com/databrickslabs/terraform-provider-databricks/files/6511699/teams-deploy-debug.txt)

[2021-05-20 15:16] LucaBorin opened #657 "[ISSUE] Provider bug databricks_sql_permissions"
Hi there,

### Terraform Version
0.14.8
Azure Databricks

### Affected Resource(s)
databricks_sql_permissions

### Expected Behavior
What should have happened?
Apply the SQL grant to an external table defined in an external metastore.

### Actual Behavior
What actually happened?
It is not possible to provide in the resource template spark configuration to allow the ephimeral cluster to connect to

[2021-05-20 15:55] nfx commented on #657
@LucaBorin did you try `cluster_id` parameter?

[2021-05-20 16:11] LucaBorin commented on #657
Hi @nfx thanks for your reply. I'll try with an id of an existing cluster. The argument reference in the documentation is not updated https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/sql_permissions#argument-reference

[2021-05-20 16:57] nfx commented on #657
@LucaBorin yeah, i'll add `cluster_id` to docs in the next release. Please mail me the debug logs and screenshot of spark ui with jobs/stages. I want to check how much of parallelism issue is there with this implementation.

[2021-05-21 08:05] LucaBorin commented on #657
@nfx fine, let's continue the discussion through emails thank you

[2021-05-21 15:22] carlosfrancia commented on #647
Hi @nfx, we are implementing Databricks in our company and we are really interested in having this feature in the provider to manage our group members under Terraform while using SSO. Do you have an idea when will this be released?

Thank you,
Carlos

[2021-05-21 15:38] #654 closed

[2021-05-21 18:25] KoenR3 opened #660 "[ISSUE] Add option to remove user permissions"
### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_permissions

### Expected Behavior
Standard when SSO is activated users have the CAN_USE permissions for passwords.  Use databricks_permissions to remove that permission

### Actual Behavior
Not possible to remove the permission.  One first has to add it using the resource and then destroy the resource.  Allow

[2021-05-21 18:35] nfx commented on #660
either import the permission resource or use the workaround you've mentioned. terraform cannot be used to remove something, only to create.

[2021-05-21 18:35] #660 closed

[2021-05-22 19:02] KoenR3 commented on #660
The issue is that there is no explicit way to remove it.  This would involve manual steps and would run counter to setting up a fully automated deployment with Terraform.  Adding an explicit "CANNOT_USE" permission or a null permission to overwrite what is there, for instance.  The Databricks Permissions API also does not allow deletion without overwriting the entire permissions.

Importing the pe

[2021-05-25 10:56] alangmdb opened #661 "[ISSUE] SQL Endpoint Permissions"
### Terraform Version
Terraform v0.14.8
+ provider registry.terraform.io/databrickslabs/databricks v0.3.4

### Affected Resource(s)
- databricks_permissions
- databricks_sql_endpoint

### Environment variable names
none

### Terraform Configuration Files
[code]

### Debug Output
Did even use trace, but unfortunately I can just see other resources completing, but when it gets to the endpoint there

[2021-05-25 11:26] alexott commented on #661
yep, that's the bug...

[2021-05-25 13:01] alangmdb commented on #661
Thanks for the quick reply. Do you mean the bug is that the permissions endpoint is not released yet in our workspace version?

[2021-05-25 13:03] alexott commented on #661
it's a bug in provider

[2021-05-25 13:06] alexott commented on #661
You can build from linked PR & test.

[2021-05-25 14:25] jess-chace opened #663 "[ISSUE] Add DCS attribute for Instance Pools in Terraform template"
Customer has requested the DCS attribute in the instance pools terraform template. Thank you in advance!

[2021-05-25 14:29] nfx commented on #663
@jess-chace what is terraform template? :)

[2021-05-25 14:58] roleaw commented on #656
Converting this into a feature request. I found this closed issue that states that the service principal is only available for Azure.

https://github.com/databrickslabs/terraform-provider-databricks/issues/630

We'd like to request it for AWS as well.

[2021-05-25 16:00] alangmdb commented on #661
Yes, can confirm that worked, thank you.

[2021-05-26 07:17] #663 closed

[2021-05-26 09:53] KoenR3 opened #665 "[ISSUE] databricks_sql_endpoint does not contain spot_instance_policy"
Hi there,

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_sql_endpoint

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
According to the documentation, the endpoint has a argument `spot_instance_poli

[2021-05-26 16:17] #661 closed

[2021-05-27 07:48] KoenR3 opened #667 "[ISSUE] databricks_user allow_sql_analytics_access no longer persists"
### Terraform Version
Terraform v0.15.3

### Affected Resource(s)
- databricks_user

### Environment variable names
None

### Terraform Configuration Files
[code]

### Debug Output
Too much sensitive information in the debug output to paste it here...

### Expected Behavior
When putting the argument `allow_sql_analytics_access` to `true` and SQL Analytics is enabled, it should be set.

### Actual

[2021-05-27 07:51] KoenR3 commented on #667
This also means that all users lose SQL Analytics access once we run Terraform again

[2021-05-27 08:26] alexott commented on #665
it will be fixed with #666

[2021-05-27 09:43] alexott commented on #665
fixed

[2021-05-27 09:43] #665 closed

[2021-05-27 09:52] alexott commented on #667
can you send me the debug log? alexey.ott at databricks.com

[2021-05-27 15:00] carlosfrancia opened #668 "[FEATURE] Support for high-concurrency cluster creation"
Add a cluster mode option to the databricks_cluster resource to create high-concurrency cluster. At the moment only standard and single-node clusters can be created.

[2021-05-27 15:05] nfx commented on #668
@carlosfrancia it can

[code]

[2021-05-27 15:05] #668 closed

[2021-05-28 08:42] rocksde opened #669 "[DOC] databricks_cluster/azure_attributes SPOT_WITH_FALLBACK_AZURE instead of SPOT_WITH_FALLBACK"
### Affected Resource(s)
https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#azure_attributes
![image](https://user-images.githubusercontent.com/18385620/119950476-282ff600-bf9b-11eb-87c0-f417824f4af0.png)

### Expected Details
As per https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/clusters#--azureavailability it should be
SPOT_WIT

[2021-05-28 12:05] #669 closed

[2021-05-28 17:01] psg2 opened #672 "[FEATURE] Support creation of directories on the workspace"
Hi there,

I would like to know if it's possible to add a new resource to the provider that would support the creation of directories on the workspace. Looking at the code I saw that we already have the Mdkirs implemented, we just don't expose it yet through a resource.

The use case here would be to create a folder on the root directory for teams to put shared resources that are not for the whole

[2021-05-28 17:17] alexott commented on #672
I personally thinking that we should have it - some users are complaining about having a useless notebook polluting the directories. There was already the #373, but it was closed.   I have this item in my todo list for a some time, but if you can make it - that would be nice.

@nfx WDYT?

[2021-05-28 17:18] nfx commented on #672
@psg2 please go ahead and make the PR, but don't forget to add a mutex shared with `databricks_notebook`. I foresee those 10 concurrent TF requests to conflict a lot for customer with plenty of notebooks in different folders.

https://docs.databricks.com/dev-tools/api/latest/workspace.html#import
https://docs.databricks.com/dev-tools/api/latest/workspace.html#get-status

we'll help you with review

[2021-05-28 17:28] psg2 commented on #654
Hi, @nfx. Commenting just to let you know that we managed to add an exception rule after inspecting Cloud Trail.

Do you think would be interesting to add something related to it to the documentation?

Below is an example IAM policy that could help with it.
[code]

[2021-05-29 17:41] alexott commented on #672
I only thought about calling it `databricks_folder` to match the UI naming

[2021-05-31 11:28] psg2 commented on #672
I thought about `directory` because we already use `directory_id` and `directory_path` attributes on the permissions resource. If we use `folder` instead I would think about renaming the permissions attributes, but that would be a breaking change for anyone upgrading the provider. Thoughts?

[2021-05-31 11:44] alexott commented on #672
that's ok - let keep it `databricks_directory`

[2021-06-01 09:18] #606 closed

[2021-06-02 18:01] #656 closed

[2021-06-02 22:13] psg2 opened #678 "[FEATURE] Allow custom tags for underlying cluster on databricks_sql_permissions resource or allow a custom cluster_id"
Hi there,

Similar to a problem that I mentioned on another [issue](https://github.com/databrickslabs/terraform-provider-databricks/issues/654), at my company we have AWS policies enforcing some tag rules across all AWS accounts for EC2 instances, and for that I would like to specify some tags for the underlying cluster managed by the SQL permissions resource and this should help not only to bypas

[2021-06-02 22:33] nfx commented on #678
Cluster_id is there, just not documented yet

[2021-06-02 22:47] psg2 commented on #678
You're absolutely right, I read the code but for a moment I misunderstood thinking that because it had the computed annotation we wouldn't be able to set it up and didn't even try it out prior to opening the issue. 😓

My bad here.

[2021-06-02 22:48] nfx commented on #678
The simplest thing you can do is start using cluster_id and PR few lines to documentation :)

I really wonder how it slipped my mind in today's release.

Looking forward to feedback on this particular resource at your scale.

[2021-06-02 22:49] psg2 commented on #678
TBH, we barely use Table Access Control at Wildlife yet, because, without an abstraction layer to manage it like this terraform resource, I always thought it wasn't a good experience to manage it manually from spark clusters.

So first of all, thank you for providing this resource, we're barely starting to use table ACL and this will likely drive more adotption.

[2021-06-02 22:53] nfx commented on #678
@psg2 if field is computed, it doesn't mean it cannot be set :)

This resource is one of the most complex ones. Waiting for REST API to be released for Unity Catalog, so that we can replace command/context flow here.

[2021-06-02 23:09] nfx commented on #678
Also keep in mind that updates to table acls are not atomic - e.g. first all permissions are revoked and then only those configured are applied.

It would be very helpful if you blog/tweet about this SQL permissions resource. I've mentioned it on DAIS talk, did spread enough word internally, but it doesn't get enough adoption as I think it should.

[2021-06-03 01:28] psg2 commented on #678
I guess this is the first time I actually use a resource with Computed as optional.

Really looking forward to that as well, loved the announcement during the summit.

Oh, that's very nice to know.

I will keep you posted on this as well, I'm personally not the best when it comes to social media. 😅

Also, I watched your presentation on DAIS, good job there. Awesome to see how other companies are u

[2021-06-03 20:08] nfx commented on #678
@psg2 can this issue be closed then? :)

[2021-06-03 20:12] nfx commented on #655
@ahsan-qaisar does the issue still persist? Please look at environment variables - there might be a conflict over there

[2021-06-03 20:14] psg2 commented on #678
I've managed to use the resource yesterday providing a cluster id, but before that it failed because it was trying to create a high concurrency cluster without workers which is basically the underlying cluster that the provider tries to create. 🤔

But I guess we can close this one and I will try to reproduce this error again tomorrow and might open a proper issue about it instead of reporting here

[2021-06-03 20:15] ahsan-qaisar commented on #655
This is fixed! Thanks for checking.

[2021-06-04 08:31] nfx commented on #678
@psg2 High concurrency means "with additional security". It technically could be done on a single node as well. I think it's failing in your environment because of no tags specified. Exactly the same semantics as in mount resources.

[2021-06-04 08:31] #678 closed

[2021-06-05 17:48] nfx commented on #647
@carlosfrancia it was released this week

[2021-06-06 01:24] psg2 opened #680 "[ISSUE] Unable to create single node cluster with high concurrency"
Hi there,

The resource `databricks_sql_permissions` works fine on its own, but if you try to provide the cluster_id yourself based on the internal cluster ([code](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/access/resource_sql_permissions.go#L260)) managed by the provider it fails with the error message: "NumWorkers could be 0 only for SingleNode clusters. See http

[2021-06-06 08:50] nfx commented on #680
What is the error message?

[2021-06-06 08:54] nfx commented on #680
Try creating single-worker cluster

[2021-06-06 09:46] kyrios commented on #63
Hi, I stumbled upon this issue. We'd like to use the feature. Is there any workaround on how to make passthrough auth work? Can the Feature Request be re-opened?

[2021-06-06 13:09] psg2 commented on #680
It's on the gist of debug output, https://gist.github.com/psg2/ae519cb83b9907c30d0fe78d83b277e9, and the beginning of the issue, "NumWorkers could be 0 only for SingleNode clusters. See https://docs.databricks.com/clusters/single-node.html for more details" (code).

A single-worker cluster works, but then it will bill for 2 EC2 instances and it display some errors on the UI if you go to the edit p

[2021-06-07 06:46] alexott commented on #63
@kyrios it will be fixed as part of #497 - you can already look into `generic-mounts` branch - it has example of how to mount with passthrough

[2021-06-07 08:24] #655 closed

[2021-06-07 23:35] rtyler opened #682 "[ISSUE] databricks_sql_endpoint doesn't change sizes"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

This is Terraform 0.13.1

### Affected Resource(s)

- `databricks_sql_endpoint`

![tf](https://user-images.githubusercontent.com/26594

[2021-06-07 23:39] rtyler commented on #682
Oh bollocks, this does apply properly, found a different bug

[2021-06-07 23:39] #682 closed

[2021-06-08 06:56] nfx commented on #667
Does the issue still persist?

[2021-06-08 07:03] nfx commented on #680
@psg2 single-node, high-concurrency - those are just special cluster configs. They are responsible for different things. It almost never makes sense to have them both enabled unless this specific case.

https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/sql_permissions did you also try configs in this page?

[2021-06-08 07:05] nfx commented on #672
@psg2 Any updates on the upcoming PR? Willing to keep amount of open issues low.

[2021-06-08 07:07] nfx commented on #649
@tonybaron Can you send a PR with a suggested change to docs/resources/customer_managed_key.md?..

[2021-06-08 07:08] nfx commented on #657
@LucaBorin Does the issue still persist?

[2021-06-08 12:13] psg2 commented on #680
Yes. Just to be sure my issue here isn't about failing to launch a usual high concurrency cluster, but the fact that to use sql_permissions given my organization rules, I need to create a separate cluster with specific tagging and I can't use the same config the provider uses internally of a single node cluster having to pay for 2 EC2 instances.

[2021-06-08 12:14] psg2 commented on #672
Not yet. ):

I probably will be able to tackle this by next week, but not before that.

[2021-06-08 14:50] andreaslang opened #683 "[ISSUE/FEATURE?] SQL Analytics Query/Dashboard Run as Viewer/Owner setting"
### Terraform Version
v0.15.4

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_sql_query
- databricks_sql_dashboard
- databricks_permissions

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Ideally there would be a way to set the Credentials setting via terraform. This is how it looks like in the query permissions:

!

[2021-06-08 15:08] nfx commented on #683
@andreaslang i think you should be able to specify this as parameters - https://github.com/databrickslabs/terraform-provider-databricks/blob/master/sqlanalytics/api/query.go#L42

@pietern - it'll be a quick one for you to answer

[2021-06-08 19:11] nfx commented on #672
by next week is very good.

[2021-06-09 07:01] pietern commented on #683
@nfx That's the right struct, but it doesn't have a field to set `run_as_role`. I'll take a look.

[2021-06-09 08:41] #683 closed

[2021-06-09 14:43] andreaslang commented on #683
That was quick, thank you.

[2021-06-09 21:23] KoenR3 commented on #667
I have tried with Terraform v1.0.0 and Databricks Provider v0.3.5 and the issue still persists with this configuration

[2021-06-11 08:24] w0ut0 opened #687 "[ISSUE] Improve speed of mount refresh"
### Terraform Version
Terraform v0.15.5

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_azure_adls_gen2_mount

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
`terraform refresh` should take only a couple of seconds per reso

[2021-06-11 08:33] nfx commented on #687
@w0ut0 **mounts rely on a cluster**. by default it's spinning up a minimal cluster. you can specify existing cluster id, which points it to "Shared Autoscaling" cluster, which might be always on. you can also have always running single-node cluster, which you'd use for mounting (and probably some other low-overhead tasks). those are the only feasible workarounds until backend API is implemented fo

[2021-06-11 16:23] #687 closed

[2021-06-14 23:01] iandelahorne opened #688 "[ISSUE] MalformedPolicyDocument trying to use databricks_aws_crossaccount_policy"
### Terraform Version
Terraform v0.14.11 and Terraform v0.13.7
AWS provider 3.45

### Affected Resource(s)

- databricks_aws_crossaccount_policy

### Terraform Configuration Files
[code]

### Debug Output

Plan output:

[code]

### Expected Behavior
An IAM policy to be created

### Actual Behavior
The provider errored with:
[code]

This is due to the IAM policy document version being set to 2008-1

[2021-06-16 07:20] nfx commented on #672
Hi @psg2 :) a weekly reminder

[2021-06-16 07:26] nfx commented on #688
Hi! @iandelahorne did you try creating an inline policy?

data "databricks_aws_assume_role_policy" "this" {
  external_id = var.databricks_account_id
}

resource "aws_iam_role" "cross_account_role" {
  name               = "${local.prefix}-crossaccount"
  assume_role_policy = data.databricks_aws_assume_role_policy.this.json
  tags               = var.tags
}

data "databricks_aws_crossaccount_polic

[2021-06-16 07:27] nfx commented on #667
We'll look into it in the following release

[2021-06-16 17:48] iandelahorne commented on #688
@nfx No, I didn't since our security policies / terraform best practices don't allow this.

[2021-06-17 07:09] nfx commented on #688
@iandelahorne Where in TF best practices I can read that aws_iam_role_policy is not allowed?.. Would this example work for you?

resource "aws_iam_role_policy" "this" {
name = "${local.prefix}-policy"
role = aws_iam_role.cross_account_role.id
policy = data.databricks_aws_crossaccount_policy.this.json
}

[2021-06-17 08:07] nfx commented on #657
@LucaBorin does this issue still persist?

[2021-06-17 13:20] psg2 commented on #672
Hi, @nfx . I'm going to try and start working on this today, but the reality is that I'm not likely to accomplish this for this week, as we're nearing the end of the quarter some other priorities emerged on the company.

[2021-06-17 18:33] iandelahorne commented on #688
@nfx Sorry I was confusing this with a different check which is "no inline policies on users" which Checkov/Bridgecrew will definitely barf on.

That said: Our internal best practices at Patreon are to not use inline policies on roles with `aws_iam_role_policy`, but instead (for reusability) create an `aws_iam_policy` and attach it with `aws_iam_role_policy_attachment`.

Now, does inlining a polic

[2021-06-18 12:27] psg2 commented on #672
Hi, @nfx . Just opened a draft pull request (https://github.com/databrickslabs/terraform-provider-databricks/pull/690) to start the discussion about the new code.

[2021-06-22 07:57] nfx commented on #688
Hm... bumping the version might happen, but only in 0.4.0 - imagine the surprise of folks seeing their cross-account roles updated :)

[2021-06-22 11:14] #672 closed

[2021-06-22 11:14] nfx commented on #672
thank you for the contribution, @psg2 !

[2021-06-22 16:34] KneeShard opened #691 "[DOC] Customer managed keys setup could be easier to find"
### Affected Resource(s)
* https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/guides/aws-workspace.md
* https://github.com/databrickslabs/terraform-provider-databricks/blob/master/docs/resources/mws_customer_managed_keys.md

### Expected Details
It would be great to have an optional section on setting up keys and the key grant policy in the AWS Workspace guide. It see

[2021-06-22 16:49] KneeShard opened #692 "[FEATURE] databricks_aws_crossaccount_policy is too permissive"
### Terraform Version
0.14.11
AWS provider 3.46.0
Databricks provider 0.3.5

### Affected Resource(s)
- databricks_aws_crossaccount_policy

### Environment variable names
N/A

### Terraform Configuration Files
[code]

### Expected Behavior
It would be great to provide a parameter that determines what set of permissions is included in this policy, e.g. the 'Your VPC, default' policy doesn't allow V

[2021-06-22 16:55] nfx commented on #691
@KneeShard pull requests are welcome :) this is not something I'd currently see as priority for the maintenance team

[2021-06-24 09:47] idscau opened #693 "[ISSUE] databricks_aws_s3_mount destory failed"
### Terraform Version
- 0.14.11
- Databricks provider 0.3.5

### Affected Resource(s)
- databricks_aws_s3_mount

### Terraform Configuration Files
[code]

### Steps to Reproduce
1. create databricks_aws_s3_mount with terraform apply
2. umount mount_point from notebook
3. run terraform destory
[code]

I think we should check if mount_point exsit before umount in storage/mounts.go
[code]
### Steps t

[2021-06-29 07:36] nfx commented on #657
No activity on the issue for more than 12 days. Closing this one as we cannot reproduce it

[2021-06-29 07:37] #657 closed

[2021-06-29 09:50] OliverRC opened #694 "[ISSUE] Azure Databricks Workpace some users cannot query or plan - "Invalid character 'A' looking for beginning of value""
Azure Databricks Workpace some users cannot query or plan. They are administrators and have identical IAM roles.
Throws bizzare error

![image](https://user-images.githubusercontent.com/1888486/123759180-f1ae0980-d8bf-11eb-84a4-4d7a972d9bf1.png)

User B even tried creating the Databricks workspace which worked but the could not query the very workspace they created.

### Terraform Version
v0.15.4

[2021-06-29 10:16] nfx commented on #694
@OliverRC it looks like an error in golang regex or something like that. can you look into `DATABRICKS_DEBUG_HEADERS=true TF_LOG=DEBUG terraform plan` output and check any strings after `/scim/v2/Me` (https://github.com/databrickslabs/terraform-provider-databricks/blob/master/identity/data_current_user_test.go#L16) or strings with `GET` requests. See if those strings are having letter `A`. if they

[2021-06-30 21:26] tomasz-kuzemko opened #695 "[ISSUE] failed library in cluster errors terraform refresh"
### Terraform Version

[code]

### Affected Resource(s)

- databricks_cluster

### Environment variable names
To get relevant environment variable _names_ please copypaste the output of the following command:

[code]

### Debug Output

[code]

[code]

### Expected Behavior

Running `terraform refresh` should succeed without error, even with a library with "FAILED" status in a cluster managed by Te

[2021-07-01 12:39] nfx opened #702 "Filter user data source by user id, not just by user name"
Typical use-case for this would be to create certain resources for specific group of users

[code]

[2021-07-01 15:15] RaccoonForever opened #703 "[DOC] Adding repository path for "databricks_notebook_paths""
### Affected Resource(s)
Link to the page affected: https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/data-sources/notebook_paths

### Expected Details
![image](https://user-images.githubusercontent.com/4057852/124148131-a9dddc80-da8f-11eb-96ec-cba2201556a3.png)
I was looking to terraform jobs based on a Repo notebook and I didn't find anything.

### List of things to p

[2021-07-01 16:06] nfx commented on #703
@RaccoonForever just prefix it with `/Repos`. Please send a PR if you want to have it documented sooner.

Documentation will be of course updated, when `databricks_repo` resource is there. For now the Repos CRUD API is being developed.

[2021-07-01 16:06] #703 closed

[2021-07-01 16:21] stikkireddy opened #704 "[ISSUE] Provider Issue: databricks_ip_access_list enabled = false is being ignored"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-07-01 16:31] stikkireddy commented on #704
This is not a valid issue: the create api doesnt support the enabled field: https://docs.databricks.com/dev-tools/api/latest/ip-access-list.html#operation/add-list

[2021-07-02 09:05] alexott commented on #704
maybe it's related to this change: https://docs.microsoft.com/en-us/azure/databricks/release-notes/product/2021/june#api-changes-for-updating-and-replacing-ip-address-lists ?
Otherwise this enabled/disabled could be potentially done on the terraform level,

[2021-07-04 14:50] mahmood2103015 opened #709 "Unable to create Multiple Azure Databricks Workspaces with same cluster & permissions using Terraform"
### Expected Behavior
Hi
I am using provider Databricks, but it has option to add only 1 workspacec ID.
I able to create 2 Databricks workspaces but the cluster & permissions are set only on workspace that is mentioned in provider but not both. Please help me in resolving this issue.

provider "databricks" {
  azure_workspace_resource_id = azurerm_databricks_workspace.cropdbr.id
}
### Actual Behav

[2021-07-04 15:16] nfx commented on #709
You should use "provider alias" feature, with you should find references for in Terraform documentation. This is not related to provider.

[2021-07-04 15:16] #709 closed

[2021-07-04 16:12] mahmood2103015 opened #710 "You should use "provider alias" feature, with you should find references for in Terraform documentation. This is not related to provider."
You should use "provider alias" feature, with you should find references for in Terraform documentation. This is not related to provider.
@nfx
Hi Smertin,
can you please help me with the snippet? i am not sure how to use alias.

_Originally posted by @nfx in https://github.com/databrickslabs/terraform-provider-databricks/issues/709#issuecomment-873610060_

[2021-07-04 18:29] #710 closed

[2021-07-04 18:29] nfx commented on #710
Please read the landing page of documentation

[2021-07-04 19:37] mahmood2103015 opened #711 "Unable to create Multiple Azure Databricks Workspaces with same cluster & permissions using Terraform"
You should use "provider alias" feature, with you should find references for in Terraform documentation. This is not related to provider.

@nfx

https://www.terraform.io/docs/language/providers/configuration.html

As per document the provider alias is for other regions. But i want to create 2 Databricks workspaces in same region.

I used code as :

provider "databricks" {
  azure_workspace_resourc

[2021-07-04 21:01] nfx commented on #711
In the given example, you're adding the "provider" attribute to the resource of azurerm provider, whereas it should be added to Databricks resources on the other respective workspace.

This is the issue related to Terraform HCL syntax, not particularly related to this provider.

[2021-07-04 21:01] #711 closed

[2021-07-04 21:04] nfx commented on #695
This is a duplicate of #599, let's track it there.

[2021-07-04 21:04] #695 closed

[2021-07-05 10:17] w0ut0 opened #712 "[FEATURE] Support for Databricks repos"
I would like support for Databricks repos in the Terraform provider.

I read in [this article](https://databricks.com/blog/2021/03/16/productionize-data-science-with-repos-on-databricks.html) that the repos API is protected, so I guess this resource has to wait until that API is available?

Or is this something that can be included using the [databricks_workspace_conf](databricks_workspace_conf) r

[2021-07-05 10:24] alexott commented on #712
It will be available only after the Repos CRUD API is available, until that time we can't do anything with it.  workspace conf could be used only to enable/disable Repos, but it's also not official way right now

[2021-07-05 10:27] w0ut0 commented on #712
Thanks @alexott! Is there an ETA on that CRUD API?

[2021-07-05 10:29] alexott commented on #712
I can't say exactly, most probably with Repos GA somewhere in our Q3 (starting in August). But I can't say authoritatively

[2021-07-05 11:35] nfx commented on #712
@w0ut0 currently terraform could only enable repos, just in case. I'll close this issue until the API is available.

[2021-07-05 11:35] #712 closed

[2021-07-05 11:36] nfx commented on #692
@KneeShard currently there are no cycles for this feature. would you like to make a PR for this one?

[2021-07-05 22:05] mahmood2103015 opened #713 "Unable to read admins group using data{} ro add user in admin group if there are 2 databricks workspaces"
Hi there,

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster
- databricks_job

If this issue appears to affect multiple resources, it may be an issue with Terraform's core,

[2021-07-06 08:45] nfx commented on #713
`provider` attribute should also be allocated to data resources. https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs#multiple-provider-configurations

this is not the issue with provider and is more related to general terraform usage, which preferably should take place on https://discuss.hashicorp.com/c/terraform-core/27

[2021-07-06 08:45] #713 closed

[2021-07-06 10:52] nfx commented on #694
@OliverRC could you please provide more context?

[2021-07-06 10:53] nfx commented on #693
@idscau would you be willing to test this and make a PR?

[2021-07-06 10:53] #691 closed

[2021-07-07 06:48] OliverRC commented on #694
Hi @nfx we used Fiddler to proxy the HTTP calls and could not find anything that looked odd in the responses.
In the Fiddler trace it didn't even get as far as doing ANY databricks REST API calls on the users who are experiencing this issue.

So there are no output strings from `/scim/v2/Me`

We have tried multiple users, multiple `az logout` / `az login`. It almost seems that something about cert

[2021-07-07 09:20] nfx commented on #694
@OliverRC i think the problem lies in parsing the JWT token from AAD by Azure GoLang SDK. I've recently bumped the version for that lib on master, could you `make install` and see if updated dependencies fix the issue?...

e.g. if you know just a bit of GoLang, here's the place that most likely is the problem for your very special case https://github.com/databrickslabs/terraform-provider-databrick

[2021-07-07 10:42] nfx commented on #389
@travisemichael @MarekLani i've started working on this feature in the linked pull request

[2021-07-07 11:17] OliverRC commented on #694
Thank you @nfx for the detailed response.

We will check the `az account get-access-token --resource 2ff814a6-3304-4ab8-85cb-cd0e6f879c1d` to see if anything obviously weird comes back. I'll also unpack the AAD token and see if I can spot anything in the JWT.

Strangely the AzureRM provider seems to be working fine although we've not tested it in isolation (something we can also try)

[2021-07-07 12:54] OliverRC commented on #694
I think we have definitively found the issue, which also explains the "sporadic" nature of the problem.

Some of the users have the Azure CLI output format set to table.
Example:

[code]

It seems that if the output of the Azure CLI is "table" this breaks the Databricks provider. I am not sure where the root of the fix lies but all responses from Azure should be configured internally to `json`.

S

[2021-07-07 19:18] mahmood2103015 opened #716 "Users added in databricks workspace with TF are getting deleted & recreated during Pipeline execution!"
Hi there,
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster
- databricks_job

If this issue appears to affect multiple resources, it may be an issue with Terraform's core,

[2021-07-07 21:26] nfx commented on #716
@mahmood2103015 please provide more details

[2021-07-07 21:28] nfx commented on #716
@mahmood2103015 Please provide all the requested debug details, otherwise it's not possible to resolve this issue.

[2021-07-07 21:34] nfx commented on #694
@OliverRC Could you check if Azure CLI can have a flag that would force json output?

Re error handling: GoLang doesn't have "exception stack traces" concept - errors are just passed along the call chain. What could be done is adding more explicit error message wrapping in the places mentioned in the previous comment. Pull requests are welcome :)

[2021-07-08 07:20] #694 closed

[2021-07-08 09:06] OliverRC commented on #694
Amazing work all! Thank you so much and for the speedy fix!

[2021-07-08 17:10] #702 closed

[2021-07-08 17:20] nfx commented on #444
@psg2 willing to pick this one up and test it? `make test-awsmt` is the integration testing run.

[2021-07-08 17:20] nfx commented on #688
@psg2 willing to help with this one?

[2021-07-08 17:21] nfx commented on #692
@psg2 this might be interesting for you

[2021-07-08 17:22] nfx commented on #599
@psg2 this might be interesting for you to look at

[2021-07-08 17:23] nfx commented on #650
should be solved with #676

[2021-07-08 17:24] nfx commented on #592
Closing this issue, as there seems to be no activity in it and nobody needs it.

[2021-07-08 17:24] #592 closed

[2021-07-08 20:24] mahmood2103015 commented on #716
@nfx Hi

Posted logs. Please let me know how i need to proceed with code.

Regards

[2021-07-08 21:42] #389 closed

[2021-07-08 21:46] nfx commented on #716
What changes admin group data resource?..

[2021-07-08 21:55] mahmood2103015 commented on #716
sorry i didnt get you ?

The users & members are getting recreated every time when i run pipeline. Which should not happen as it may delete data stored by users in databricks workspace.

[2021-07-09 08:35] nfx commented on #716
i cannot reproduce this issue

[2021-07-09 09:38] mahmood2103015 opened #718 "Unable to create Databricks workspace with environment based restriction![ISSUE] Provider bug"
Hi there,

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster
- databricks_job

If this issue appears to affect multiple resources, it may be an issue with Terraform's core,

[2021-07-09 09:43] nfx commented on #718
This is HCL issue, not provider specific issue.

[2021-07-09 09:44] #718 closed

[2021-07-09 09:48] mahmood2103015 opened #719 "Unable to create Databricks workspace with environment based restriction![ISSUE] Provider bug"
Hi there,

I need help.

Trying to create databricks workspace in QA & PROD by restricting in Dev Env. Please  help.

My code i sbelow attached.

### Affected Resource(s)
Link to the page with issues and a screenshot/description of what section has an issue.

I am trying to deploy Databricks workspace in only QA & PROD env but not in Dev.
Using CODE as
provider "databricks" {
alias = "crop"
azure_

[2021-07-09 09:51] nfx commented on #719
Configuration is missing ".id"

[2021-07-09 09:53] #719 closed

[2021-07-09 15:14] psg2 commented on #692
I will take a look into this next week, I believe internally we already have a different set of policies through a module that could be a good fit here.

[2021-07-09 15:19] psg2 commented on #444
I'm interested, but won't be a priority for some time as we don't use IAM Passthrough at Wildlife.

[2021-07-09 15:20] psg2 commented on #688
Yes, I can pick it by next week probably, this seems rather simple to fix. 😄

[2021-07-09 15:34] psg2 commented on #599
I will give a look into this next week.

Unrelated to the issue itself, but just found it interesting that the `terraform refresh` command is being deprecated. Ref: https://www.terraform.io/docs/cli/commands/refresh.html

[2021-07-12 06:27] mahmood2103015 opened #720 "Unable to create Databricks workspace with environment based restriction!"
This is HCL issue, not the provider issue. Configuration is missing ".id" attribute reference:

azure_workspace_resource_id = azurerm_databricks_workspace.cropdbr[1].id

_Originally posted by @nfx in https://github.com/databrickslabs/terraform-provider-databricks/issues/719#issuecomment-877063418_

Hi nfx,
Added condition in Databricks resource as below :

resource "azurerm_databricks_workspace" "

[2021-07-12 06:51] nfx commented on #720
This issue is related to HCL syntax, please post it on Terraform community discussion board:
https://discuss.hashicorp.com/c/terraform-core/27

[2021-07-12 06:52] #720 closed

[2021-07-12 06:53] nfx commented on #599
@psg2 Refresh is more of a stage name, that calls Read callback of a resource

[2021-07-12 07:16] alexott commented on #551
@HamiltonHord Can you provide requested log files?

[2021-07-12 09:24] #716 closed

[2021-07-12 18:08] HamiltonHord commented on #551
Sorry about not circling back around on this. We've dug around a bit further and found that the source of this issue was that the Workspace was inadvertently created with just 2 AZ's (us-east2a & us-east2b). The workspace wasn't surfacing an error to the provider, just silently changing the AZ on the cluster. This was causing a mis-match in what the TF state said the cluster should be, and what th

[2021-07-12 22:21] mbarrien commented on #649
My org is running into this issue updating a database_mws_workspaces object. I suspect a bug at https://github.com/databrickslabs/terraform-provider-databricks/blob/master/mws/resource_workspace.go#L110 since I don't see AccountID being populated in the workspace object being passed to the client.Patch method.

[2021-07-13 09:02] KoenR3 commented on #667
Do you have an ETA on this per chance?  We will start onboarding users on SQL analytics next week and currently every time we run Terraform we all have to give them access again manually.

[2021-07-13 11:41] alexott commented on #680
Really to set Table ACLs we need only following configs (see [example of REST API](https://docs.databricks.com/dev-tools/api/latest/examples.html#cluster-table-acl-example)):

[code]

that could be combined with either high-concurrency, or with single-node clusters.

Here is working config for single node cluster with Table ACLs:

[code]

I'll update documentation for that.

[2021-07-13 12:15] #680 closed

[2021-07-13 13:29] #650 closed

[2021-07-13 13:29] #667 closed

[2021-07-16 11:04] mikemowgli opened #729 "[ISSUE] databricks cluster azure_attributes 'availability' setting fails to converge"
### Terraform Version
terraform v0.15.5
databricks v0.3.5

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_cluster

### Terraform Configuration Files
[code]

### Expected Behavior
the "SPOT_WITH_FALLBACK" value is terraform applied, seemingly with success, but the next terraform apply (or plan) shows that the current value is "ON_DEMAND_AZURE". The config ne

[2021-07-16 11:08] nfx commented on #729
@mikemowgli please run `TF_LOG=debug DATABRICKS_DEBUG_TRUNCATE_BYTES=1024 terraform apply` and get the API log.

[2021-07-16 11:47] nfx commented on #551
@HamiltonHord there's no TF state mismatch here... or at least it's just a normal state transition. I'll close this issue, but let's bring this up in our internal Slack channel to get API to issue some errors.

[2021-07-16 11:47] #551 closed

[2021-07-16 12:53] mikemowgli commented on #729
here you go: https://gist.github.com/mikemowgli/a2b604f63b3225c84de5d16360524230

[2021-07-19 11:48] nfx opened #730 "[ISSUE] TestPreviewAccDashboard failed with unknown JSON inputs received"
Steps to reproduce: `make test-preview TestPreviewAccDashboard --debug`

[2021-07-19 11:58] #693 closed

[2021-07-19 15:27] jamesdowning-chip opened #731 "[ISSUE] New users aren't receiving sign-up email reliably"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_user

### Terraform Configuration Files
[code]

### Expected Behavior
Once the user is created in the workspace an invitation email is sent to the user.

### Actual Behavior
User is successfully created however the user does not always receive a sign-up email. The only way to relia

[2021-07-19 15:35] nfx commented on #731
@jamesdowning-chip this is related to backend. i've just pinged the identity management team - let's see if we need to construct the SCIM request differently. Sometimes it's desired for users not to receive email - e.g. when SSO & invite all users to newly created workspaces and performing some last checks.

but please contact your CSE or AE on this as well

[2021-07-19 15:42] jamesdowning-chip commented on #731
Brilliant, thank you @nfx. I've already been in touch with our solutions architect from DataBricks as well 👍

[2021-07-19 18:55] nfx commented on #731
@jamesdowning-chip Let him know to  Slack me if he finds a solution faster :)

[2021-07-20 17:36] steve148 opened #732 "[ISSUE] Recreating VPC for workspace fails on apply"
### Terraform Version

Terraform version 0.140
Provider version 0.34.0

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_mws_workspace
- databricks_mws_networks

### Environment variable names

n/a

### Terraform Configuration Files
[code]

### Debug Output

n/a

### Panic Output

n/a

### Expected Behavior

The end goal was to change the CIDR block for the V

[2021-07-20 18:16] nfx commented on #731
@jamesdowning-chip i've got some updates. Email is sent whenever user is added for the first time. It's not possible to force sending through underlying SCIM API, because there's nothing in the protocol about it. Closing this one, as we cannot do anything about it on the client library level. Please raise platform feature request through your dedicated SA/AE.

[2021-07-20 18:16] #731 closed

[2021-07-20 18:37] nfx commented on #732
@steve148 Please do workspace update in multiple steps. E.g. create a second network, commit, apply. Then in the next commit/apply change the network. Then in the third commit/apply remove the older network.

This is currently a limitation of the platform. Would you also be able to PR in the documentation bit about it? :)

[2021-07-20 18:39] nfx commented on #649
@mbarrien Good catch! We'll look into this soon

[2021-07-20 18:41] nfx commented on #732
There's also somewhat related bug #649

[2021-07-21 09:11] nfx commented on #732
@steve148 i've raised this issue internally. meanwhile, if you want to do an update, please test out update changes from #734, as current update is broken.

[2021-07-21 09:15] #704 closed

[2021-07-21 13:39] nfx commented on #599
@psg2 do you still want to pick this one up?

[2021-07-21 15:20] psg2 commented on #599
I won't have time to do it soon so I won't make a compromise for now. ):

[2021-07-21 17:29] #555 closed

[2021-07-22 12:32] stikkireddy commented on #729
i believe in azure it should be something like this:
[code]
you should use SPOT_WITH_FALLBACK_AZURE.

[2021-07-22 12:52] alexott commented on #729
Yes, it's [clearly documented](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster#availability)

[2021-07-23 01:59] sogunsemi opened #738 "[ISSUE] Missing required argument error on deployment_name arg that's listed as optional"
### Terraform Version
Terraform v0.13.5
Terragrunt version v0.25.1
Databricks provider version 0.3.5
AWS provider version ~> 3.27

### Affected Resource(s)
- databricks_mws_workspaces

### Environment variable names
N/A

### Terraform Configuration Files
Without `deployment name`:
[code]

With `deployment_name`:
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
Leaving out

[2021-07-23 07:03] mikemowgli commented on #729
Works like a charm. My bad.

[2021-07-23 07:03] #729 closed

[2021-07-23 07:15] nfx commented on #738
This was fixed in the latest version.

[2021-07-23 07:15] #738 closed

[2021-07-23 18:42] steve148 opened #739 "[ISSUE] databricks_job.max_concurrent_runs no default value"
### Terraform Version

0.14.0

Provider version 0.3.4

### Affected Resource(s)

- databricks_job

### Environment variable names

### Terraform Configuration Files
[code]

### Debug Output

### Panic Output

### Expected Behavior

After creating the resource, I expect no changes to be seen when running the terraform plan.

### Actual Behavior

After creating a job and running terraform plan, terr

[2021-07-23 18:45] steve148 commented on #739
I noticed this when I was doing an upgrade of the provider from 0.3.4 -> 0.3.6. It seems like this is still an issue in main branch right now. I think the fix is simple. Specifically `max_concurrent_runs` on the job resource needs to be marked as an optional value with a default value of `1`.

[code]

[2021-07-26 08:59] dugernierg opened #740 "[ISSUE] databricks_permission can't be destroyed when job doesn't exist anymore"
### Terraform Version
v0.15.4
Databricks provider version:; 0.3.6

### Affected Resource(s)
- databricks_permission

### Debug Output

### Panic Output

### Expected Behavior
We are trying to remove a databricks_permission resources for a job that has been manually deleted via the console. We would expect the provider to simply skip this step and delete the resource cleanly.

### Actual Behavior
W

[2021-07-26 09:17] JamesDLD opened #741 "[FEATURE] Support for MSI authentication on Azure"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.0.0
on darwin_amd64
provider registry.terraform.io/databrickslabs/databricks v0.3.6
provider registry.terraform.io/hashico

[2021-07-26 12:38] nfx commented on #741
Hi @JamesDLD , this is related to MSI auth. it's currently not supported.

[2021-07-27 06:56] Tagar commented on #654
+1 to allow passing `skip_validation` through. We have another customer that also has mandatory ec2 tags so the validation always fails. Databricks supports skips validation in UI and REST API, would make sense to support the same in TF.

Internal discussion - https://databricks.slack.com/archives/C531MJ480/p1627299547453600?thread_ts=1626970947.387300&cid=C531MJ480

[2021-07-27 08:29] nfx commented on #739
@steve148 , feel free to send a PR. please make sure to run `make test` and also do run `make test-azcli` (or `make test-awsmt`) for integration test suite. Or at least `TestAccJobResource` and `TestAwsAccJobResource_NoInstancePool`,

[2021-07-27 08:32] nfx commented on #692
@psg2 it would be great if you contribute that one - less to maintain internally :)

[2021-07-27 08:50] #740 closed

[2021-07-27 09:55] #730 closed

[2021-07-27 12:37] KoenR3 opened #747 "[FEATURE] Support for task orchestration"
By activating job orchestration, the new job API needs to be used.

https://docs.databricks.com/data-engineering/jobs/jobs-api-updates.html

Adding this as a feature request for some next release

[2021-07-27 12:38] nfx commented on #747
Hi @KoenR3 , do you actively use current `databricks_job` resource? How big are the workspaces, where this resource is intended to be rolled out?

[2021-07-27 13:38] #649 closed

[2021-07-27 13:38] #732 closed

[2021-07-27 13:53] KoenR3 commented on #747
Hey @nfx ,  yes we actively use it but in our production environment we have not yet switched to task orchestration so that we can keep using Terraform (we are currently using an external airflow scheduler for the complex scheduling).

We have approximately 15 users on the workspace, with about 30 jobs provisioned through Terraform and we expect to onboard more in the coming year.

It is not an ur

[2021-07-27 14:37] Nestor10 commented on #747
Similar use case as above. Too bad there isn't reverse compatibility with the API. But no one likes throwing vX in api paths.

[2021-07-27 15:53] dzeediscoveryzone opened #748 "[ISSUE] Instance pool constant redeployment"
Hi,

We’re running into an odd issue with our Development Account deployment regarding the instance pools. We have terraform modules for our databricks workspaces and all resources inside of them. We have folders for the clusters, instance-pools, cluster policies etc which when you drop json config files inside of them they will deploy/update what is needed.

All of our environments (6 total) have

[2021-07-27 17:35] pietern opened #749 "[ISSUE] databricks_sql_widget parameter ordering causes plan changes"
Repeatedly applying the same state can cause churn on the parameter ordering in `databricks_sql_widget` resources.

Need to figure out how to make the ordering in the API payloads match the ordering in the state.

Likely possible by writing a custom `DiffSuppressFunc`.

[2021-07-27 17:39] nfx commented on #749
@pietern should also be possible with `tf:"slice_as_set"`

or you can sort widgets by something

[2021-07-27 17:51] pietern commented on #749
Can you use `slice_as_set` with non-primitive types?

[2021-07-27 18:32] Nestor10 commented on #747
Ok, turns out that i was wrong about the API. I've activated pipelines in our dev env and terraform still allows deploying jobs.

[2021-07-27 19:53] nfx commented on #749
yes - tf creates a map, where part of the key is the hash of all values inside of non-primitive

[2021-07-27 20:23] nfx commented on #748
@dzeediscoveryzone this looks like an issue on the platform, where GET doesn't return what was in the POST. We'll add another `DiffSuppressFunc`. To immediately solve your issue, please add `ignore_changes` lifecycle https://www.terraform.io/docs/language/meta-arguments/lifecycle.html#ignore_changes

[2021-07-27 20:51] #739 closed

[2021-07-27 21:04] dzeediscoveryzone commented on #748
@nfx thank you, that did the trick. I added the below to resolve this until the fix is in place:

[code]

[2021-07-27 21:55] nfx commented on #748
We probably need to document this on docs, as adding diff suppressions in the codebase may be too risky.

[2021-07-28 07:58] #444 closed

[2021-07-29 11:22] joselcaguilar opened #754 "[ISSUE] Provider bug with databricks_user resource"
### Terraform Version
1.0.3

### Databricks Provider Version
Tested on 0.3.5 and 0.3.6

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_user

### Environment variable names
AzureRM auth is working due to I'm deploying the databricks_cluster and databricks_group without issues.

### Terraform Configuration Files
[code]

### Debug Output
Error: MALFORMED_REQUE

[2021-07-29 11:30] nfx commented on #754
Hi @joselcaguilar - there's internal ticket about this issue already, as this is a platform issue. Please raise this to Azure Support or Databricks Support.

[2021-07-29 11:30] #754 closed

[2021-07-29 11:57] joselcaguilar commented on #754
@nfx Could be related with a blankspace in the display_name autogenerated (which is optional based on the Databricks provider docs)? At least in my test, the error is raised only with 1 user which Databricks Workspace has added a blankspace:
`xxx@corp.com Surname`

I have tried adding `display_name = trimspace(local.adbGroupUsers[count.index])` without success but maybe can be fixed internally?

T

[2021-07-30 08:52] #749 closed

[2021-07-30 15:36] spunuru opened #757 "token permission added to a group in Terraform workspace is removed by token permission added to another group in a different Terraform workspace"
Multiple projects use same Databricks Airgapped Private cloud Databricks environment/workspace.
Each project has its own Terraform workspace. Each project in its Terraform workspace, has below block of code to grant token authorization, to the project specific group.

[code]

Once a project applied Terraform, it granted the token permission to its group. When I apply Terraform for second project,

[2021-07-30 15:49] spunuru commented on #757
The issue does not seem specific to token authorization, but also other resources like folders, jobs, clusters etc.

[2021-07-30 18:04] akornilo opened #758 "[ISSUE] Specifying Libraries in New Cluster"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.0.3
on darwin_amd64
+ provider registry.terraform.io/databrickslabs/databricks v0.3.6

### Affected Resource(s)
- databric

[2021-07-30 18:05] nfx commented on #757
@spunuru This is strange. Can you contact support with debugged (TF_LOG=debug terraform apply) logs? Doesn't seem to be plugin issue.

[2021-07-30 18:45] #758 closed

[2021-08-02 08:59] #757 closed

[2021-08-02 09:01] nfx commented on #757
@spunuru this is not a plugin issue.

[2021-08-02 13:24] JCZuurmond opened #761 "[ISSUE] New mount key value does not recreate a mount"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_azure_adls_gen2_mount
- *_mount (I guess)

If this issue appears to a

[2021-08-02 13:30] nfx commented on #761
This can be solved by adding custom field annotation that would set ForceNew on tf schema in reflect_resource.go

@JCZuurmond Willing to PR this in?

[2021-08-02 13:33] JCZuurmond commented on #761
I am willing to give it a try, but not expecting to start with this before my holiday. So, then I will start at the end of August.

[2021-08-02 13:59] nfx commented on #761
@JCZuurmond actually, the fix is simpler, will include it in 0.3.7

[2021-08-02 14:02] nfx commented on #761
actually, the fix is a bit different. We'll look into it in scope of #497 . Closing this one to keep the focus.

[2021-08-02 14:02] #761 closed

[2021-08-02 16:38] #688 closed

[2021-08-05 05:07] tylangesmith opened #762 "[FEATURE REQUEST] Re-add Resource `databricks_instance_profile` `skip_validation` option"
Hey all,

As an enterprise customer we've recently started configuring all of our Databricks configuration using infrastructure as code principles. This has lead us to using this terraform databricks provider.

One of our current frustrations comes from the `databricks_instance_profile` resource. The 2.0 api specifies that the instance profile is validated using the `aws ec2 run-instance --dry-run

[2021-08-05 07:22] nfx commented on #762
How to guarantee that instance profile added would work, if we skip validation? There were multiple complaints that clusters with attached profiles didn't work.

[2021-08-05 07:31] tylangesmith commented on #762
That's the risk you run when using the `skip_validation` option which is probably a fairly obvious side effect.

To avoid this you would have the `skip_validation` flag as optional and set the default to `false`.

This would not impact current consumers of the resource while also giving the option for users who understand the potential impacts. This also brings the resource more inline with the 2.

[2021-08-05 08:45] nfx commented on #762
@tylangesmith provider core team doesn't currently have cycles for this feature request. If you still would like to have this functionality, please send a pull request with the passing output of `make test-awsmt` and we'll merge that in.

[2021-08-05 17:06] tomarv2 opened #763 "[DOC] Missing "type" field in policy_overrides"
Hi Team,

I noticed that the example on this page https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster_policy says below:

[code]

If i use it, its throwing an error:

[code]

If I add the "type" field it works:

[code]

I think it should be set as the default variable.

[2021-08-06 13:22] #763 closed

[2021-08-09 13:52] JuanCepedaM opened #765 "[ISSUE] Provider failing to authenticate using Azure Service Principal"
Hello.

We're trying to use databricks provider with azure service principal authentication, to be able to deploy our clusters, notebooks and jobs, however, we cannot authenticate with the SP even with the permissions granted on Databricks type of resources and the token being generated correctly (see gist).

Service principal code is as follows:

[code]

This might be a permissions issue but we c

[2021-08-09 14:02] nfx commented on #765
@JuanCepedaM

You cannot create secret scope by a principal

[2021-08-09 14:08] JuanCepedaM commented on #765
@nfx Thanks for the reply, How should I create and authenticate?, before trying terraform I did this manually using the API and it worked.

Which permissions should I give the Service Principal to be able to create all the other resources, and how can I create a Secret Scope?.

[2021-08-10 06:01] alexott commented on #765
KeyVault-baked secret scopes could be created only with user's AAD token - it's a limitation on Azure side, and it's clearly documented: https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/secret_scope#keyvault_metadata

[2021-08-10 10:38] nfx commented on #765
@JuanCepedaM

1. the version you're using is too old - `v0.3.2` - please switch to v0.3.7.
2. service principal has to get `Contributor` role assignment

[2021-08-10 10:38] #765 closed

[2021-08-10 13:20] waqarkhankpmg opened #766 "[DOC] https://registry.terraform.io/providers/databrickslabs/databricks/0.3.6/docs/resources/group doesnt include workspace_access argument"
### Affected Resource(s)
databricks_group

### Expected Details
workspace_access is not documented

### List of things to potentially add/remove:
add workspace_access to args list
https://registry.terraform.io/providers/databrickslabs/databricks/0.3.6/docs/resources/group

[2021-08-10 13:26] nfx commented on #766
@waqarkhankpmg PR welcome :)

[2021-08-11 07:09] hoses-h opened #768 "[ISSUE] Provider bug"
I wanted to know if we could import the resource databricks_token, there is no import command in the resource page and we got a weird error when trying to import a token.

### Terraform Version
Terraform v1.0.1

### Affected Resource(s)
databricks_token

### Environment variable names

### Terraform Configuration Files
We are not allowed to indicate the terraform code. But here is the import comma

[2021-08-11 07:27] nfx commented on #768
Tokens can't be imported.

[2021-08-11 15:19] smirza3 opened #772 "[ISSUE] Provider bug - using Azure provider 2.7.1 leads to wrong API call from Databricks provider"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform version = 0.13.2

### Affected Resource(s)
Cannot load Terraform plan for Databricks resources

### Expected Behavior
Refresh

[2021-08-11 15:22] smirza3 commented on #772
Full error message
Error: Invalid JSON received (503 bytes): <!doctype html><html><head><meta charset="utf-8"/><meta http-equiv="Content-Language" content="en"/><title>Databricks - Sign In</title><meta name="viewport" content="width=960"/><link rel="icon" type="image/png" href="/favicon.ico"/><meta http-equiv="content-type" content="text/html; charset=UTF8"/><link rel="icon" href="favicon.ico"></h

[2021-08-11 15:22] smirza3 commented on #772
Error: Invalid JSON received (503 bytes): <!doctype html><html><head><meta charset="utf-8"/><meta http-equiv="Content-Language" content="en"/><title>Databricks - Sign In</title>
<meta name="viewport" content="width=960"/><link rel="icon" type="image/png" href="/favicon.ico"/><meta http-equiv="content-type" content="text/html; charset=UTF8"/><link rel="icon" href="favicon.ico"></head><body class="l

[2021-08-11 15:44] #772 closed

[2021-08-12 20:57] RXR8797 opened #773 "[ISSUE] Provider bug: Update/Delete databricks_instance"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-08-12 21:17] RXR8797 opened #774 "[ISSUE] Delete databricks_instance_pool resources sometimes creating cyclic dependencies"
Hi Team,

We are trying to update the node pool instance type from Standard_E16_v3 to Standard_DS3_v2 but ran into a cycle error. The same behavior is seen when we tried to destroy the node pool.

### Terraform Version
1.0.0

### Databricks provider version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_instance_pool
- databricks_permissions
- datab

[2021-08-12 21:19] #773 closed

[2021-08-13 05:51] idscau opened #775 "[ISSUE] databricks_token destroy fails when token is expired"
### Affected Resource(s)
- databricks_token

### Terraform Configuration Files
[code]

### Debug Output

[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform apply`
2. wait until token expired
3. `terraform destroy`

[2021-08-13 06:05] alexott opened #776 "Add force_new to reflect_resource"
We can simplify declaration of resources by adding the `force_new` annotation to fields.

[2021-08-13 13:09] abij opened #777 "[ISSUE] Service Principal part of group does not have permissions on Secret scope"
### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_permissions
- databricks_service_principal
- databricks_group_member

The issue is more a Databricks bug, terraform is doing the right thing, not sure. whats the best place to report it:

- Group is created.
- SP is created
- SP is added to the group
- Group has READ access to Secret Scope.
- Group has Cluster-

[2021-08-13 13:09] abij commented on #777
Lucky number?

[2021-08-13 14:02] abij commented on #777
Extra note: the SP is part of the default group `users`, granting this group READ access to a Secret Scope will also not work for the SP.

[2021-08-13 19:23] adionisioFD commented on #762
Hey, came across this issue recently too. We were trying to enforce tags on cluster creation to follow our organization standards using this documentation as reference: https://docs.databricks.com/clusters/configure.html#enforce-mandatory-tags

Having the mandatory tag policy on the cross account role makes validation fail when a new instance profile is added. Seconding the request to skip validat

[2021-08-16 08:59] nfx commented on #777
@abij is this terraform problem or platform problem? :) did you raise the ticket already? :)

[2021-08-17 10:03] KoenR3 opened #778 "[ISSUE] databricks_permissions complains about workspace_id"
### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_permissions

### Debug Output
Because of confidential info in the apply, I cannot give the full debug output

### Expected Behavior
Applying a permission for tokens should create the permission (everything worked in 0.3.6)

### Actual Behavior
Complains about the workspace ID missing (seems to be it wants to ha

[2021-08-17 10:08] KoenR3 commented on #778
It seems the issue now persists on all resources no matter which version of the provider I use, even after reverting the code changes.  I will close this and investigate further...

[2021-08-17 10:42] KoenR3 commented on #778
I will have to reopen this as I cannot find a root cause anymore.  Any apply on databricks_permissions for tokens now gives a `INVALID_PARAMETER_VALUE: Missing required field: workspace_id`

[2021-08-17 15:39] rinzool commented on #778
:information_source: I have the same issue. I noticed that it does *not* appear for passwords (with `authorization = "passwords"`)

[2021-08-17 22:54] thedannywilcox opened #779 "[Issue] databricks_instance_profile fails when aws_iam_instance_profile created in same module"
### Terraform Version
1.0.3

### Affected Resource(s)
Please list the resources as a list, for example:
- aws_iam_role
- aws_iam_instance_profile
- databricks_instance_profile

### Environment variable names
N/A

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
When creating an IAM role and instance profile, I would expect the databrick

[2021-08-18 00:32] janaekj commented on #747
Our Organization would also like to see support for newly released MULTI-TASK Jobs.  now in public preview since end of july. https://docs.databricks.com/data-engineering/jobs/index.html

[2021-08-18 07:04] vnourdin commented on #778
Same issue in our projects too !

[2021-08-18 12:45] dugernierg opened #780 "[ISSUE] "Inconsistent final plan" error when updating cluster local dependencies."
Hello,

I'm encountering a strange error whenever I upload a new version of a local wheel and add it to my cluster library. Whenever I update the local file, I'll get a `Error: Provider produced inconsistent final plan` for all the libraries listed on my cluster during the apply stage (see full error message below). However, the same terraform file will run without issue the second time around.

T

[2021-08-18 12:55] nfx commented on #780
@dugernierg we're thinking about adding `databricks_library` resource in long term instead of `library` blocks - would you think it's a better approach?

[2021-08-18 13:38] dugernierg commented on #780
@nfx Well, I don't know if I'm the right person to take that decision, but since you ask me to weight in on the matter:

On one hand, I can see `databricks_library` to make logical sense as a separate resource unit. On the other hand, if a cluster has a lot of libraries attached to it, it will significantly lengthen the overall terraform file since the user would have to repeat the cluster id insi

[2021-08-18 15:08] mark-greene opened #781 "[ISSUE] Azure authentication stopped working with azurerm v2.71.0+"
## Terraform Version
terraform v1.04
databricks v0.3.7
azurerm v2.71.0+ (works on ≤2.70.0) cc @favoretti

## Quick Mitigation: use `azurerm ≤2.70.0` or `azurerm >= v2.73.0`

### Terraform Configuration Files
[code]

or another example

[code]

### Actual Behavior
[code]

and logs show `Explicit and implicit attributes: azure_client_id, azure_client_secret, azure_tenant_id`, though `azure_databrick

[2021-08-18 15:39] alexott commented on #781
Have you looked through behavior changes documented in changelog?

[2021-08-18 17:32] mark-greene commented on #781
That's always the first place I look and I did not see anything obvious.  There have not been any added since v0.3.4 and this ran successfully with v0.3.6.  This is recent breakage.  The error was first seen in our Azure DevOps pipeline that deploys / manages our workspace.  To debug the issue, I ran our terraform automation locally with the same results.  When running in the Azure DevOps pipeline

[2021-08-18 17:44] alexott commented on #781
It's interesting.  I really thought that it's caused by this one, introduced in 0.3.6:

but it was running with 0.3.6, then it's something else. So we need to look what could be wrong there.

[2021-08-18 20:31] roy-work opened #782 "[ISSUE] Subsequent plan has changes?"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.
[code]

`0.3.2` of the databricks provider. (<s>I'm going to try upgrading this, as I see it is not the most recent.</s> It seems like other bugs in the provider prevent upgrading. I'll see about filing a separate issue

[2021-08-18 22:11] roy-work opened #783 "[ISSUE] Provider is unable to authenticate"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may h

[2021-08-19 05:53] alexott commented on #783
looks like a dupe of #781

[2021-08-19 06:23] nfx commented on #781
It might be related to Google OIDC authorizer then, which was added in 0.3.7

Rollback to 0.3.6, for now

[2021-08-19 06:30] nfx commented on #781
@mark-greene please run TF_LOG=DEBUG terraform apply to enable debug mode through the TF_LOG environment variable. Look specifically for "Explicit and implicit attributes" lines, that should indicate authentication attributes used. Please paste those here

[2021-08-19 06:38] alexott commented on #781
Interesting.  I just retested 0.3.7 with SPN auth (with AAD & PAT), and also AZCLI authentication - it works for me.

For SPN auth you should see

[code]

For SPN auth with PAT you should see:

[code]

[2021-08-19 06:42] nfx commented on #783
@roy-work please run TF_LOG=DEBUG terraform apply to enable debug mode through the TF_LOG environment variable. Look specifically for "Explicit and implicit attributes" lines, that should indicate authentication attributes used. Please paste those here

[2021-08-19 11:15] KoenR3 commented on #778
@rinzool What did you do to fix it?

[2021-08-19 13:40] epa095 opened #784 "Validation slow with multiple mountpoints"
In
https://github.com/databrickslabs/terraform-provider-databricks/blob/dfa5e81875d17e6c806f814c414f09859dd0dbdc/storage/mounts.go#L35 the function `dbutils.fs.refreshMounts()` is called multiple times. This function is quite slow (ca 20 seconds for me), and running many of them makes validation very slow. Maybe its possible to make it such that it is ran only once?

[2021-08-19 15:04] roy-work commented on #783
Yes, this does appear to be a dupe of 781.

See the notes in "Important Factoids"; for me, everything from 0.3.2 to 0.3.7 is broken. (& I simply haven't tested <0.3.2.)
What causes these to break appears to be the `azurerm` version: if I have `azurerm` 2.71.0 or later, I auth fails as described above; if I have ≤2.7.0, then it succeeds.

[2021-08-19 15:09] roy-work commented on #783
[code]

I am presuming that should include `azure_workspace_resource_id`?

[2021-08-19 18:40] mark-greene commented on #781
@nfx Here is the output of the plan. It is failing on the plan so I'm not trying an apply.  It is not showing any output like @alexott mentioned.
[code]
Again I can get a plan to work with methods 1,2 and 5 (databricks), just not with 2 or 3 (azure).

[2021-08-19 19:13] KoenR3 commented on #778
The issue seems to have resolved.  Was it an issue on the platform side?  @vnourdin could you check if it works on your projects?

[2021-08-19 19:16] rinzool commented on #778
I did nothing I resolved itself. @vnourdin confirm it to me too

[2021-08-20 01:24] sunscorch opened #786 "[ISSUE] we can not provison databricks cluster through this provider"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
+ provider registry.terraform.io/databrickslabs/databricks v0.3.7
+ provider registry.terraform.io/hashicorp/azurerm v2.72.0

### Affec

[2021-08-20 06:46] alexott commented on #786
looks like general backend problem not related to terraform.

P.S. Please revoke your personal access token that was used here.  And in general either use [environment variables](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs#environment-variables) or use `~/.databrickscfg` file that is used by `databricks-cli`

[2021-08-20 07:19] nfx commented on #786
@sunscorch Please contact support with error message you've received

[2021-08-20 07:19] #786 closed

[2021-08-20 07:50] nfx commented on #784
@epa095 without refreshing mounts we can't guarantee the consistency state of removing or changing mounts. It'll going to be transparently replaced once proper REST API for mounts is there

[2021-08-20 07:50] #784 closed

[2021-08-20 07:58] epa095 opened #787 "Validation slow with multiple mountpoints 2"
Ref:
_Originally posted by @nfx in https://github.com/databrickslabs/terraform-provider-databricks/issues/784#issuecomment-902505242_

(This is really a reply, but it is not even possible to reply in the locked issue):

I understand that the mounts must be refreshed before checking. What I question is if it is really needed to refresh it *for each mount*. It seems like it should be possible to fir

[2021-08-20 08:06] #787 closed

[2021-08-20 08:09] nfx commented on #779
@thedannywilcox Interesting. I haven't heard of this issue from others.

Can you experiment with adding retries into resource itself and file a pull request?

[2021-08-20 08:13] nfx commented on #778
@vnourdin @KoenR3 @rinzool I'm checking with IAM team now

[2021-08-20 08:18] #692 closed

[2021-08-20 12:17] alexott commented on #781
Please send us debug logs (with `TF_LOG=DEBUG DATABRICKS_DEBUG_TRUNCATE_BYTES=250000` set) for both implicit & explicit authentication (make sure that client secret is removed from the logs for explicit auth). You can send them to alexey.ott at databricks.com

[2021-08-20 12:38] nfx commented on #783
@roy-work yes, `azure_workspace_resource_id` should not be empty. i'm closing this issue as duplicate in favour of #781

let's continue discussions there

[2021-08-20 12:38] #783 closed

[2021-08-20 12:50] nfx commented on #781
potential root causes are:

https://github.com/hashicorp/terraform-provider-azurerm/pull/12543
https://github.com/hashicorp/terraform-provider-azurerm/issues/13056
https://github.com/databrickslabs/terraform-provider-databricks/pull/721

[2021-08-20 12:55] nfx commented on #778
Closing this issue for now, as it seems to be fixed now. Please reopen it if re-occurs

[2021-08-20 12:55] #778 closed

[2021-08-20 12:55] nfx commented on #782
Duplicate of #748

[2021-08-20 12:55] #782 closed

[2021-08-20 13:45] favoretti commented on #781
// cc @tombuildsstuff

[2021-08-20 13:51] iandexter opened #789 "[ISSUE] Azure databricks_cluster.RESOURCE_NAME.url points to regional FQDN, not the per-workspace FQDN"
### Terraform Version
[code]
### Affected Resource
- `databricks_cluster`

### Environment variable names
None

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
None

### Expected Behavior
The URL should be in the form of `https://adb-WORKSPACE_ID.XX.azuredatabricks.net/?o=WORKSPACE_ID#setting/clusters/CLUSTER_ID/configuration`

### Actual Behavior
The URL is `ht

[2021-08-20 13:52] roy-work commented on #748
You've closed #782 as a duplicate of this one. And … maybe it is? This part concerns me a bit, however:

[code]

We looked specifically at that change yesterday, trying to debug this, and what actually got created was a D3_v2, not a DS3_v2. The UI in Azure, I'm also able to create a DS3_v2 specifically, and it shows up differently than what is created by the provider. To me, in that specific case,

[2021-08-20 13:58] nfx commented on #789
@iandexter
What is the host name in configuration profile? It's takes prefix from there

[2021-08-20 14:16] nfx commented on #781
researching those things now

[2021-08-20 14:22] mark-greene commented on #781
With the release of hashicorp/azurerm v2.73.0 everything is now working as expected.

[2021-08-20 14:30] iandexter commented on #789
You're correct: the FQDN is the per-region one. Is there a way to infer the per-workspace FQDN for the URL?

[2021-08-20 14:48] nfx commented on #789
@iandexter if it's an old-style Azure Databricks Workspace URL, we can't do much about it, as we cannot infer the XX from workspace ID. This issue cannot be fixed.

Who uses old-style URLs, anyway?...

[2021-08-20 14:48] #789 closed

[2021-08-20 14:50] nfx commented on #780
@dugernierg `databricks_libraries` won't happen - it'll have the same problems as `library` block.

[2021-08-20 17:11] nfx commented on #778
And I can confirm it is just a glitch.

[2021-08-20 17:14] nfx commented on #781
I'll improve error reporting in the next release and it'll contain field/env variable names.

[2021-08-21 08:39] nfx commented on #748
@roy-work it looks more of a platform configuration drift error - not returning entities the same as they were created - please open a support ticket and reference this issue.

Sometimes fixing this on platform side is taking longer and we add "special cases" on Terraform plugin side.

[2021-08-22 13:46] sunscorch opened #792 "[DOC] the category's value is not right"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general Terraform questions, please see: https://www.terraform.io/community.html.
This template is for both adding enhancement as well as pointing out issues with the provider documentation.

### Affected Resource(s)
https://github.com/

[2021-08-22 13:58] sunscorch opened #793 "[ISSUE] feature request add exclude feature in the category"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see https://www.terraform.io/community.html.

### problem
As I feedback in https://github.com/databrickslabs/terraform-provider-databricks/issues/786#event-5185213134
We found that the VM types return by

[2021-08-22 16:36] #793 closed

[2021-08-22 20:15] epa095 opened #795 "[FEATURE]: Use a ephemeral job cluster for mount checking."
The checking of mounts for `databricks_azure_adls_gen2_mount ` take a long time with many mounts. With several concurrent PRs all checking the mounts, the mount-checking-cluster either scales to many many many nodes (if allowed), or PRs start to time out. If *each* PR could make their **own** ephemeral cluster (like the job-clusteres) then the different PRs would at least not interfer with each ot

[2021-08-22 20:33] nfx commented on #795
@epa095 Please create a bigger dedicated mounting cluster and specify it via existing cluster id attribute

[2021-08-22 20:35] #795 closed

[2021-08-23 14:51] johnc1996 opened #796 "[DOC] Link doesn't go to correct page"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general Terraform questions, please see: https://www.terraform.io/community.html.
This template is for both adding enhancement as well as pointing out issues with the provider documentation.

### Affected Resource(s)
https://registry.te

[2021-08-23 19:27] roy-work commented on #748
I'm not sure whether either I am not following, or perhaps I'm not agreeing.

Yes, I acknowledge that sometimes in Terraform, the exact string as was specified during creation doesn't come back when queried. Normally I'll either ignore these, or adjust the TF to match what Azure is returning, to avoid the drift/difference.

But this,

[code]

is not a case of that: the `D3` and `DS3` node types in

[2021-08-24 07:58] alexott commented on #748
@roy-work can you show the declaration of the instance pool? Are you using node_type data source?

[2021-08-24 08:00] #781 closed

[2021-08-24 18:21] davehowell opened #801 "[FEATURE] databricks_aws_s3_mount encryption"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- databricks_aws_s3_mount
- databricks_mws_workspaces

### Expected Behavior
Customer data buckets should be encrypted either globally or per bucket.

### Actual Behavior
There is no way to set encryption on customer data buckets globally in the workpace. It is also not possible per bucket as t

[2021-08-24 18:37] davehowell commented on #762
@tylangesmith 👋

The [aws ec2 run-instances](https://docs.aws.amazon.com/cli/latest/reference/ec2/run-instances.html) command also has a `--tag-specifications` option that can pass a list tags to apply to the ec2 or EBS volume(s). For completeness it would probably be better if it did the dry-run validation and actually passed through those tags, considering that you have to specify them in the in

[2021-08-24 21:45] tylangesmith commented on #762
Hey @davehowell, small world 😆

Yeah I had this discussion with our Databricks SA, highlighting these exact issues i.e. the current validation implementation will not work for our AWS environment and likely more customers as they mature their cloud environments. Hence why we want to use the `skip_validation` functionality.

This sort of simple validation is something I've seen as a common theme ac

[2021-08-25 04:47] davehowell commented on #762
@tylangesmith I see, makes sense then. It should be consistent with the other Databricks APIs. If that feature was previously removed it might be easy to cherry pick it out of the history.

[2021-08-25 07:16] alexott commented on #801
`databricks_aws_s3_mount` will be obsolete after #497 is implemented, so it should be done there. I need to investigate if it would be possible to specify encryption pieces via extra_options or it requires the third argument to the `dbutils.fs.mount`

[2021-08-25 08:21] #776 closed

[2021-08-25 08:25] nfx commented on #801
@alexott it's a third argument over there

[2021-08-25 08:30] #796 closed

[2021-08-25 08:48] johnc1996 commented on #796
Have just checked and the link still appears to be going to the wrong page

[2021-08-25 08:55] alexott commented on #796
@johnc1996 it's not published yet.

[2021-08-25 08:57] johnc1996 commented on #796
@alexott ah thankyou

[2021-08-25 09:16] #792 closed

[2021-08-25 09:19] nfx commented on #762
What a chat here 😆

[2021-08-25 09:45] Satyricon opened #803 "[ISSUE] databricks_azure_adls_gen2_mount fails during PLAN phase because cluster does not exist"
Hello,

I am trying to understand why are we getting the following error when running our databricks configuration Terraform project that is using `databricks_azure_adls_gen2_mount` resource.

[code]

We create the mount using `cluster_id = null` option, so relying on provider to create the cluster for us.
Looking to Workspace I can't find `terraform-mount` cluster anymore.

My only guess is this:

[2021-08-25 09:54] nfx commented on #803
@Satyricon I think I've fixed this issue in some of the later releases. Please update to 0.3.7 and tell if the issue persists.

Otherwise file a support ticket with error messages - looks like a platform cluster manager issue

[2021-08-25 09:59] Satyricon commented on #803
Thanks @nfx! I will test with latest version

[2021-08-25 10:16] Satyricon commented on #803
It didn't work. Still the similar error `0825-100237-bunt436 is not able to transition from TERMINATED to RUNNING`.
@nfx - can you explain the logic how should it work? If I delete  `terraform-mount` cluster, should trhe provider be able to recover from it and recreate it?

[2021-08-25 11:28] nfx commented on #803
@Satyricon this is not the provider issue - `Self-bootstrap failure during launch. Please try again later and contact Databricks if the problem persists. databricks_error_message: Self-bootstrap failure during launch. Please try again later a..., Termination info: code: SELF_BOOTSTRAP_FAILURE` - please create a support ticket with this message. you probably cannot create other clusters in that wor

[2021-08-25 11:29] nfx commented on #803
Duplicate of #637

[2021-08-25 11:29] #803 closed

[2021-08-25 12:44] Saikishore031 opened #804 "Error: Failed to install provider"
Trying to initialise the terraform for databricks but no luck, can you please help on this
<img width="557" alt="Capture" src="https://user-images.githubusercontent.com/50044342/130792645-06c0cbe4-1d96-400d-aa6f-6e2ce34436f3.PNG">

C:\Temp\Terraform\Test>terraform init -upgrade

Initializing the backend...

Initializing provider plugins...
- Finding hashicorp/azurerm versions matching "2.29.0"...

[2021-08-25 12:52] nfx commented on #804
@Saikishore031 version is too old and no longer in support. please upgrade to 0.3.7

[2021-08-25 12:52] #804 closed

[2021-08-25 13:08] Saikishore031 opened #805 "Error: Failed to install provider databricks"
still am facing the same issue please find the screenshot below

![image](https://user-images.githubusercontent.com/50044342/130795952-c4f5bcd6-9e53-46fd-b344-5c849dbd0043.png)

C:\Temp\Terraform\Test>terraform init

Initializing the backend...

Initializing provider plugins...
- Finding databrickslabs/databricks versions matching "0.3.7"...
- Reusing previous version of hashicorp/azurerm from the

[2021-08-25 13:09] nfx commented on #805
what terraform version do you have? it looks like a general terraform question, ask it on discuss.hashicorp.com

[2021-08-25 13:09] #805 closed

[2021-08-25 13:10] Saikishore031 commented on #805
C:\Temp\Terraform\Test>terraform -version
Terraform v1.0.5
on windows_amd64
+ provider registry.terraform.io/hashicorp/azurerm v2.73.0

[2021-08-25 13:11] Saikishore031 commented on #805
C:\Temp\Terraform\Test>terraform -version
Terraform v1.0.5
on windows_amd64
+ provider registry.terraform.io/hashicorp/azurerm v2.73.0

[2021-08-29 18:39] NestorRV opened #806 "[ISSUE] Can not create databricks resources with Azure Service Principal authentication"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Configuration
I have the following file structure:
[code]

In ./infrastructure/terraform/versions.tf I have the following:
[code]
As you can see, I'm usi

[2021-08-29 18:48] nfx commented on #806
@NestorRV it's a documented case - please put workspace url as output of one module and create resources in Databricks from another module.

[2021-08-29 18:49] #806 closed

[2021-08-29 19:31] NestorRV commented on #806
And how do I have to configure the provider block in each of those modules and in my infrastructure folder? Thanks @nfx

[2021-08-30 07:30] NestorRV commented on #806
Based on you suggestion @nfx I have tried the following

I have the following file structure:
[code]

In `./infrastructure/terraform/versions.tf` I have the following:
[code]
As you can see, I'm using a service principal to login within the azurerm provider. In `./infrastructure/terraform/instance_of_module.tf` I have something like:
[code]

In `./terraform_modules/module/databricks.tf` I have som

[2021-08-30 16:35] davehowell opened #807 "[DOC] Reference to databricks_mws_private_access_settings resource in docs"
### Affected Resource(s)
databricks_mws_vpc_endpoint
https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/mws_vpc_endpoint

This part ->

### Expected Details
The link to [databricks_mws_private_access_settings](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/databricks_mws_private_access_settings) resource goes to a page t

[2021-08-30 16:41] #807 closed

[2021-08-31 10:36] abij commented on #777
No, sorry for the late response. It's a platform ticket. Can you point me to correct place to open ticket?
(I'll close ticket)

[2021-08-31 10:36] #777 closed

[2021-08-31 11:17] nfx commented on #777
@abij contact your CSE :)

[2021-08-31 11:47] #766 closed

[2021-08-31 17:03] #775 closed

[2021-08-31 21:13] NestorRV commented on #806
@nfx any assistance here? Thanks!

[2021-09-01 14:04] NestorRV commented on #806
Maybe @alexott can assist here? Thanks!

[2021-09-02 17:29] nfx opened #818 "Provision account administrators"
Add support to create users at the account level:

[code]

[2021-09-03 15:29] vfortierdatabricks opened #820 "[ISSUE] Provider issue - cannot ignore library block completely"
Hello,

opening this issue for a customer. When you create a cluster ressource, if you want to enable end users to add libraries to the cluster, if you use a lifecycle block to ignore changes to library, if you modify the cluster definition and reapply the terraform, it will remove all libraries from the cluster.

### Configuration
[code]

### Expected Behavior
If the cluster was running with actu

[2021-09-03 15:35] vfortierdatabricks commented on #820
I can see that line: 2021-09-03T11:24:41.779-0400 [DEBUG] provider.terraform-provider-databricks_v0.3.7: POST /libraries/uninstall {  so clearly the ignore block does not work.

[2021-09-03 16:35] nfx commented on #820
Duplicate of #599 (essentially)

Ignoring blocks is part of Terraform, not provider

[2021-09-03 16:36] #820 closed

[2021-09-03 17:20] jdafoe1 commented on #820
I'm not familiar with the internal workings of Terraform vs provider. Having said that, can you elaborate on why this is a terraform  issue and not a provider issue?

Terraform does in fact ignore the changes (i.e. when databricks libraries change outside of terraform, terraform successfully ignores those changes in it's planned output)

However, if a different property on the cluster changes, unr

[2021-09-03 17:33] nfx opened #821 "Handle HTTP 403 responses nicer"
Debugging authentication with 20 different parameters is frequently frustrating, especially for TF first-time users.

Enrich every HTTP 403 error with [niceError](https://github.com/databrickslabs/terraform-provider-databricks/blob/master/common/client.go#L243-L254) wrapper. As well as adding what authorizer was used for specific request, as people frequently forget about `~/.databrickscfg` having

[2021-09-03 17:40] pohlposition commented on #821
Just to add color here:

I'm a TF newbie creating my first ever TF script, and of course I've not gone through a proper tutorial :)

I managed to get a script working that created a workspace from the account (AWS).

I then got stuck when trying to create a PAT token.

I used the TF_LOG=DEBUG to uncover that the workspace provider was being authenticated using a token from my databrickscfg file.

[2021-09-03 17:53] nfx commented on #821
@pohlposition yes, this issue is to shorter time-to-working workspace in cases like yours.

[2021-09-06 23:19] Hidoshi1 opened #822 "[ISSUE] Provider issue - Cannot delete databricks_permissions for job with error "Principal name not defined""
### Configuration
[code]

### Expected Behavior
Deleting the code block should delete the `databricks_permission` resource.

### Actual Behavior
`terraform plan` shows that the resource will be deleted, but running `terraform apply` results in the following error:

"Error: Principal name not defined"

Terraform plan:
[code]

### Steps to Reproduce
Please list the steps required to reproduce the is

[2021-09-07 06:36] nfx commented on #822
@Hidoshi1 I'm afraid issue has too little context. Is group/user deleted before deleting permissions? We need debug output

[2021-09-07 14:41] laurensknoll opened #823 "[ISSUE] Destroying databricks_workspace_conf fails when using storeInteractiveNotebookResultsInCustomerAccount"
Hi,

Databricks currently allows us to store all interactive notebook results in the Azure/AWS account. Also see https://docs.databricks.com/administration-guide/workspace/storage.html#configure-the-storage-location-for-all-interactive-notebook-results

When this feature is configured using the `databricks_workspace_conf`-resource. The feature is enabled accordingly after deployment. On destroy, h

[2021-09-09 10:15] Freia3 opened #824 "[ISSUE] Replacement of databricks_instance_pool causes error in update of cluster"
We want to update the databricks runtime version to "9.0.x-scala2.12", so the databricks_instance_pool has to be replaced. Replacing the databricks_instance_pool causes an error in terraform apply.

### Configuration
[code]

### Expected Behavior
databricks_cluster_terraform should have been updated in-place, so that it uses the new pool.
terraform plan:
[code]

### Actual Behavior
│ Error: Can't

[2021-09-13 16:36] hoses-h opened #825 "[ISSUE] Provider issue"
Hi there,
I wanted to know if I could import the resource databricks_dbfs_file properly. I have tried 2 ways, one with the source parameter and the other one with the content_base64 parameter, as indicated in the documentation. **https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/dbfs_file**

I managed to import the resource but either the basencode64 parameter

[2021-09-13 16:44] hoses-h commented on #825
I also have used Databricks version 0.3.6.

[2021-09-13 21:48] dzeediscoveryzone commented on #748
Hi @nfx - while the fix for my particular issue worked for the time being (adding a lifecycle policy to ignore the spot bid price attribute) it's now affecting us from redeploying the instance pool when changing the spark version. What's happening is that the instance pool change is not instructing terraform to force a redeployment in our dev environment (tested and working in QA where the issue d

[2021-09-15 11:17] alexott commented on #748
what terraform version? `preloaded_spark_versions` should be marked with ForceNew

[2021-09-15 21:52] dzeediscoveryzone commented on #748
@alexott

on linux_amd64

I believe the issue is that with the temporary fix I have in place for ignoring the aws attribute for spot bid price, it's ignoring the entire instance pool.

[2021-09-17 09:54] jtaylor100 opened #829 "[FEATURE REQUEST] TFLint ruleset"
Currently I am using rules from the databricks provider in a CI/CD pipeline.

It would be great to have a layer of static code analysis to provide faster feedback, for obvious errors. For example: wrong attribute names on resource and data blocks.

Plugin rulesets for [tflint](https://github.com/terraform-linters/tflint) are currently in development for other providers for popular cloud platforms.

[2021-09-17 10:00] nfx commented on #829
@jtaylor100 team on our end doesn't have cycles to take on this feature request, but we'll be happy to support you if you decide to implement it.

[2021-09-17 11:13] #829 closed

[2021-09-17 11:49] nfx commented on #825
hm... that might be related to md5 hash calculated on client side to detect drift. can you paste output of the error given?

[2021-09-20 04:33] davkohli opened #831 "databricks_v0.3.7 crashed"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Databricks Provider issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Configuration
[code]

### Expected Behavior
What should have happened?
Storage databricks_azure_adls_gen2_mount should be mounted

### Actual Behavior
Wh

[2021-09-20 14:41] alexott commented on #831
just to check - are you using host + token to authenticate to workspace? If yes, can you use az-cli authentication instead (if you're on Azure)?
I know that issue, will see if it will be possible to fix it easily.

[2021-09-22 16:39] nfx commented on #822
closing the issue, as the reporter failed to provide the necessary context. Please open the new issue if problem persists.

[2021-09-22 16:39] #822 closed

[2021-09-22 16:40] nfx commented on #831
it might be related to azure environments, which is fixed in the other branches (or already on master)

[2021-09-22 23:45] davkohli commented on #831
Hi Alex,

Thanks for looking into this issue.
yes, I was using host + token. I will test with az cli and update.
Now I am testing using lower version = "0.3.6", it's not crashing, but still failing with "invalid token".

### Latest code (directly in root main.tf) given below:

`
provider "databricks" {
  azure_workspace_resource_id = azurerm_databricks_workspace.this.id
}
resource "databricks_secr

[2021-09-23 00:21] anthonybench opened #833 "databricks_group_member resource is too inflexible"
Hello!

It would be widely more useful if the `databricks_group` resource could have a members field that took usernames (since they already have to be unique) instead of user ids, like:
[code]

[2021-09-23 00:51] davkohli commented on #831
Hi Alex,

I just checked you responded on other issue - https://giters.com/databrickslabs/terraform-provider-databricks/issues/781

Can you please share your code for testing, I think I might be doing something wrong.

Thanks,
DK

[2021-09-23 04:55] davkohli commented on #831
Hi Alex,

Initially reported error was using "Host + Token", second time reported was using az cli authentication.
and now using SPN:

│ Error: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/removed_subscription_id/resourceGroups/RG_TFMMODULE_DEMO_BKCQPAKPQA_NONPROD_AUE/providers/Microsoft.Databricks/workspaces/ADB_TF

[2021-09-23 08:10] nfx commented on #833
I'll leave it open for a month and if it gets 50 votes and/or comments, we'll see if it makes sense to implement it.

Suggested feature will introduce a second way of managing group membership, which is highly likely to confuse users and become another source of support tickets.

Specifying members by name instead of ID would definitely not be implemented, as groups may have other groups or servic